@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 변수 설정 */
:root{
  --font-size-xl : 3.2rem;
  --font-size-l : 1.8rem;
  --font-size-m : 1.6rem;
  --font-size-s : 1.4rem;
  --main-color : #ea1979;
}

html{
  font-size: 10px;
}

/* *{
  outline: 1px solid turquoise;
} */

body{
  font-family: "Noto Sans KR", sans-serif;
}

.-hidden{
  display: none !important
}
