/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body * {
  color: #1a1a1a;
}

:root {
  --main-color1: #02042c;
  --main-color2: #343b91;
  --gray: #4d4d4d;

  --fz-12: clamp(10rem, 0.857vw, 12rem);
  --fz-13: clamp(11rem, 0.929vw, 13rem);
  --fz-14: clamp(12rem, 1vw, 14rem);
  --fz-15: clamp(13rem, 1.071vw, 15rem);
  --fz-16: clamp(14rem, 1.143vw, 16rem);
  --fz-17: clamp(14rem, 1.214vw, 17rem);
  --fz-18: clamp(15rem, 1.286vw, 18rem);
  --fz-19: clamp(16rem, 1.357vw, 19rem);
  --fz-20: clamp(17rem, 1.429vw, 20rem);
  --fz-21: clamp(18rem, 1.5vw, 21rem);
  --fz-22: clamp(18rem, 1.571vw, 22rem);
  --fz-23: clamp(19rem, 1.643vw, 23rem);
  --fz-24: clamp(20rem, 1.714vw, 24rem);
  --fz-25: clamp(21rem, 1.786vw, 25rem);
  --fz-26: clamp(21rem, 1.857vw, 26rem);
  --fz-27: clamp(22rem, 1.929vw, 27rem);
  --fz-28: clamp(22rem, 2vw, 28rem);
  --fz-29: clamp(23rem, 2.071vw, 29rem);
  --fz-30: clamp(24rem, 2.143vw, 30rem);
  --fz-31: clamp(24rem, 2.214vw, 31rem);
  --fz-32: clamp(25rem, 2.286vw, 32rem);
  --fz-33: clamp(26rem, 2.357vw, 33rem);
  --fz-34: clamp(26rem, 2.429vw, 34rem);
  --fz-35: clamp(27rem, 2.5vw, 35rem);
  --fz-36: clamp(28rem, 2.571vw, 36rem);
  --fz-37: clamp(28rem, 2.643vw, 37rem);
  --fz-38: clamp(29rem, 2.714vw, 38rem);
  --fz-39: clamp(30rem, 2.786vw, 39rem);
  --fz-40: clamp(30rem, 2.857vw, 40rem);
  --fz-41: clamp(31rem, 2.929vw, 41rem);
  --fz-42: clamp(32rem, 3vw, 42rem);
  --fz-43: clamp(32rem, 3.071vw, 43rem);
  --fz-44: clamp(33rem, 3.143vw, 44rem);
  --fz-45: clamp(34rem, 3.214vw, 45rem);
  --fz-46: clamp(34rem, 3.286vw, 46rem);
  --fz-47: clamp(35rem, 3.357vw, 47rem);
  --fz-48: clamp(36rem, 3.429vw, 48rem);
  --fz-49: clamp(37rem, 3.5vw, 49rem);
  --fz-50: clamp(38rem, 3.571vw, 50rem);
  --fz-51: clamp(38rem, 3.643vw, 51rem);
  --fz-52: clamp(39rem, 3.714vw, 52rem);
  --fz-53: clamp(40rem, 3.786vw, 53rem);
  --fz-54: clamp(40rem, 3.857vw, 54rem);
  --fz-55: clamp(41rem, 3.929vw, 55rem);
  --fz-56: clamp(42rem, 4vw, 56rem);
  --fz-57: clamp(42rem, 4.071vw, 57rem);
  --fz-58: clamp(44rem, 4.143vw, 58rem);
  --fz-59: clamp(44rem, 4.214vw, 59rem);
  --fz-60: clamp(45rem, 4.286vw, 60rem);
  --fz-61: clamp(46rem, 4.357vw, 61rem);
  --fz-62: clamp(47rem, 4.429vw, 62rem);
  --fz-63: clamp(47rem, 4.5vw, 63rem);
  --fz-64: clamp(48rem, 4.571vw, 64rem);
  --fz-65: clamp(49rem, 4.643vw, 65rem);
  --fz-66: clamp(50rem, 4.714vw, 66rem);
  --fz-67: clamp(50rem, 4.786vw, 67rem);
  --fz-68: clamp(51rem, 4.857vw, 68rem);
  --fz-69: clamp(52rem, 4.929vw, 69rem);
  --fz-70: clamp(53rem, 5vw, 70rem);
  --fz-71: clamp(53rem, 5.071vw, 71rem);
  --fz-72: clamp(54rem, 5.143vw, 72rem);
  --fz-73: clamp(55rem, 5.214vw, 73rem);
  --fz-74: clamp(56rem, 5.286vw, 74rem);
  --fz-75: clamp(56rem, 5.357vw, 75rem);
  --fz-76: clamp(57rem, 5.429vw, 76rem);
  --fz-77: clamp(58rem, 5.5vw, 77rem);
  --fz-78: clamp(59rem, 5.571vw, 78rem);
  --fz-79: clamp(59rem, 5.643vw, 79rem);
  --fz-80: clamp(60rem, 5.714vw, 80rem);
  --fz-81: clamp(61rem, 5.786vw, 81rem);
  --fz-82: clamp(62rem, 5.857vw, 82rem);
  --fz-83: clamp(62rem, 5.929vw, 83rem);
  --fz-84: clamp(63rem, 6vw, 84rem);
  --fz-85: clamp(64rem, 6.071vw, 85rem);
  --fz-86: clamp(65rem, 6.143vw, 86rem);
  --fz-87: clamp(65rem, 6.214vw, 87rem);
  --fz-88: clamp(66rem, 6.286vw, 88rem);
  --fz-89: clamp(67rem, 6.357vw, 89rem);
  --fz-90: clamp(68rem, 6.429vw, 90rem);
  --fz-91: clamp(68rem, 6.5vw, 91rem);
  --fz-92: clamp(69rem, 6.571vw, 92rem);
  --fz-93: clamp(70rem, 6.643vw, 93rem);
  --fz-94: clamp(71rem, 6.714vw, 94rem);
  --fz-95: clamp(71rem, 6.786vw, 95rem);
  --fz-96: clamp(72rem, 6.857vw, 96rem);
  --fz-97: clamp(73rem, 6.929vw, 97rem);
  --fz-98: clamp(74rem, 7vw, 98rem);
  --fz-99: clamp(74rem, 7.071vw, 99rem);
  --fz-100: clamp(75rem, 7.143vw, 100rem);

  --fz-110: clamp(80rem, 8vw, 110rem);
  --fz-130: clamp(80rem, 8vw, 130rem);
}
