.top-line{
  width: 100%;
  height: 3px;
  background-color: #108ccf;
}

#header{
  position: relative;
  z-index: 998;
  width: 100%;
  height: 100vh;
  color: white;
  padding: 74px 143px;
}

header .logo{
  width: 250px;
  height: 100px;
}

header .logo h1{
  height: 0px;
  overflow: hidden;
}

header .logo img{
  height: auto;
  width: 250px;
  display: block;
}

header .nav{
  position: absolute;
  top: 183px;
}

.nav .nav-list{
  width: 140px;
}

.nav .nav-list::after{
  content: '';
  height: 158px;
  width: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -190px;
}

.nav .nav-item{
  position: relative;
  width: 200px;
}

.nav .nav-item h6{
  font-size: var(--font-size-m);
  line-height: 47px;
  font-weight: 600;
  text-shadow: 2px 2px 7px rgba(0,0,0,0.4);
  cursor: pointer;
}

.nav .nav-item h6:hover,
.subNav-list .suvNav-item a:hover{
  color: #108ccf;
}

.nav .subNav-list__wrap{
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 150px;
  top: 0;
  width: 200px;
}

.subNav-list .suvNav-item a{
  color: #fff;
  display: block;
  font-size: 1.5rem;
  line-height: 33px;
  text-shadow: 2px 2px 7px rgb(0 0 0 / 40%);
  width: 220px;
  background-color: transparent;
  border-left: 1px solid white;
  padding-left: 20px;
  font-weight: bold;
}

header .nav-login{
  position: absolute;
  left: 126px;
  top: 700px;
}

.nav-login li{
  font-size: var(--font-size-s);
  padding: 0 10px;
  height: 28px;
  color: white;
  letter-spacing: -0.1em;
  line-height: 2.4em;
}

/* mobile */
.mobile-nav{
  display: none;
}

/* footer */
.footer{
  height: auto;
  width: 100%;
  margin: 0 auto;
  background-color: #4d4a48;
}

.footer-1{
  width: 100%;
  background-color: #414141;
}

.footer-wrap{
  max-width: 1200px;
  margin: 0 auto;
}

.footer1-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list{
  display: flex;
  color: #fff;
}

.footer-list .list-item a{
  font-size: var(--font-size-footer);
  padding: 10px;
  color: #fff;
  display: block;
}

.footer-top a{
  color: #fff;
  font-size: var(--font-size-footer);
  padding: 1.2rem;
  display: block;
}

.footer-2{
  height: 110px;
}

.footer-info address{
  font-style: normal;
  padding-top: 25px;
}

.footer-info address span{
  line-height: 150%;
  font-size: 1.2rem;
  margin: 0 auto;
  color: #bbb;
}

.mobil-footerIcon{
  display: none;
}

.mobile-address{
  display: none;
}

/* search */
.mobile-searchBar{
  display: none;
}

.mobile-footerIcon{
  display: none;
}

.mobile-footerAdmin{
  display: none;
}

@media screen and (max-width: 768px) {
  #header {
    padding: 3% 1% 3% 0;
    height: 100%;
}

  .top-line{
    display: none;
  }

  .pc-logo, .pc-nav, .pc-login{
    display: none;
  }

  .mobile-nav{
    display: block;
  }

  .mobile-logo{
    text-align: center;
  }
  
  .mobile-logo img{
    width: 50%;
  }

  .icon-search{
    position: absolute;
    top: 10px;
    left: 2%;
    padding: 2%;
    cursor: pointer;
  }

  .icon-bars{
    position: absolute;
    top: 10px;
    right: 2%;
    padding: 2%;
    cursor: pointer;
  }

  .icon-search .fa-search,
  .icon-bars .fa-bars{
    font-size: 20px;
    color: #000;
  }

  .footer {
    background-color: #222;
    height: auto;
    padding-bottom: 10px;
}

  .footer-1{
    display: none;
  }

  .footer-2{
    height: auto;
  }

  .footer-info address{
    font-style: normal;
    padding-top: 0;
  }

  .mobile-footerIcon{
    display: block;
    text-align: center;;
    padding: 18px 0 14px;
  }

  .mobile-footerIcon i{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    background: #555;
    margin-right: 10px;
  }

  address span{
    display: block;
    text-align: center;
  }

  .pc-address{
    display: none;
  }

  .mobile-address{
    display: block;
  }

  .mobile-address p{
    color: #ccc;
    line-height: 150%;
    text-align: center;
    font-size: 1.2rem;
  }

  .mobile-footerAdmin{
    width: 100%;
    text-align: center;
    display: block;
}

  .footerAdmin-btn{
    display: inline-block;
    color: #888;
    border-radius: 4px;
    background: #333;
    padding: 1px 5px 2px;
    margin: 12px 4px 6px;
  }

  .mobile-searchBar{
    display: block;
    border-top: 1px solid #181818;
    background: #282828;
    text-align: center;
    color: #000;
  }

  .mobile-searchBar .input-wrap{
    padding: 30px 0;
  }

  .textInput{
    height: 30px;
    border: 1px solid #181818;
    background: #323232 !important;
    line-height: 2.5em;
    vertical-align: middle;
  }

  .submitInput{
    margin: 0;
    padding: 0 10px;
    height: 32px;
    border: 0;
    background: #000;
    color: #fff;
    vertical-align: middle;
  }

  .mobile-searchBar .close-btn{
    padding: 10px 0;
    width: 100%;
    background: #000;
    color: #fff;
  }

  .mobile-navList__item h6{
    padding: 10px;
    border-top: 1px solid #191919;
    background: #ebf0f5;
    font-size: 1.2rem;
  }

  .sub-navList-item{
    border-top: 1px solid #c7c7c7;
  }
  
  .sub-navList-item a{
    padding: 10px;
    font-size: 1.2rem;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
  }

  .sub-navList-item a::before{
    display: inline-block;
    margin: 0 10px 0 0;
    color: #666;
    content: '▶';
  }

  .mobile-navBtn{
    padding: 10px 0;
    width: 100%;
    border: 0;
    background: #000;
    color: #fff;
    text-align: center;
    tab-size: 1.2rem;
    cursor: pointer;
  }
}