@use '../abstacts' as *;
@use '../_mixin.scss' as *;

// header
header{
    position: fixed;
    width: 100%;
    padding: 70px 20px 20px;
    transition: 0.4s;
    z-index: 999;
    transition: all 0.5s;
  .header-wrap{
    width: 100%;
    height: 60px;
  }
}
header.active{
  padding: 25px 20px 13px !important;
  background: rgba(0, 0, 0, 0.5);
  .menu-deco{
    display: none;
  }
}

.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo{
    flex-basis: 20%;
    padding-left: 80px;
    display: block;
    @include laptopSmall{
      padding-left: 0;
    }
    a{
      display: block;
      max-width: 200px;
      img{
        width: 100%;
      }
    }
  }
  .mainMenu-list{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    .list-item:not(:nth-child(6)){
      @include laptop{
        display: none;
      }
    }
    .list-item{
      position: relative;
      width: 100px;
      text-align: center;
      @include tablet{
        width: auto;
      }
      a{
        color: #e0ded1; 
        font-size: $font-size-s;
        display: block;
        @include tablet{
          font-size: 1.3rem;
        }
      }
      .subMenu-wrap{
        transition: all 0.5s;
        height: 0;
        overflow: hidden;
        position: absolute;
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .subMenu-list{
          .list-item{
            padding: 10px 0;
            text-align: center;
            a{
              color: #fff;
              font-size: 1rem;
              display: block;
              width: 100%;
              font-size: 13px;
              letter-spacing: -0.25px;
            }
          }
        }
      }
    }
    .menu-membership{
      a{
        color: #dfd284;
      }
    }
    .menu-button{
      cursor: pointer;
      width: auto;
      img{
        vertical-align: middle;
      }
    }
    .menu-deco{
      position: absolute;
      letter-spacing: 3.4px;
      transform: rotate(90deg);
      transition: 0.4s;
      opacity: 1;
      top: 80px;
      right: -35px;
      color: #e0ded1;
      font-size: $font-size-s;
    }
  }
  .menu-all{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(33, 33, 33, 0.98);
    z-index: -1;
    transition: all 0.5s;
    .all-wrap{
      display: block;
      height: 100%;
      .menu-list{
        width: 100%;
        height: 100%;
        display: flex;
        @include laptop{
          flex-wrap: wrap;
        }
        .list-item__close{
          @include laptop{
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        .list-item:not(:first-child){
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          @include laptop{
            border: none;
          }
        }
        .list-item{
          width: calc(100% / 6);
          min-height: 150px;
          height: 100%;
          padding: 20px;
          text-align: left;
          @include laptop{
            width: 50%;
            height: auto;
            min-height: 300px;
            border: none;
          }
          .list-item__wrap{
            position: relative;
            top: 45%;
            opacity: 0;
            transition: all 1s;
            width: 100%;
            button{
              width: 100%;
              text-align: right;
              font-size: 3.4rem;
              background: none;
              border: none;
              color: #fff;
              padding: 0 60px 0 0;
              margin: 0;
              transition: 0.4s;
              cursor: pointer;
              @include laptop{
                padding: 0;
              }
            }
            h6 a{
              font-size: 3.5rem;
              color:rgba(255, 255, 255, 0.9);
              font-weight: normal;
            }
            p{
              margin: 10px 0;
              a{
                margin: 20px 0;
                font-size: $font-size-s;
                opacity: 0.5;
                color:#fff;
                font-weight: lighter;
                &:hover{
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
  .menu-all.active{
    opacity: 1;
    z-index: 999;
    visibility: visible;
    .all-wrap{
      .menu-list{
        .list-item{
          .list-item__wrap{
            opacity: 1;
            top: 40%; 
          }
        }
      }
    }
  }
}

