@use '../abstacts' as *;
@use '../_mixin.scss' as *;

// header
header{
    position: fixed;
    width: 100%;
    padding: 70px 20px 20px;
    transition: 0.4s;
    z-index: 999;
  .header-wrap{
    width: 100%;
    height: 60px;
  }
}

.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo{
    padding-left: 80px;
  }
  .menu-list{
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative;
    .list-item{
      position: relative;
      width: 100px;
      text-align: center;
      a{
        font-size: $font-size-s;
        display: block;
      }
      .subMenu-wrap{
        position: absolute;
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .subMenu-item{
          .list-item{
            padding: 10px 0;
            text-align: center;
            a{
              font-size: 1rem;
              display: block;
              width: 100%;
              font-size: 13px;
              letter-spacing: -0.25px;
            }
          }
        }
      }
    }
    .menu-membership{
      a{
        color: #e0ded1;
      }
    }
    .menu-button{
      width: auto;
    }
    .menu-deco{
      position: absolute;
      letter-spacing: 3.4px;
      transform: rotate(90deg);
      transition: 0.4s;
      opacity: 1;
      top: 80px;
      right: -35px;
      color: #e0ded1;
      font-size: $font-size-s;
      font-family: serif;
    }
  }
  .menu-all{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(33, 33, 33, 0.98);
    .all-wrap{
      display: block;
      height: 100%;
      .menu-list{
        width: 100%;
        height: 100%;
        .list-item{
          width: calc(100% / 6);
          min-height: 150px;
          height: 100%;
          padding: 24px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          text-align: left;
          .list-item__wrap{
            position: absolute;
            top: 45%;
            opacity: 0;
            transition: all 0.5s;
            width: 100%;
            button{
              width: 100%;
              text-align: right;
              font-size: 3.4rem;
              background: none;
              border: none;
              color: #fff;
              padding: 0 60px 0 0;
              margin: 0;
              transition: 0.4s;
              cursor: pointer;
            }
            h6 a{
              font-size: 3.5rem;
              color:#fff;
              font-weight: normal;
            }
            p a{
              margin: 20px 0;
              font-size: $font-size-s;
              color:#fff;
              font-weight: lighter;
            }
          }
          .list-item__wrap.active{
            opacity: 1;
            top: 40%;
          }
        }
      }
    }
  }
}