*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

ol, ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

:root{
  --main-color:#2A2D64;

  --fz-160: clamp(80px, 8vw, 160px);
  --fz-90: clamp(40px, 5vw, 90px);
  --fz-68: clamp(24px, 3.5vw, 68px);


  --fz-50: clamp(32.5px, 3.85vw, 50px);
  --fz-49: clamp(32px, 3.8vw, 49px);
  --fz-48: clamp(31.5px, 3.75vw, 48px);
  --fz-47: clamp(31px, 3.7vw, 47px);
  --fz-46: clamp(30.5px, 3.6vw, 46px);
  --fz-45: clamp(30px, 3.5vw, 45px);
  --fz-44: clamp(29.5px, 3.3vw, 44px);
  --fz-43: clamp(29px, 3.1vw, 43px);
  --fz-42: clamp(28.5px, 2.9vw, 42px);
  --fz-41: clamp(28px, 2.7vw, 41px);

  --fz-40: clamp(27.5px, 2.5vw, 40px);
  --fz-39: clamp(27px, 2.45vw, 39px);
  --fz-38: clamp(26.5px, 2.4vw, 38px);
  --fz-37: clamp(26px, 2.35vw, 37px);
  --fz-36: clamp(25.5px, 2.3vw, 36px);
  --fz-35: clamp(25px, 2.25vw, 35px);
  --fz-34: clamp(24.5px, 2.2vw, 34px);
  --fz-33: clamp(24px, 2.15vw, 33px);
  --fz-32: clamp(23.5px, 2.1vw, 32px);
  --fz-31: clamp(23px, 2.05vw, 31px);

  --fz-30: clamp(22.5px, 2vw, 30px);
  --fz-29: clamp(22px, 1.9vw, 29px);
  --fz-28: clamp(21.5px, 1.8vw, 28px);
  --fz-27: clamp(21px, 1.75vw, 27px);
  --fz-26: clamp(20.5px, 1.7vw, 26px);
  --fz-25: clamp(20px, 1.65vw, 25px);
  --fz-24: clamp(19.5px, 1.6vw, 24px);
  --fz-23: clamp(19px, 1.55vw, 23px);
  --fz-22: clamp(18.5px, 1.5vw, 22px);
  --fz-21: clamp(18px, 1.45vw, 21px);

  --fz-20: clamp(18px, 1.4vw, 20px);
  --fz-19: clamp(17px, 1.35vw, 19px);
  --fz-18: clamp(16px, 1.35vw, 18px);
  --fz-17: clamp(15px, 1.3vw, 17px);
  --fz-16: clamp(14px, 1.3vw, 16px);
  --fz-15: clamp(13px, 1.3vw, 15px);
  --fz-14: clamp(12px, 1.2vw, 14px);
  --fz-13: clamp(11px, 1.2vw, 13px);
  --fz-12: clamp(10.5px, 1.2vw, 12px);
  --fz-11: clamp(10px, 1.2vw, 11px);

}