/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
}

.header-wrap {
  height: 150px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 150px;
  width: auto;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.list-item a,
.list-item span {
  color: #fff;
  font-size: var(--font-size-m);
}

.list-item:last-child {
  margin-left: 60px;
}

/* section1 */
.section1 {
  background-image: url(../images/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* section2 */
.section2 {
  width: 100%;
  background: linear-gradient(to bottom, transparent, var(--main-color));
  position: relative;
  z-index: 1;
}

.main-title {
  color: #fff;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 1080px;
  padding-bottom: 400px;
}

.main-title h2 {
  font-size: var(--font-size-100);
}

.main-title p {
  font-size: var(--font-size-xl);
  margin-top: 20px;
}

/* section3 */
.section3 {
  background-color: var(--main-color);
  padding-bottom: 200px;
}

.section3-wrap {
  max-width: 1600px;
  margin: 0 auto;
}

.smartBox1-content {
  display: flex;
  margin-top: 100px;
  align-items: start;
  justify-content: space-between;
}

.smartBox1-text {
  color: #fff;
}

.smartBox1-text h2 {
  font-size: var(--font-size-100);
  font-weight: bold;
}

.smartBox1-text h6 {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.smartBox1-text p {
  font-size: var(--font-size-m);
  width: 650px;
  word-break: keep-all;
  margin-top: 40px;
}

.smartBox1-table {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.smartBox1-table .table1-wrap,
.smartBox1-table .table2-wrap,
.smartBox1-table .table3-wrap {
  color: #fff;
  position: relative;
  width: 100%;
}

table {
  position: relative;
}

table th,
table td {
  font-size: var(--font-size-m);
  text-align: center;
  padding: 10px 20px;
  font-weight: normal;
  white-space: nowrap;
  position: relative;
}

.smartBox1-table table th::after {
  content: "";
  width: 1px;
  height: 110%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

/* section4 */
.section4 {
  padding: 200px 0;
  background-color: var(--gray-f5);
}

.section4-wrap {
  max-width: 1600px;
  margin: 0 auto;
}

.smartBox2-text h2 {
  font-size: var(--font-size-100);
  font-weight: bold;
}

.smartBox2-text h6 {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.smartBox2-text p {
  font-size: var(--font-size-m);
  width: 650px;
  word-break: keep-all;
  margin-top: 40px;
}

.smartBox2-content {
  display: flex;
  gap: 70px;
  align-items: flex-end;
}

.smartBox2-img {
  margin-top: 50px;
}

.smartBox2-table {
  display: flex;
  color: #000;
}

.smartBox2-table table th::after {
  content: "";
  width: 1px;
  height: 110%;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
}

.table-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.table2-wrap {
  margin-left: 44px;
}

/* section5 */
.section5 {
  background-color: #fff;
  padding: 200px 0;
}

.section5-wrap {
  max-width: 1600px;
  margin: 0 auto;
}

.section5 h2 {
  font-size: var(--font-size-100);
  font-weight: bold;
}

.section5-content{
  margin-top: 100px;
  background-color: var(--main-color);
}

.section5-content h6{
  color: #fff;
  font-size: var(--font-size-l);
  font-weight: bold;
  margin-left: 60px;
  line-height: 120px;
}




