/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
}

.header-wrap {
  height: 150px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 150px;
  width: auto;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.list-item a,
.list-item span {
  color: #fff;
  font-size: var(--font-size-m);
}

.list-item:last-child {
  margin-left: 60px;
}

/* section1 */
.section1 {
  background-image: url(../images/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* section2 */
.section2 {
  width: 100%;
  background: linear-gradient(to bottom, transparent, var(--main-color));
  position: relative;
  z-index: 1;
}

.main-title {
  color: #fff;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 1080px;
  padding-bottom: 400px;
}

.main-title h2 {
  font-size: var(--font-size-100);
}

.main-title p {
  font-size: var(--font-size-m);
  margin-top: 20px;
}

/* section3 */
.section3 {
  background-color: var(--main-color);
  padding-bottom: 100px;
}

.section3-wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.smartBox1-wrap{
  display: flex;
  margin-top: 100px;
  align-items: start;
  justify-content: space-between;
}

.smartBox1-text {
  color: #fff;
}

.smartBox1-text h2 {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.smartBox1-text h6 {
  font-size: var(--font-size-m);
  font-weight: bold;
  margin-top: 20px;
}

.smartBox1-text p {
  font-size: var(--font-size-s);
  width: 500px;
  word-break: keep-all;
  margin-top: 20px;
}

.smartBox1-img {
  margin-top: 40px;
}

.smartBox1-img img{
  width: 300px;
  height: 300px;
}

.smartBox1-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 20px;
}

.smartBox1-table .table1-wrap,
.smartBox1-table .table2-wrap,
.smartBox1-table .table3-wrap {
  color: #fff;
  position: relative;
  width: 100%;
}

.smartBox1-table .table1-wrap th,
.smartBox1-table .table2-wrap th,
.smartBox1-table .table3-wrap th{
  width: 120px;
}

.smartBox1-table table th::after {
  content: "";
  width: 1px;
  height: 105%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

/* section4 */
.section4 {
  padding: 100px 0;
  background-color: var(--gray-f5);
}

.section4-wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.smartBox2-text h2 {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.smartBox2-text h6 {
  font-size: var(--font-size-m);
  font-weight: bold;
}

.smartBox2-text p {
  font-size: var(--font-size-s);
  width: 500px;
  word-break: keep-all;
  margin-top: 40px;
}

.smartBox2-img img{
  width: 300px;
  height: 300px;
}

.smartBox2-wrap{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.smartBox2-img {
  margin-top: 40px;
}

.smartBox2-table {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  color: #000;
}

.smartBox2-table .table1-wrap,
.smartBox2-table .table2-wrap,
.smartBox2-table .table3-wrap {
  position: relative;
  width: 100%;
}

.smartBox2-table .table1-wrap th,
.smartBox2-table .table2-wrap th,
.smartBox2-table .table3-wrap th{
  width: 200px;
}


.smartBox2-table table th::after {
  content: "";
  width: 1px;
  height: 105%;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
}

/* section5 */
.section5 {
  background-color: #fff;
  padding: 100px 0 50px;
}

.section5-wrap {
  max-width: 1520px;
  margin: 0 auto;
}

.section5 h2 {
  margin: 0 auto;
  max-width: 1280px;
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.section5-content{
  margin-top: 50px;
  background-color: var(--main-color);
}

.section5-content h3{
  color: #fff;
  font-size: var(--font-size-l);
  font-weight: bold;
  padding: 60px 0;
  text-align: center;
}



#a{
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 24;
  animation: hand-writing 0.45s linear forwards 1.8s;
}

@keyframes hand-writing{
  100%{
    stroke-dashoffset: 0;
  }
}