/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
}

.header-wrap {
  height: 150px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 150px;
  width: auto;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.list-item a,
.list-item span {
  color: #fff;
  font-size: var(--font-size-m);
}

.list-item:last-child {
  margin-left: 60px;
}

/* section1 */
.section1 {
  background-image: url(../images/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* section2 */
.section2 {
  width: 100%;
  background: linear-gradient(to bottom, transparent, var(--main-color));
  position: relative;
  z-index: 1;
}

.section2-wrap{
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-title {
  color: #fff;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 1080px;
  padding-bottom: 400px;
}

.main-title h2 {
  font-size: var(--font-size-100);
}

.main-title p {
  font-size: var(--font-size-m);
  margin-top: 20px;
}

/* section3 */
.section3 {
  background-color: var(--main-color);
  padding-bottom: 100px;
}

.section3-wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.smartBox1-wrap{
  display: flex;
  margin-top: 100px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.smartBox1-text {
  color: #fff;
}

.smartBox1-text h2 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  word-break: keep-all;
}

.smartBox1-text h6 {
  font-size: var(--font-size-m);
  font-weight: bold;
  margin-top: 20px;
  word-break: keep-all;
}

.smartBox1-text p {
  font-size: var(--font-size-s);
  max-width: 500px;
  word-break: keep-all;
  margin-top: 20px;
}

.smartBox1-img {
  margin-top: 40px;
}

.smartBox1-img img{
  width: 80%;
  max-width: 300px;
  aspect-ratio: 1/1;
}

.smartBox1-table {
  color: #fff;
}

.none-tr{
  display: block;
}

.smartBox1-table table th::after {
  content: "";
  width: 1px;
  height: 110%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.smartBox1-table table th{
  width: 40%;
}

/* section4 */
.section4 {
  padding: 100px 0;
  background-color: var(--gray-f5);
}

.section4-wrap {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.smartBox2-text h2 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  word-break: keep-all;
}

.smartBox2-text h6 {
  font-size: var(--font-size-m);
  font-weight: bold;
  word-break: keep-all;
}

.smartBox2-text p {
  font-size: var(--font-size-s);
  max-width: 500px;
  word-break: keep-all;
  margin-top: 40px;
}

.smartBox2-img img{
  width:  80%;
  max-width: 300px;
  aspect-ratio: 1/1;
}

.smartBox2-img {
  margin-top: 40px;
}

.smartBox2-wrap{
  display: flex;
  gap: 5px;
  align-items: flex-start;
  justify-content: space-between;
}

.smartBox2-table {
  color: #000;
}

.smartBox2-table table th::after {
  content: "";
  width: 1px;
  height: 110%;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
}

.smartBox2-table table th{
  width: 40%;
}


/* section5 */
.section5 {
  background-color: #fff;
  padding: 100px 0 50px;
}

.section5-wrap {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
}

.section5 h2 {
  margin: 0 auto;
  max-width: 1280px;
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.section5-content{
  margin-top: 50px;
  background-color: var(--main-color);
  padding: 0 10px;
}

.section5-content h3{
  color: #fff;
  font-size: var(--font-size-l);
  font-weight: bold;
  padding: 60px 0;
  text-align: center;
}

.section5-content .content-1{
  text-align: center;
  padding: 60px 0;
}

.section5-content .content-1 .content-1_title{
  font-size: var(--font-size-m);
  color: #fff;
}

.section5-content .content-1 .caption{
  background-color: #fff;
  color: #002D57;
  position: relative;
}

.section5-content .content-1 .caption::after{
  content: '*IT 장비를 비전도성 냉매(액체)에 담가 직접 냉각하는 방식';
  position: absolute;
  left: 0;
  color: #fff;
  font-size: var(--font-size-xs);
  width: max-content;
  bottom: -30px;
  font-weight: normal;
}

.section5-content .content-1 .content-1_subTitle{
  font-size: var(--font-size-s);
  font-weight: bold;
  margin-top: x;
  color: #fff;
  text-align: left;
  max-width: 610px;
  margin: 89px auto 0;
}

.section5-content .content-1 .content-1_text{
  font-size: var(--font-size-s);
  max-width: 610px;
  margin: 20px auto 0;
  text-align: left;
  color: #fff;
}

.section5-content .content-1 img{
  margin-top: 60px;
  max-width: 1080px;
  width: 100%;
}