/* header */
header{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.header-wrap{
  height: 150px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
  height: 150px;
  width: auto;
}

.menu-list{
  display: flex;
  gap: 40px;
}

.list-item a,
.list-item span
{
  color: #fff;
  font-size: var(--font-size-m);
}

.list-item:last-child{
  margin-left: 60px;
}

/* section1 */
.section1{
  background-image: url(../images/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* section2 */
.section2{
  width: 100%;
  background: linear-gradient(to bottom, transparent, var(--main-color));
  position: relative;
  z-index: 1;
}

.main-title{
  color: #fff;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 1080px;
  padding-bottom: 400px;
}

.main-title h2{
  font-size: var(--font-size-100);
}

.main-title p{
  font-size: var(--font-size-xl);
  margin-top: 20px;
}

/* section3 */
.section3{
  background-color: var(--main-color);
}

.section3-wrap{
  max-width: 1600px;
  margin: 0 auto;
}

.smartBox1-content{
  display: flex;
  margin-top: 100px;
  align-items: start;
  justify-content: space-between;
}

.smartBox1-text{
  color: #fff;
}

.smartBox1-text h2{
  font-size: var(--font-size-100);
  font-weight: bold;
}

.smartBox1-text h6{
  font-size: var(--font-size-xl);
  font-weight: bold;
}
.smartBox1-text p{
  font-size: var(--font-size-m);
  width: 650px;
  word-break: keep-all;
  margin-top: 40px;
}

.smartBox1-table{
  margin-top: 100px;
}

.table1-wrap{
  color: #fff;
}

table th,
table td{
  font-size: var(--font-size-m);
}

.table1-wrap{
  
}
