@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --gray-f5:#f5f5f5;
  --main-color : #002D57;
  --font-size-s:2rem;
  --font-size-m:2.4rem;
  --font-size-l:4rem;
  --font-size-xl:5rem;
  --font-size-100:10rem;
}

html{
  font-size: 10px;
}

*{
  /* outline: 1px solid turquoise; */
} 

body{
  font-family: "Noto Sans KR", sans-serif;
}

.white-line{
  width: 100%;
  height: 1px;
  background-color: #fff;
}

