@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 변수 설정 */
:root{
  --font-size-xl : 3.6rem;
  --font-size-l : 2.6rem;
  --font-size-m : 1.9rem;
  --font-size-s : 1.5rem;
  --font-size-navItem :1.4rem
  --font-size-footer:1.2rem;
  --main-color : #055599;
  --font-color : #26282c;
}

html{
  font-size: 10px;
}

/* *{
  outline: 1px solid turquoise;
} */

body{
  font-family: 'Noto Sans KR", sans-serif';
}

.-hidden{
  display: none !important
}
