@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');



/*Common*/
*{margin:0;padding:0;box-sizing:border-box;}
html,body{width:100%;height:100%}
html{overflow-y:scroll}
body{background-color:#fff;word-break:keep-all;
-webkit-text-size-adjust: 100% !important;-moz-text-size-adjust: 100% !important;-ms-text-size-adjust: 100% !important;}
body,h1,h2,h3,h4,h5,h6,th,td,li,dt,dd,a,p,input,textarea,select,option,button{
	color:#222;
	font-family:"Pretendard", sans-serif; word-break: keep-all;
	font-size:14px;font-weight: 300;
}
img,fieldset,iframe{border:0 none}
ul,ol,li{list-style:none}
em,address{font-style:normal}
img,input,select,textarea{vertical-align:middle}
a{color:#222;text-decoration:none;cursor:pointer}
a:hover{color:#222;text-decoration:none}
button,label{cursor:pointer;_cursor /**/:hand}
button *{position:relative}
textarea{overflow:auto}
option{padding-right:6px}
.input_text, textarea{*margin:-1px 0;padding-right:1px}
.input_check, .input_radio{width:13px;height:13px}
.blind, legend, caption{text-indent:-9999px;font-size:0;line-height:0;overflow:hidden}
hr{display:none}
legend{*width:0}
:root legend{margin-top:-1px;font-size:0;line-height:0}
caption{*line-height:0}
img{max-width:100%;}
sub,sup{display:inline-block;vertical-align:top;margin-top:6px;font-size:10px;}


/*로딩 이미지*/
#loading_img{text-align:center;display:none;width:100%;margin:10px 0px 10px 0px;}

/* popup */
.pop_today_close{padding:1px 7px 3px 7px;color:#ffffff;background:#303030;vertical-align:middle;border:0px;}
.pop_close{padding:1px 7px 3px 7px;color:#ffffff;background:#303030;vertical-align:middle;border:0px;}

@media(max-width:767px){
	/* 메인 레이어 팝업 */
	.main_layer_popup{width:96%!important;left:50%!important;top:50px!important;transform:translateX(-50%)}
	.main_layer_popup .popupContent{height:100%!important}
	.main_layer_popup img{width:100%}
}


#wrap{overflow:hidden;}
#header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	transition: all 0.4s;
}
#header:after{
	display:block;content:"";
	width:100%;height:80px;
	background:#f3f1ee;
	position:absolute;left:0;top:100%;
	transform-origin:top;
	transform:scaleY(0);
	transition:all 0.4s;
}
#header.on:after{transform:scaleY(1);}
#header.hidden {transform: translateY(-100%);}

.head{
	position: relative;
	width: 92%;
	max-width: 1720px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.head h1{width:126px;}
.head h1 a{
	display: block;
	width: 100%;
	height: 53px;
	background: url(/images/common/logo.png) no-repeat center / contain;
	transition: all 0.4s;
}


.head .pcNav{position:relative;z-index: 2000;width:calc(100% - 126px - 172px - 32px - 34px - 34px);}
.head .pcNav>ul{display:flex;justify-content:center;}
.head .pcNav>ul>li{margin-left: min(1.5vw, 30px);margin-right: min(1.5vw, 30px)}
.head .pcNav>ul>li:first-child{margin-left: min(2vw, 60px);}
.head .pcNav>ul>li:last-child{margin-right: min(2vw, 60px);}
.head .pcNav>ul>li.depart{margin-left: min(10vw, 400px);}
.head .pcNav>ul>li>a{
	position:relative;
	font-size:18px;
	color:#fff;
	font-weight:500;
	line-height:100px;
	transition:all 0.4s;
}
.head .pcNav>ul>li:hover>a{
	color: #94c042 !important;
}
.head .pcNav>ul>li>div{
	display:none;
	width:1200px;
	position:absolute;left:50%;top:100%;
	transform:translateX(-50%);
}
.head .pcNav>ul>li>div>ul{display:flex;justify-content:center;}
.head .pcNav>ul>li>div>ul>li{position: relative;margin-right:45px;}
.head .pcNav>ul>li>div>ul>li:last-child{margin-right: 0;}
.head .pcNav>ul>li>div>ul>li:after{
	content: "";
	position: absolute;
	right: -23px;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 14px;
	background: rgba(0,0,0,0.2);
}
.head .pcNav>ul>li>div>ul>li:last-child:after{
	display: none;
}
.head .pcNav>ul>li>div>ul>li>a{font-size:18px;color:#666;line-height:80px;}
.head .pcNav>ul>li>div>ul>li>a:hover{color:#000;}

.head .sns{width:172px;}	
.head .sns ul{display:flex;align-items:center;justify-content:space-between;width:100%;}
.head .sns ul li a{display:block;text-indent:-9999px;width:29px;height:25px;}
.head .sns ul li:nth-child(1) a{background:url(/images/common/sns1.png) no-repeat center;background-size:26px 25px;transition:all 0.4s;}
.head .sns ul li:nth-child(2) a{background:url(/images/common/sns2.png) no-repeat center;background-size:27px 25px;transition:all 0.4s;}
.head .sns ul li:nth-child(3) a{background:url(/images/common/sns3.png) no-repeat center;background-size:12px 23px;transition:all 0.4s;}
.head .sns ul li:nth-child(4) a{background:url(/images/common/sns4.png) no-repeat center;background-size:29px 21px;transition:all 0.4s;}

.head .btnMenu{	
	position:relative;z-index:5000;
	width:32px;
	cursor:pointer;
}
.head .btnMenu>div{
	width:100%;height:2px;
	margin-bottom:8px;
	background:#fff;
	transition:all 0.4s;
}
.head .btnMenu>div:nth-child(2){width:22px;}
.head .btnMenu>div:nth-child(3){margin-bottom: 0;}

.head .btnMenu.open>div:nth-child(1){transform:rotate(45deg) translate(6px,8px); background: #fff !important;}
.head .btnMenu.open>div:nth-child(2){opacity:0;}
.head .btnMenu.open>div:nth-child(3){transform:rotate(-45deg) translate(6px,-8px);background: #fff !important;}

@media(max-width:1650px){
	.head .pcNav>ul>li.depart {margin-left: min(10vw, 400px);}
}


#header.on{background: #fff;}
#header.on .head h1 a{background: url(/images/common/logo_bl.png) no-repeat center / contain;}
#header.on .head .pcNav>ul>li>a{color: #000;}
#header.on .head .btnMenu>div{background: #000;}
#header.on .head .sns ul li:nth-child(1) a{background:url(/images/common/sns1_hover.png) no-repeat center;background-size:26px 25px;transition:all 0.4s;}
#header.on .head .sns ul li:nth-child(2) a{background:url(/images/common/sns2_hover.png) no-repeat center;background-size:27px 25px;transition:all 0.4s;}
#header.on .head .sns ul li:nth-child(3) a{background:url(/images/common/sns3_hover.png) no-repeat center;background-size:12px 23px;transition:all 0.4s;}
#header.on .head .sns ul li:nth-child(4) a{background:url(/images/common/sns4_hover.png) no-repeat center;background-size:29px 21px;transition:all 0.4s;}

#header.scroll{background: #fff;}
#header.scroll .head h1 a{background: url(/images/common/logo_bl.png) no-repeat center / contain;}
#header.scroll .head .pcNav>ul>li>a{color: #000;}
#header.scroll .head .btnMenu>div{background: #000;}
#header.scroll .head .sns ul li:nth-child(1) a{background:url(/images/common/sns1_hover.png) no-repeat center;background-size:26px 25px;transition:all 0.4s;}
#header.scroll .head .sns ul li:nth-child(2) a{background:url(/images/common/sns2_hover.png) no-repeat center;background-size:27px 25px;transition:all 0.4s;}
#header.scroll .head .sns ul li:nth-child(3) a{background:url(/images/common/sns3_hover.png) no-repeat center;background-size:12px 23px;transition:all 0.4s;}
#header.scroll .head .sns ul li:nth-child(4) a{background:url(/images/common/sns4_hover.png) no-repeat center;background-size:29px 21px;transition:all 0.4s;}


body.bl .head h1 a{background: url(/images/common/logo_bl.png) no-repeat center / contain;}
body.bl .head .pcNav>ul>li>a{color: #000;}
body.bl .head .btnMenu>div{background: #000;}
body.bl .head .sns ul li:nth-child(1) a{background:url(/images/common/sns1_hover.png) no-repeat center;background-size:26px 25px;transition:all 0.4s;}
body.bl .head .sns ul li:nth-child(2) a{background:url(/images/common/sns2_hover.png) no-repeat center;background-size:27px 25px;transition:all 0.4s;}
body.bl .head .sns ul li:nth-child(3) a{background:url(/images/common/sns3_hover.png) no-repeat center;background-size:12px 23px;transition:all 0.4s;}
body.bl .head .sns ul li:nth-child(4) a{background:url(/images/common/sns4_hover.png) no-repeat center;background-size:29px 21px;transition:all 0.4s;}




@media(max-width:1640px){
	.head .pcNav>ul>li {
		margin-left: min(1.0vw, 1px);
	}	
}
@media(max-width:1399px){
	.pcNav{display:none;}
	.head .sns{position:absolute;right:80px;top:35px;}	
}
@media(max-width:812px){
	.head h1{width:80px;}
	.head .sns{position:absolute;right:60px;top:37px;width:150px;display:none;}	
}







.allmenu {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2000;
	width: 100%;
	height: 100vh;
	background: #30413f;
	display: none;
}
.allmenu .allmenu_bg{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
	width: 100%;
	text-align: center;
}
.allmenu .allmenuwrap {
	max-width: 1720px;
	width: 92%;
	height: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	display: flex;
	align-items: center;
}
.allmenu .allmenuwrap>ul {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.allmenu .allmenuwrap>ul>li {
	position: relative;
	box-sizing: border-box;
	width: 20%;
	height: 300px;
	padding-left: 35px;
	transition: all 1s 0.8s;
}
.allmenu .allmenuwrap>ul>li:nth-child(2){
	width: 40%;
}
.allmenu .allmenuwrap>ul>li:nth-child(n+5){
	margin-top: 60px;
}
.allmenu .allmenuwrap>ul>li:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: rgba(255,255,255,0.3);
}



.allmenu .allmenuwrap>ul>li>a {
	font-size: 28px;
	font-weight: 500;
	color: #fff;
}
.allmenu .allmenuwrap>ul>li:nth-child(n+6)>a {
	color: #ccc7ba;
}
.allmenu .allmenuwrap>ul>li>ul {
	display: block;
	position: relative;
	padding-top: 30px;
}
.allmenu .allmenuwrap>ul>li>ul>li {
	margin-bottom: 10px;
}
.allmenu .allmenuwrap>ul>li>ul>li:last-child{
	margin-bottom: 0;
}
.allmenu .allmenuwrap>ul>li>ul>li>a {
	font-size: 18px;
	color: rgba(255,255,255,0.7);
	background-image: linear-gradient(to right, white 100%, transparent 0);
	background-size: 0% 1px;
	background-repeat: no-repeat;
	background-position: 0 100%;
	transition: background-size 0.4s ease;
}
.allmenu .allmenuwrap>ul>li>ul>li>a:hover{
	background-size: 100% 1px;
}



@media(max-width:1399px){

	.allmenu .allmenuwrap>ul{
		display:block;
		box-shadow:-1px 0 0 rgba(255,255,255,0.2), 1px 0 0 rgba(255,255,255,0.2);
	}
	.allmenu .allmenuwrap>ul:after{
		display:block;content:"";
		width:1px;height:100%;
		background:rgba(255,255,255,0.2);
		position:absolute;left:50%;top:0;
	}
	.allmenu .allmenuwrap>ul>li{
		box-sizing:border-box;
		width:50% !important;height:auto;
		margin-bottom:10px;		
	}
	.allmenu .allmenuwrap>ul>li:after{opacity:0;width:2px;background: rgba(255, 255, 255,0.7);}
	.allmenu .allmenuwrap>ul>li.active:after{opacity:1;}
	.allmenu .allmenuwrap>ul>li>ul{
		display:none;
		box-sizing:border-box;
		position:absolute;left:100%;top:0;
		width:100%;
		padding:0 35px;
	}
	.allmenu .allmenuwrap>ul>li:last-child>ul{top:-158px;transform:translateY(0);}
	.allmenu .allmenuwrap>ul>li:nth-child(n+5){margin:0 0 10px;}
	.allmenu .allmenuwrap>ul>li:nth-child(6){margin-top:5vh;}

}
@media(max-width:812px){
	
	.head{height:80px;}
	.allmenu .allmenuwrap>ul>li{padding-left:20px;}
	.allmenu .allmenuwrap>ul>li>a {font-size: 20px;}
	.allmenu .allmenuwrap>ul>li>ul{padding:0 20px;}
	.allmenu .allmenuwrap>ul>li>ul>li>a{font-size:14px;}
	.allmenu .allmenuwrap>ul>li:last-child>ul{top: -120px;}

}






#footer{background: #111111; overflow: hidden;}
.foot{
	width: 92%;
	max-width: 1720px;
	margin: 0 auto;
}
.foot .top{
	position: relative;
	padding: 40px 0;
}
.foot .top .ft_logo{
	position: absolute;
	right: 0;
	top: 40px;
}
.foot .top .infowrap{
	display: flex;
}
.foot .top .infowrap > div{
	width: 50%;
}
.foot .top .infowrap > div dl{
	display: flex;
}
.foot .top .infowrap > div dl dt{
	position: relative;
	width: 100px;
	font-size: 18px;
	line-height: 1.7em;
	color: rgba(255,255,255,0.8);
}
.foot .top .infowrap > div dl dt:after{
	content: "";
	position: absolute;
	right: 0;
	top: 9px;
	width: 1px;
	height: 12px;
	background: #414141;
}
.foot .top .infowrap > div dl dd{
	width: calc(100% - 100px);
	padding-left: 20px;
	font-size: 18px;
	line-height: 1.7em;
	color: rgba(255,255,255,0.6);
}
.foot .copyright{
	position: relative;
	padding:20px 0;
	font-size: 17px;
	line-height: 1.8em;
	color: rgba(255,255,255,0.7);
}
.foot .copyright:after{
	content: "";
	position: absolute;
	left: -1000%;
	top: 0;
	width: 5000%;
	height: 1px;
	background: #414141;
}
.foot .copyright span{
	font-size: 17px;
	line-height: 1.8em;
	color: rgba(255,255,255,0.5);
	margin-left: 10px;
}
.foot .copyright a{
	font-size: 17px;
	line-height: 1.8em;
	color: rgba(255,255,255,0.5);
}
.foot .copyright ul{display:flex;position:absolute;right:0;top:40px;}
.foot .copyright ul li{margin-left:4px;}
.foot .copyright ul li a{
	display:block;
	box-sizing:border-box;
	width:60px;height:60px;
	border:1px solid rgba(255,255,255,0.5);border-radius:50%;
	text-indent:-9999px;
}
.foot .copyright ul li:nth-child(1) a{background:url(/images/common/foot_sns1.png) no-repeat center;background-size:cover;}
.foot .copyright ul li:nth-child(2) a{background:url(/images/common/foot_sns2.png) no-repeat center;background-size:cover;}
.foot .copyright ul li:nth-child(3) a{background:url(/images/common/foot_sns3.png) no-repeat center;background-size:cover;}
.foot .copyright ul li:nth-child(4) a{background:url(/images/common/foot_sns4.png) no-repeat center;background-size:cover;}


@media(max-width:1399px){

	.foot .top .infowrap{display:block;}
	.foot .top .infowrap > div{width:90%;}

}
@media(max-width:812px){
	
	.foot .top .ft_logo{position:static;margin-bottom:40px;}
	.foot .top .ft_logo img{height:40px;}
	.foot .top .infowrap > div dl{}
	.foot .top .infowrap > div dl dt{width:60px;font-size:12px;}
	.foot .top .infowrap > div dl dt:after{display:none;}
	.foot .top .infowrap > div dl dd{width:calc(100% - 60px);font-size:12px;}
	.foot .copyright{padding:40px 0;font-size:14px;}
	.foot .copyright span{display:block;margin:0;font-size:12px;}
	.foot .copyright span a{font-size:12px;}
	.foot .copyright ul{position:static;justify-content:center;margin-bottom:20px;}
	.foot .copyright ul li a{width:40px;height:40px;}

}

@charset "utf-8";
.pcbr{display:block;}
.ptbr{display:block;}
.tbbr{display:none;}
.mbbr{display:none;}
.dn{display:none;}





/* page common */
#wrap{background:#e7e4de;}
.subVisual{
	overflow:hidden;
	position:relative;
	width:100%;height:100vh;
}
.subVisual .bg{
	position:absolute;left:0;top:0;
	width:100%;height:100%;
}
.subVisual.pn1 .bg{background:url(/images/page/subVisual1.jpg) no-repeat center;background-size:cover;}
.subVisual.pn2 .bg{background:url(/images/page/subVisual2.jpg) no-repeat center;background-size:cover;}
.subVisual.pn3 .bg{background:url(/images/page/subVisual3.jpg) no-repeat center;background-size:cover;}
.subVisual.pn4 .bg{background:url(/images/page/subVisual4.jpg) no-repeat center;background-size:cover;}
.subVisual.pn5 .bg{background:url(/images/page/subVisual5.jpg) no-repeat center;background-size:cover;}
.subVisual.pn6 .bg{background:url(/images/page/subVisual6.jpg) no-repeat center;background-size:cover;}
.subVisual.pn7 .bg{background:url(/images/page/subVisual7.jpg) no-repeat center;background-size:cover;}
.subVisual.pn8 .bg{background:url(/images/page/subVisual8.jpg) no-repeat center;background-size:cover;}
.subVisual.pn9 .bg{background:url(/images/page/subVisual9.jpg) no-repeat center;background-size:cover;}
.subVisual .txtarea{
	position:absolute;left:50%;bottom:120px;z-index:100;
	max-width: 1720px;width:92%;
	transform:translateX(-50%);
}
.subVisual .txtarea .tit1{font-size:31px;color:#fff;font-weight:500;}
.subVisual .txtarea .tit1 span{
	display:inline-block;vertical-align:top;
	margin:12px 0 0 5px;
	font-size:21px;font-weight:500;
}
.subVisual .txtarea .slg{
	position:relative;
	margin:30px 0 0;
	padding:0 0 45px; 
	font-family:"Roboto";font-size:70px;color:#fff;line-height:1.2em;
}
.subVisual .txtarea .slg:after{
	display:block;content:"";
	width:100%;height:1px;
	background:rgba(255,255,255,0.5);
	position:absolute;left:0;bottom:0;
}

.pageTitle{
	position:relative;
	max-width:1720px;width:92%;
	margin:0 auto;
	padding:190px 0 0;
}
.pageTitle h3{font-size:52px;color:#222;font-weight:600;}
.pageTitle ul{
	display:flex;
	position:absolute;right:0;bottom:10px;
}
.pageTitle ul li{
	position:relative;
	font-size:16px;color:#666;
	padding-left:14px;margin-left:10px;
}
.pageTitle ul li:before{
	display:block;content:"";
	width:6px;height:8px;
	background:url(/images/common/pl_arr.png) no-repeat;
	position:absolute;left:0;top:8px;
}
.pageTitle ul li:first-child{padding:0;margin:0;}
.pageTitle ul li:first-child:before{display:none;}

.page{}
.page .innerwrap{
	position:relative;
	max-width:1720px;width:92%;
	margin:0 auto;
}
.page .innerwrap2{
	position:relative;
	max-width:1520px;width:92%;
	margin:0 auto;
}

.introSlg{
	overflow:hidden;
	display:flex;align-items:center;justify-content:center;
	position:relative;
	width:100%;height:400px;
	border-radius:10px;
	text-align:center;
}
.introSlg .bg{
	position:absolute;left:0;top:0;
	width:100%;height:100%;
	transform-origin:center;
}
.introSlg .bg + div{position:relative;z-index:10;font-size:42px;color:#fff;font-weight:600;line-height: 1.4;}

.introSlg2{margin:0 0 80px;font-size:44px;color:#222;font-weight:600;line-height: 1.4;}


.introSlg3{}
.introSlg3 .introSlgTitle{
font-size: 46px;
color: #222;
font-weight: 600;
line-height: 1.4;
}

.introSlg3 .introSlgText{
margin-top: 60px;
font-size: 19px;
color: #666;
line-height: 1.4;
font-weight: 500;
}
