
/* m70 */
.m70{}

.m71{}

.m71 .section1{
padding: 160px 0 230px;
}

.m71 .content1 {
display: flex;
align-items: flex-start;
justify-content: space-between;
}

.m71 .filter-container {
width: 380px;
background-color: #f1f1f1;
padding: 80px 40px;
border-radius: 8px;
}

.m71 .filter-box h6 {
font-size: 24px;
font-weight: 600;
color: #30413f;
}

.m71 .filter-box .input-content:first-of-type {
margin-top: 60px;
}

.m71 .filter-box .input-content + .input-content{
margin-top: 40px;
padding-top: 40px;
border-top: 1px solid #ccc;	
}

.m71 .filter-box .input-content .input-title{
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
}

.m71 .filter-box .input-content .input-title p{
font-size: 24px;
color: #30413f;
font-weight: 600;
}

.m71 .filter-box .input-content .input-title .input-arr {
position: relative;
width: 45px;
height: 45px;
border: none;
background-color: transparent;
transition: transform 0.4s;
transform-origin: center center;
}

.m71 .filter-box .input-content .input-title.on .input-arr {
  transform: rotate(180deg);
  }


.m71 .filter-box .input-content .input-title .input-arr::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-right: 2px solid #30413f;
  border-bottom: 2px solid #30413f;
  top: calc(50% - 12px);
  left: calc(50% - 6px);
  transform: rotate(45deg);
  transition: transform 0.4s;
}


.m71 .content-container {
width: calc(100% - 5vw - 380px);
}

.m71 .filter-box .input-content .item-type {
position: relative;
margin-top: 28px;
}

.m71 .filter-box .input-content select {
box-sizing: border-box;
border: 1px solid #30413f;
border-radius: 10px;
padding: 17.5px 30px;
font-size: 18px;
width: 100%;
background-color: transparent;
appearance: none;
color: #30413f;
}

.m71 .filter-box .input-content .item-type::after {
content: "";
position: absolute;
width: 12px;
height: 12px;
transform-origin: center center;
transition: transform 0.4s ease;
border-right: 1px solid #30413f;
border-bottom: 1px solid #30413f;
top:50%;
right: 20px;
transform: translateY(-50% ) rotate(45deg);
}

.m71 .filter-box .region-radio-wrap {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.m71 .filter-box .input-content .input-box {
overflow: hidden;
transition: all 0.4s;
}

.m71 .filter-box .input-content .input-box .input-wrap{
  margin-top: 40px;

}

.m71 .filter-box .input-content .input-box .box + .box {
margin-top: 40px;
}


.m71 .filter-box .input-content .box-title{
color: #30413f;
font-size: 19px;
font-weight: 500;
}

.m71 .radio-group{
margin-top: 20px;
display: flex;
gap:20px 14px;
flex-wrap: wrap;
}

.m71 .filter-box label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 6px;
}

.m71 .filter-box .radio-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 19px;
  color: #666;
  gap:12px;
}

.m71 .filter-box .radio-label::before {
  content: "";
  width: 26px;
  height: 26px;
  border: 1px solid #ccc;
  border-radius: 50%;
  flex-shrink: 0;
  box-sizing: border-box;
}

.m71 .filter-box .radio-label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  width: 14px;
  height: 14px;
  background: #30413f;
  border-radius: 50%;
  transform: translateY(-50%) scale(0);
  transition: 0.2s;
}

.m71 .filter-box input[type="radio"]:checked + .radio-label::after {
  transform: translateY(-50%) scale(1);
}

.m71 .filter-box input[type="radio"]:checked + .radio-label  {
  color: #30413f;
}

.m71 .filter-box input[type="radio"]:checked + span svg path {
stroke: #30413f;
stroke-width: 1.5px;
}

.m71 .filter-box input[type="radio"] {
  display: none;
}

.m71 .season-box .checkbox-group {
display: flex;
 justify-content: space-between;
 margin-top: 20px;
}

.m71 .season-box .checkbox-group label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 11px;
}

.m71 .season-box input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  transition: 0.2s;
}

.m71 .season-box input[type="checkbox"]:checked {
  background-color: #30413f;
  border-color: #30413f;
}

.m71 .season-box input[type="checkbox"]:checked::after {
  content: "✓";
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 2px;
  top: -1px;
}

.m71 .season-box .checkbox-label {
  font-size: 19px;
  color: #666;
}

.m71 .season-box input[type="checkbox"]:checked + .checkbox-label {
  color: #30413f;
}

.m71 .filter-box .sunlight-box .radio-group,
.m71 .filter-box .leafType-box .radio-group{
justify-content: space-between;
}

.m71 .filter-box .flowerColor-box {
display: block;
}

.m71 .filter-box .flowerColor-box .radio-group div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.m71 .filter-box .flowerColor-box .radio-group div + div {
  margin-top: 20px;
}

.m71 .filter-box .flowerColor-box label{
width: 22px;
height: 22px;
border-radius: 50%;
cursor: pointer;
border: 1px solid transparent; 
box-sizing: border-box;
}

.m71 .radio-group input[type="radio"]:checked + .color-square {
border-color: #30413f;
}

.m71 .water-box .radio-group,
.m71 .soil-box .radio-group {
justify-content: space-between;
}

.m71 .feature-box .radio-group label {
width: calc((100% - 14px * 2)/3);
}

.m71 .feature-box i{
  display: block;
  width: 18px;
  height: 18px;
  background: url(/images/page/icon_check_white.png) no-repeat center;
  margin-right: 5px;
  transition: 0.2s;
}

.m71 .filter-box .feature-box input[type="radio"]:checked + .radio-label i {
  background: url(/images/page/icon_check_white.png) no-repeat center;
}



.m71 .content-container .search-box {
background-color: #f1f1f1;
padding: 50px;
border-radius: 8px;
}

.m71 .content-container .search-box form{
width: 100%;
}

.m71 .content-container .search-box .searchwrap{
box-sizing:border-box;
display:flex;justify-content:flex-end;
width:100%;height:54px;
border-radius:8px;
border: 1px solid #666;	
}

.m71 .content-container .search-box form input{
box-sizing:border-box;
width:calc(100% - 112px);height:100%;
padding:0 25px 0 50px;
border:0;outline:0;
background:url(/images/page/icon_search.png) no-repeat 20px center;
font-size:17px;color:#888;
}

.m71 .content-container .search-box form button{
width:112px;height:100%;
background:#30413f;
outline:0;border:0;
font-size:18px;color:#fff;font-weight:600;
border-radius:8px;
}

.m71 .content-container .tag-box {
margin-top: 35px;
}

.m71 .content-container .tag-box span {
font-size: 30px;
color: #30413f;
font-weight: 600;
margin-left: 15px;
}

.m71 .content-container .tag-list {
margin-top: 20px;
display: flex;
gap:15px;
align-items: center;
justify-content: flex-start;
}

.m71 .content-container .tag-list .list-item {
font-size: 17px;
color: #30413f;
font-weight: 500;
border: 1px solid #30413f;
border-radius: 20px;
padding: 9px 20px;
cursor: pointer;
}

.m71 .content-container .content-all {
margin-top: 90px;
}


.m71 .content-container .content-all .content-list {
display: grid;
grid-template-columns: repeat(3, minmax(0, 1fr));
gap: 80px 50px;
}

.m71 .content-container .content-all .content-list .item-thumb .thumb-main{
  height: 280px;
}

.m71 .content-container .content-all .content-list .item-thumb .thumb-list{
margin-top: 10px;
height: 80px;
}

.m71 .content-container .content-all .content-list .thumb-main .swiper-slide {
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}

.m71 .content-container .content-list .thumb-main .badge{
position: absolute;
z-index: 2;
right: 15px;
top: 15px;
color: #fff;
font-size: 17px;
font-weight: 600;
border-radius: 8px;
padding: 10px 20px;
}

.m71 .content-container .content-list .thumb-main .badge-hot {
background-color: #30413f;
}

.m71 .content-container .content-list .thumb-main .badge-new {
background-color: #30413f;
}

.m71 .content-container .content-all .content-list .thumb-list .swiper-slide {
  border: 2px solid transparent;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}

.m71 .content-container .content-all .content-list .item-thumb img{
width: 100%;
height: 100%;
object-fit: cover;
}

.m71 .content-container .content-all .content-list .item-thumb .thumb-list .swiper-slide-thumb-active {
  border: 2px solid #30413f;
  border-radius: 8px;
}

.m71 .content-container .content-all .item-info {
margin-top: 40px;
}

.m71 .content-container .content-all .item-info .item-info_1,
.m71 .content-container .content-all .item-info .item-info_2,
.m71 .content-container .content-all .item-info .item-info_3,
.m71 .content-container .content-all .item-info .item-info_4{
display: flex;
gap: 10px;
}

.m71 .content-container .content-all .item-info .item-info_2,
.m71 .content-container .content-all .item-info .item-info_3,
.m71 .content-container .content-all .item-info .item-info_4{
  margin-top: 10px;
}

.m71 .content-container .content-all .item-info_1 {
align-items: center;
justify-content: space-between;
}

.m71 .content-container .content-all .item-info_4 {
align-items: center;
justify-content: space-between;
}

.m71 .content-container .content-all .item-info_4 .info-wrap{
display: flex;
gap: 10px;
align-items: center;
}

.m71 .content-container .content-all .item-info span {
color:#30413f;
font-size: 19px;
font-weight: 500;
}

.m71 .content-container .content-all .item-info .item-name {
font-size: 24px;
color: #30413f;
}

.m71 .content-container .content-all .item-info .item-form {

}

.m71 .content-container .content-all .item-info .item-genus {
font-size: 19px;
font-weight: 500;
color: #30413f;
font-style: italic;
}

.m71 .content-container .content-all .item-info .item-species,
.m71 .content-container .content-all .item-info .item-family,
.m71 .content-container .content-all .item-info .item-size,
.m71 .content-container .content-all .item-info .item-month,
.m71 .content-container .content-all .item-info .item-color,
.m71 .content-container .content-all .item-info .item-sunlight,
.m71 .content-container .content-all .item-info .item-water {
font-size: 19px;
font-weight: 500;
color: #30413f;
}

.m71 .content-container .content-all .item-info .size-wrap {
  font-size: 19px;
  font-weight: 500;
color: #30413f;
}

.m71 .content-container .content-all .item-info .item-water svg path{
stroke: #30413f;
stroke-width: 1.5px;
}

.m71 .content-container .content-all .item-info .view-wrap,
.m71 .content-container .content-all .item-info .item-view {
font-size: 16px;
font-weight: 500;
color: #888;
}


.m71 .content-container .more-box {
margin-top: 280px;
}

.m71 .content-container .more-box form{
  text-align: center;
}

.m71 .content-container .more-box form button {
width: 120px;
height: 80px;
border: none;
background-color: #30413f;
color: #fff;
border-radius: 8px;
}


.area.active {
  fill: #30413f;      /* 선택(active) 색 */
}
.area:hover {
  fill: #30413f;
}