*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

ol, ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

:root{
  --main-color:#2A2D64;
  
  --font-size-160: clamp(80px, 8vw, 160px);
  --font-size-90: clamp(40px, 5vw, 90px);
  --font-size-68: clamp(24px, 3.5vw, 68px);
  --font-size-58: clamp(24px, 3.5vw, 58px);
  --font-size-56: clamp(24px, 3.5vw, 56px);
  --font-size-40: clamp(22px, 2.3vw, 40px);
  --font-size-34: clamp(20px, 2.2vw, 34px);
  --font-size-30: clamp(19px, 1.9vw, 30px);
  --font-size-28: clamp(18.5px, 1.8vw, 28px);
  --font-size-26: clamp(18px, 1.8vw, 26px);
  --font-size-24: clamp(17px, 1.6vw, 24px);
  --font-size-22: clamp(16px, 1.5vw, 22px);
  --font-size-20: clamp(15px, 1.25vw, 20px);
  --font-size-18: clamp(14px, 1.5vw, 18px);
  --font-size-17: clamp(13px, 1.4vw, 17px);
  --font-size-16: clamp(12px, 1.4vw, 16px);
  }