.section1 {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #000;
  font-family: "GmarketSans";
}
@media screen and (max-width: 768px) {
  .section1 {
    height: auto;
  }
}
.section1 .section1-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 140px 10px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section1 .section1-wrap .info-title.active {
  transform: translateX(0%);
  opacity: 1;
}
.section1 .section1-wrap .info-title {
  font-size: clamp(3rem, 4.5vw, 9rem);
  transform: translateX(-10%);
  transition: all 0.5s;
  opacity: 0;
}
.section1 .section1-wrap .info-wrap {
  margin-top: 5vw;
  font-size: clamp(2.2rem, 2.5vw, 5rem);
}
.section1 .section1-wrap .info-wrap .info-call {
  display: flex;
  gap: 2vw;
  transform: translateY(100%);
  opacity: 0;
  transition: all 1s 0.5s;
}
.section1 .section1-wrap .info-wrap .info-call .call-title {
  white-space: nowrap;
}
.section1 .section1-wrap .info-wrap .info-call.active {
  transform: translateY(0%);
  opacity: 1;
}
.section1 .section1-wrap .info-wrap .info-time {
  display: flex;
  gap: 2vw;
  margin: 2vw 0;
  transform: translateY(100%);
  transition: all 1s 1s;
  opacity: 0;
}
.section1 .section1-wrap .info-wrap .info-time .time-title {
  white-space: nowrap;
}
.section1 .section1-wrap .info-wrap .info-time .time-text .time-text__hidden {
  visibility: hidden;
}
.section1 .section1-wrap .info-wrap .info-time .time-text p:not(:last-child) {
  margin-bottom: 10px;
}
.section1 .section1-wrap .info-wrap .info-time.active {
  opacity: 1;
  transform: translateY(0%);
}
.section1 .section1-wrap .info-wrap .info-come {
  display: flex;
  gap: 2vw;
  transform: translateY(100%);
  transition: all 1s 1.5s;
  opacity: 0;
}
.section1 .section1-wrap .info-wrap .info-come .come-title {
  white-space: nowrap;
}
.section1 .section1-wrap .info-wrap .info-come.active {
  opacity: 1;
  transform: translateY(0%);
}

.section2 {
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .section2 {
    height: auto;
  }
}
.section2 .section2-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 100px 10px;
  max-width: 1400px;
  margin: 0 auto;
  gap: 2vw;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .section2 .section2-wrap {
    flex-direction: column;
  }
}
.section2 .section2-wrap .section2-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section2 .section2-wrap .section2-left .left-content1 h6 {
  font-size: clamp(1.3rem, 1.8vw, 3rem);
  font-family: "GmarketSans";
}
.section2 .section2-wrap .section2-left .left-content1 .left-content1__text {
  margin-top: 1vw;
}
.section2 .section2-wrap .section2-left .left-content1 .left-content1__text p {
  font-size: clamp(1.3rem, 1.5vw, 2.2rem);
  font-weight: bold;
}
.section2 .section2-wrap .section2-left .left-content2 h6 {
  font-size: clamp(2.2rem, 1.8vw, 3rem);
  font-family: "GmarketSans";
}
.section2 .section2-wrap .section2-left .left-content2 .left-content2__text {
  margin-top: 1vw;
  display: flex;
  gap: 1vw;
}
.section2 .section2-wrap .section2-left .left-content2 .left-content2__text img {
  width: min(10vw, 45px);
  height: min(10vw, 45px);
}
.section2 .section2-wrap .section2-left .left-content2 .left-content2__text .text-container p:first-child {
  color: #fd7f2c;
  font-size: clamp(1.3rem, 1.5vw, 2.2rem);
  font-weight: bold;
}
.section2 .section2-wrap .section2-left .left-content2 .left-content2__text .text-container p:last-child {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
}
.section2 .section2-wrap .section2-left .left-content2 .left-content2__text .text-container p:last-child span {
  color: #fd7f2c;
}
.section2 .section2-wrap .section2-left .left-content3 h6 {
  font-size: clamp(2.2rem, 1.8vw, 3rem);
  font-family: "GmarketSans";
}
.section2 .section2-wrap .section2-left .left-content3 .left-content3__text {
  margin-top: 1vw;
}
.section2 .section2-wrap .section2-left .left-content3 .left-content3__text .bus-text {
  font-weight: bold;
}
.section2 .section2-wrap .section2-left .left-content3 .left-content3__text p {
  font-size: clamp(1.3rem, 1.5vw, 2.2rem);
}
.section2 .section2-wrap .section2-left .left-content4 h6 {
  font-size: clamp(2.2rem, 1.8vw, 3rem);
  font-family: "GmarketSans";
}
.section2 .section2-wrap .section2-left .left-content4 .left-content4__text {
  margin-top: 1vw;
}
.section2 .section2-wrap .section2-left .left-content4 .left-content4__text p {
  font-weight: bold;
  font-size: clamp(1.3rem, 1.5vw, 2.2rem);
}
.section2 .section2-wrap .section2-left .left-content__line {
  width: 100%;
  height: 2px;
  background-color: #eee;
}
@media screen and (max-width: 768px) {
  .section2 .section2-wrap .section2-left .left-content__line {
    margin: 1vw 0;
  }
}

.section2-right {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .section2-right {
    width: 100%;
  }
}
.section2-right .map-wrap {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .section2-right .map-wrap {
    height: 400px;
    width: 100%;
  }
}
.section2-right .map-wrap .root_daum_roughmap {
  width: 100%;
  height: 100%;
}
.section2-right .map-wrap .root_daum_roughmap .wrap_map {
  height: calc(100% - 32px);
}
.section2-right .map-wrap.active {
  opacity: 1;
  transform: translateY(0%);
}/*# sourceMappingURL=sub01-04.css.map */