@use "../abstacts/_variavles" as *;
@import "../_mixin.scss";

.section1{
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #000;
  font-family: "GmarketSans";
  @include tablet{
    height: auto;
  }
  .section1-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 140px 10px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .info-title{
      font-size: clamp($font-size-l,4.5vw,9rem);
    }
    .info-wrap{
      margin-top: 5vw;
      font-size: clamp($font-size-m,2.5vw,5rem);
      .info-call{
        display: flex;
        gap: 2vw;
        .call-title{
          white-space: nowrap;
        }
      }
      .info-time{
        display: flex;
        gap: 2vw;
        margin: 2vw 0;
        .time-title{
          white-space: nowrap;
        }
        .time-text{
          .time-text__hidden{
            visibility: hidden;
          }
          p:not(:last-child){
            margin-bottom: 10px;
          }
        }
      }
      .info-come{
        display: flex;
        gap: 2vw;
        .come-title{
          white-space: nowrap;
        }
      }
    }
  }  
}

.section2{
  
}