@use "../abstacts/_variavles" as *;
@import "../_mixin.scss";

.section{
  width: 100%;
  height: 100vh;
  @include tablet{
    height: auto;
  }
}

.section1{
  background-image: url(../../images/sub/08/background-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  .section1-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .section1-text{
      background-color:rgba(255, 255, 255, 0.5);
      text-align: center;
      padding: 20px 100px;
      .section1-title{
        font-family: "GmarketSans";
        font-size: clamp(2.5rem,5vw,10rem);
      }
      .section1-subTitle{
        font-size: clamp(1.2rem,1.5vw,2rem);
      }
    }
  }
}

.section2{
  width: 100%;
  height: 100%;
  max-width: 1325px;
  margin: 0 auto;
  .section2-wrap{
    padding: 20px 0;
    width: 100%;
    height: 100%;
    .title-list{
      margin-top: 5vw;
      padding: 0 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      .list-item{
        flex: 1 0 0;
        background-color: #e2e2e2;
        text-align: center;
        padding: 10px;
        a{
          font-size: clamp(1.5rem,1.8vw,2rem);
          display: block;
          width: 100%;
          height: 100%;
          white-space: nowrap;
        }
      }
      .list-item.active{
        background-color: #330264;
        a{
          color: #fff;
        }
      }
    }
    .line{
      width: 100%;
      height: 1px;
      background-color: #000;
      margin: 2.5vw 0;
    }
    
  }
}