.section {
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .section {
    height: auto;
  }
}

.section1 {
  background-image: url(../../images/sub/05/background-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.section1 .section1-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section1 .section1-wrap .section1-subTitle {
  text-align: center;
}
.section1 .section1-wrap .section1-subTitle p {
  font-size: clamp(1.2rem, 1.5vw, 3rem);
  letter-spacing: 0.3rem;
  transform: translateX(-20%);
  opacity: 0;
}
.section1 .section1-wrap .section1-subTitle .section1-subTitle__1 {
  transition: all 0.4s;
}
.section1 .section1-wrap .section1-subTitle .section1-subTitle__2 {
  transition: all 0.4s 0.2s;
}
.section1 .section1-wrap .section1-subTitle .section1-subTitle__3 {
  transition: all 0.4s 0.4s;
}
.section1 .section1-wrap .section1-subTitle.active p {
  transform: translateX(0%);
  opacity: 1;
}
.section1 .section1-wrap .section1-title {
  margin-top: clamp(4.5rem, 4.5vw, 9rem);
  text-align: center;
}
.section1 .section1-wrap .section1-title h2 {
  font-family: "GmarketSans";
  font-size: clamp(2.5rem, 5vw, 10rem);
  transform: translateY(100%);
  opacity: 0;
}
.section1 .section1-wrap .section1-title .section1-title__1 {
  transition: all 0.4s 0.6s;
}
.section1 .section1-wrap .section1-title .section1-title__2 {
  transition: all 0.4s 0.8s;
}
.section1 .section1-wrap .section1-title.active h2 {
  transform: translateY(0%);
  opacity: 1;
}

.section2-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 20px;
  max-width: 1324px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2-wrap .section2-title h6 {
  font-size: clamp(1.5rem, 2.5vw, 5rem);
  font-family: "GmarketSansLight";
  line-height: 1.4;
  transform: translateX(-20%);
  opacity: 0;
}
.section2-wrap .section2-title .section2-title__1 {
  transition: all 0.4s;
}
.section2-wrap .section2-title .section2-title__2 {
  transition: all 0.4s 0.2s;
}
.section2-wrap .section2-title .section2-title__3 {
  transition: all 0.4s 0.4s;
}
.section2-wrap .section2-title .section2-title__4 {
  transition: all 0.4s 0.6s;
}
.section2-wrap .section2-title b {
  font-family: "GmarketSans";
}
.section2-wrap .section2-title p {
  font-size: clamp(1rem, 1vw, 2rem);
  margin-top: min(2vw, 40px);
  transform: translateY(100%);
  opacity: 0;
}
.section2-wrap .section2-title.active h6 {
  opacity: 1;
  transform: translateX(0%);
}
.section2-wrap .section2-title.active p {
  opacity: 1;
  transform: translateY(0%);
}
.section2-wrap .section2-information {
  margin-top: min(4vw, 50px);
}
.section2-wrap .section2-information .information-title {
  font-family: "GmarketSans";
  font-size: clamp(1.5rem, 2vw, 3rem);
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.4s 0.8s;
}
.section2-wrap .section2-information .information-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 3vw;
  position: relative;
}
.section2-wrap .section2-information .information-list .list-item {
  position: relative;
  text-align: center;
  padding: 20px 0 0 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.4s 1s;
}
.section2-wrap .section2-information .information-list .list-item b {
  font-size: clamp(1rem, 1vw, 2rem);
}
.section2-wrap .section2-information .information-list .list-item p {
  font-size: clamp(1rem, 1vw, 1.5rem);
}
.section2-wrap .section2-information .information-list .list-item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 27px;
  height: 27px;
  background-color: #350565;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .section2-wrap .section2-information .information-list .list-item::before {
    top: -2.5px;
    width: 10px;
    height: 10px;
  }
}
.section2-wrap .section2-information .information-list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #efeff0;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.4s 0.8s;
}
@media screen and (max-width: 768px) {
  .section2-wrap .section2-information .information-list::before {
    height: 5px;
  }
}
.section2-wrap .section2-information .information-list .item-1 {
  transition: all 0.4s 1s;
}
.section2-wrap .section2-information .information-list .item-2 {
  transition: all 0.4s 1.2s;
}
.section2-wrap .section2-information .information-list .item-3 {
  transition: all 0.4s 1.4s;
}
.section2-wrap .section2-information .information-list .item-4 {
  transition: all 0.4s 1.6s;
}
.section2-wrap .section2-information .information-list .item-5 {
  transition: all 0.4s 1.8s;
}
.section2-wrap .section2-information.active .information-title {
  transform: translateY(0%);
  opacity: 1;
}
.section2-wrap .section2-information.active .information-list .list-item {
  transform: translateY(0%);
  opacity: 1;
}
.section2-wrap .section2-information.active .information-list::before {
  transform: translateY(0%);
  opacity: 1;
}

.section3 {
  background-color: rgb(239, 239, 240);
}
.section3 .section3-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 20px;
  max-width: 1324px;
  margin: 0 auto;
  position: relative;
}
.section3 .section3-wrap .section3-text {
  text-align: center;
}
.section3 .section3-wrap .section3-text .text-subTitle {
  transform: translateX(-50%);
  transition: all 0.4s;
  opacity: 0;
  font-size: clamp(1.5rem, 1.5vw, 2.8rem);
}
.section3 .section3-wrap .section3-text .text-subTitle span {
  position: relative;
  font-weight: bold;
}
.section3 .section3-wrap .section3-text .text-subTitle span::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .section3-text .text-subTitle span::before {
    width: 3px;
    height: 3px;
  }
}
.section3 .section3-wrap .section3-text .text-title {
  font-size: clamp(3rem, 4vw, 8rem);
  font-family: "GmarketSans";
  margin: min(4vw, 25px) 0;
  transform: translateY(100%);
  transition: all 0.4s 0.2s;
  opacity: 0;
}
.section3 .section3-wrap .section3-content {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .section3-content .content-list__wrap {
    overflow: auto;
  }
}
.section3 .section3-wrap .section3-content .content-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .section3-content .content-list {
    justify-content: space-between;
    overflow: auto;
    width: 200%;
  }
}
.section3 .section3-wrap .section3-content .content-list .list-item {
  width: 30%;
  transform: translateY(100%);
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .section3-content .content-list .list-item {
    width: 30%;
    flex: 0 0 auto;
  }
}
.section3 .section3-wrap .section3-content .content-list .list-item .item-text {
  display: flex;
  color: #fff;
}
.section3 .section3-wrap .section3-content .content-list .list-item .item-text p {
  font-size: clamp(1rem, 1vw, 1.5rem);
  width: 100%;
  text-align: center;
  line-height: 3;
}
.section3 .section3-wrap .section3-content .content-list .list-item .item-text .text-left {
  background-color: #000;
}
.section3 .section3-wrap .section3-content .content-list .list-item .item-text .text-right {
  background-color: #350566;
}
.section3 .section3-wrap .section3-content .content-list .list-item .item-twenty img {
  width: 100%;
}
.section3 .section3-wrap .section3-content .content-list .item-1 {
  transition: all 0.4s 0.4s;
}
.section3 .section3-wrap .section3-content .content-list .item-2 {
  transition: all 0.4s 0.6s;
}
.section3 .section3-wrap .section3-content .content-list .item-3 {
  transition: all 0.4s 0.8s;
}
.section3 .section3-wrap .section3-content .content-list .item-4 {
  transition: all 0.4s 1s;
}
.section3 .section3-wrap .section3-content .content-list .item-5 {
  transition: all 0.4s 1.2s;
}
.section3 .section3-wrap .section3-content .content-list .item-6 {
  transition: all 0.4s 1.4s;
}
.section3 .section3-wrap .section3-content .content-caption {
  margin-top: min(1vw, 20px);
  text-align: center;
  font-size: clamp(1.5rem, 1.5vw, 1.8rem);
  transform: translateY(100%);
  transition: all 0.4s 1.6s;
  opacity: 0;
}
.section3 .section3-wrap .section3-text.active .text-subTitle {
  transform: translateX(0%);
  opacity: 1;
}
.section3 .section3-wrap .section3-text.active .text-title {
  transform: translateY(0%);
  opacity: 1;
}
.section3 .section3-wrap .section3-content.active .list-item {
  transform: translateY(0%);
  opacity: 1;
}
.section3 .section3-wrap .section3-content.active .content-caption {
  transform: translateY(0%);
  opacity: 1;
}

.section4 {
  background-image: url(../../images/sub/05/background-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .section4 {
    background-position: top right;
  }
}
.section4 .section4-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.section4 .section4-wrap .section4-content {
  background-color: #fff;
  max-width: 1324px;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  padding: clamp(3rem, 3vw, 6.5rem);
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section4 .section4-wrap .section4-content {
    padding-bottom: 20vw;
  }
}
.section4 .section4-wrap .section4-content .content-text {
  text-align: left;
}
.section4 .section4-wrap .section4-content .content-text .text-subTitle {
  font-size: clamp(1rem, 1vw, 2.2rem);
  transform: translateX(-20%);
  opacity: 0;
  transition: all 0.4s;
}
.section4 .section4-wrap .section4-content .content-text .text-title {
  font-size: clamp(1.8rem, 4vw, 5.5rem);
  padding-top: 10px;
  font-family: "GmarketSans";
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.4s 0.2s;
}
.section4 .section4-wrap .section4-content .content-text .text-title .content-text__color {
  color: #350565;
}
.section4 .section4-wrap .section4-content .content-list {
  margin-top: 2vw;
}
.section4 .section4-wrap .section4-content .content-list .list-item {
  display: flex;
  width: 100%;
  font-size: clamp(1rem, 1vw, 2rem);
  margin-top: 1vw;
  transform: translateY(100%);
  opacity: 0;
}
.section4 .section4-wrap .section4-content .content-list .list-item .item-number {
  font-weight: bold;
  margin-right: 1vw;
}
.section4 .section4-wrap .section4-content .content-list .list-item .item-line {
  width: 100%;
  flex: 1 0 0%;
  border-bottom: 2px dotted #a3a3a3;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 40px;
}
@media screen and (max-width: 768px) {
  .section4 .section4-wrap .section4-content .content-list .list-item .item-line {
    visibility: hidden;
    margin: auto;
  }
}
.section4 .section4-wrap .section4-content .content-list .list-item input {
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.section4 .section4-wrap .section4-content .content-list .item-1 {
  transition: all 0.4s 0.4s;
}
.section4 .section4-wrap .section4-content .content-list .item-2 {
  transition: all 0.4s 0.6s;
}
.section4 .section4-wrap .section4-content .content-list .item-3 {
  transition: all 0.4s 0.8s;
}
.section4 .section4-wrap .section4-content .content-list .item-4 {
  transition: all 0.4s 1s;
}
.section4 .section4-wrap .section4-content .content-list .item-5 {
  transition: all 0.4s 1.2s;
}
.section4 .section4-wrap .section4-content .content-list .item-6 {
  transition: all 0.4s 1.4s;
}
.section4 .section4-wrap .section4-content .content-button {
  background-color: #350565;
  color: #fff;
  font-size: clamp(1rem, 1.2vw, 2rem);
  padding: 2rem 4rem;
  margin-top: 2vw;
  border-radius: 10px;
  transition: all 0.4s 1.6s;
  transform: translateY(100%);
  opacity: 0;
}
.section4 .section4-wrap .section4-content.active .content-text .text-subTitle {
  opacity: 1;
  transform: translateY(0);
}
.section4 .section4-wrap .section4-content.active .content-text .text-title {
  opacity: 1;
  transform: translateY(0);
}
.section4 .section4-wrap .section4-content.active .content-list .list-item {
  transform: translateY(0%);
  opacity: 1;
}
.section4 .section4-wrap .section4-content.active .content-button {
  transform: translateY(0%);
  opacity: 1;
}

.section5 {
  background-image: url(../../images/sub/05/background-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .section5 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../images/sub/02/mobile-background-3.gif);
  }
}
.section5 .section5-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 0;
  max-width: 1324px;
  margin: 0 auto;
}
.section5 .section5-wrap .section5-container {
  padding: 100px 0;
  margin: 0 10px;
}
.section5 .section5-wrap .section5-container .section5-title {
  font-size: clamp(2.4rem, 4vw, 5.5rem);
  font-family: "GmarketSansLight";
  position: relative;
  z-index: 1;
  transform: translateX(-50%);
  transition: all 0.4s;
  opacity: 0;
}
.section5 .section5-wrap .section5-container i {
  font-size: clamp(4rem, 6vw, 10rem);
  font-family: "GmarketSans";
  color: #461a72;
  display: inline-block;
  transform: translate(20%, 100%);
  transition: all 0.4s 0.2s;
  opacity: 0;
}
.section5 .section5-wrap .section5-container .section5-swiper {
  margin-top: clamp(5rem, 5vw, 10rem);
  position: relative;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 7px solid rgba(255, 255, 255, 0.7);
  text-align: center;
  transform: translateY(100%);
  transition: all 0.4s 0.4s;
  opacity: 0;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-pagination .swiper-pagination-bullet {
  font-family: "GmarketSans";
  font-size: clamp(1rem, 1.5vw, 3rem);
  padding-bottom: 1vw;
  width: 20%;
  position: relative;
  height: auto;
  margin: 0;
  background-color: transparent;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 100%;
  left: 0;
  height: 7px;
  background-color: #461a72;
  opacity: 0;
  transition: all 0.4s;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-pagination .swiper-pagination-bullet-active::after {
  opacity: 1;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-list {
  margin-top: 2vw;
  transform: translateY(100%);
  transition: all 0.4s 0.6s !important;
  opacity: 0;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-list .list-item .itme-title {
  font-size: clamp(1.5rem, 1.2vw, 2rem);
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-list .list-item .item-text {
  margin-top: 2vw;
  font-size: clamp(1.2rem, 1vw, 1.5rem);
  color: #a3a3a3;
}
.section5 .section5-wrap .section5-container.active .section5-title {
  transform: translateX(0%);
  opacity: 1;
}
.section5 .section5-wrap .section5-container.active i {
  transform: translate(20%, -30%);
  opacity: 1;
}
.section5 .section5-wrap .section5-container.active .section5-swiper .swiper-pagination {
  transform: translateY(0%);
  opacity: 1;
}
.section5 .section5-wrap .section5-container.active .section5-swiper .swiper-list {
  transform: translateY(0%);
  opacity: 1;
}

.section6 .section6-wrap {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  max-width: 1324px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section6 .section6-wrap .section6-subText {
  font-family: "GmarketSansLight";
  font-size: clamp(1rem, 1.5vw, 3rem);
  transform: translateX(-50%);
  transition: all 0.4s;
  opacity: 0;
}
.section6 .section6-wrap .section6-title {
  margin-top: min(1vw, 20px);
  font-size: clamp(4rem, 6vw, 10rem);
  font-family: "GmarketSans";
  color: #351563;
  transform: translateY(100%);
  transition: all 0.4s 0.2s;
  opacity: 0;
}
.section6 .section6-wrap .line-list {
  margin-top: min(2vw, 40px);
  display: flex;
  width: 100%;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .section6 .section6-wrap .line-list {
    flex-wrap: wrap;
  }
}
.section6 .section6-wrap .line-list .list-item {
  position: relative;
  flex: 1 0 0%;
  transform: translateY(30%);
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .section6 .section6-wrap .line-list .list-item {
    flex: auto;
    width: 45%;
  }
}
.section6 .section6-wrap .line-list .list-item img {
  width: 100%;
  vertical-align: middle;
}
.section6 .section6-wrap .line-list .list-item p {
  position: absolute;
  font-size: clamp(1rem, 1.2vw, 2.5rem);
  font-family: "GmarketSans";
  color: #fff;
  bottom: 10px;
  left: 10px;
}
.section6 .section6-wrap .line-list .item-1 {
  transition: all 0.4s 0.4s;
}
.section6 .section6-wrap .line-list .item-2 {
  transition: all 0.4s 0.6s;
}
.section6 .section6-wrap .line-list .item-3 {
  transition: all 0.4s 0.8s;
}
.section6 .section6-wrap .line-list .item-4 {
  transition: all 0.4s 1s;
}
.section6 .section6-wrap .section6-caption {
  font-size: clamp(1rem, 1vw, 2rem);
  margin-top: min(1vw, 20px);
  transform: translateY(100%);
  transition: all 0.4s 1s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .section6 .section6-wrap .section6-caption {
    display: none;
  }
}
.section6 .section6-wrap .section6-subText.active {
  opacity: 1;
  transform: translateX(0%);
}
.section6 .section6-wrap .section6-title.active {
  opacity: 1;
  transform: translateY(0%);
}
.section6 .section6-wrap .line-list.active .list-item {
  transform: translateY(0%);
  opacity: 1;
}
.section6 .section6-wrap .section6-caption.active {
  opacity: 1;
  transform: translateY(0%);
}

.section6 .section6-wrap {
  width: 100%;
  height: 100%;
  padding: 100px;
  text-align: center;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .section6 .section6-wrap {
    padding: 100px 10px;
    background-color: rgb(249, 249, 249);
  }
}
.section6 .section6-wrap .section6-title {
  font-size: clamp(1.8rem, 4vw, 5.5rem);
  font-family: "GmarketSans";
  transform: translateX(-50%);
  transition: all 0.4s;
  opacity: 0;
}
.section6 .section6-wrap .section6-text {
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: #a3a3a3;
  transform: translateY(50%);
  transition: all 0.4s 0.2s;
  opacity: 0;
}
.section6 .section6-wrap .section6-pc {
  margin-top: min(4vw, 40px);
  display: block;
  transform: translateY(50%);
  transition: all 0.4s 0.4s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .section6 .section6-wrap .section6-pc {
    display: none;
  }
}
.section6 .section6-wrap .section6-pc .section6-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  gap: 1vw;
}
.section6 .section6-wrap .section6-pc .section6-list .list-item {
  transition: all 0.4s;
  flex: 1 1 0%;
}
.section6 .section6-wrap .section6-pc .section6-list .list-item:hover {
  flex-grow: 1.2;
}
.section6 .section6-wrap .section6-pc .section6-list .list-item img {
  width: 100%;
}
.section6 .section6-wrap .section6-pc .section6-list .list-item p {
  margin-top: min(1vw, 20px);
  font-size: clamp(1.2rem, 1.2vw, 1.5rem);
  min-height: 75px;
}
.section6 .section6-wrap .section6-title.active {
  transform: translateX(0%);
  opacity: 1;
}
.section6 .section6-wrap .section6-text.active {
  transform: translateY(0%);
  opacity: 1;
}
.section6 .section6-wrap .section6-pc.active {
  transform: translateY(0%);
  opacity: 1;
}
.section6 .section6-wrap .section6-mobile {
  margin-top: min(4vw, 40px);
  display: none;
  transform: translateY(50%);
  transition: all 0.4s 0.4s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .section6 .section6-wrap .section6-mobile {
    display: block;
  }
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__1 {
  width: 100%;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__1 .section6-list {
  display: flex;
  position: relative;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__1 .section6-list .list-item {
  width: 100%;
  height: 100%;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__1 .section6-list .list-item .item-step {
  position: absolute;
  top: 2vw;
  left: 2vw;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  font-weight: bold;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__1 .section6-list .list-item img {
  width: 100%;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__1 .section6-list .list-item .item-caption {
  text-align: left;
  margin-top: min(1vw, 20px);
  font-size: clamp(1.2rem, 1.2vw, 1.5rem);
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__2 {
  margin-top: min(4vw, 40px);
  width: 100%;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__2 .section6-list .list-item {
  position: relative;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__2 .section6-list .list-item .item-step {
  position: absolute;
  top: 2vw;
  left: 2vw;
  font-size: clamp(1.2rem, 1.2vw, 1.5rem);
  font-weight: bold;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__2 .section6-list .list-item img {
  width: 100%;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__2 .swiper-button {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  gap: 10vw;
  justify-content: center;
  align-items: center;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__2 .swiper-button .swiper-button-prev,
.section6 .section6-wrap .section6-mobile .mobile-swiper__2 .swiper-button .swiper-button-next {
  border: 1px solid #eee;
  width: min(4vw, 5rem);
  height: min(4vw, 5rem);
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  position: relative;
  top: auto;
  margin: 0;
}
.section6 .section6-wrap .section6-mobile .mobile-swiper__2 .swiper-button .swiper-button-prev::after,
.section6 .section6-wrap .section6-mobile .mobile-swiper__2 .swiper-button .swiper-button-next::after {
  font-size: min(2vw, 3rem);
}
.section6 .section6-wrap .section6-mobile.active {
  opacity: 1;
  transform: translateY(0);
}

.section7 {
  background-image: url(../../images/sub/05/background-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .section7 {
    height: 60vh;
    background-image: url(../../images/sub/05/mobile-background-4.jpg);
  }
}
.section7 .section7-wrap {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.section7 .section7-wrap .section7-title {
  font-size: clamp(4rem, 6vw, 10rem);
  font-family: "GmarketSans";
  color: #3f1b65;
  text-align: center;
  transition: all 0.4s;
  transform: translateY(100%);
  opacity: 0;
}
.section7 .section7-wrap .section7-title.active {
  transform: translateY(0%);
  opacity: 0.5;
}/*# sourceMappingURL=sub05-03.css.map */