@use "../abstacts/_variavles" as *;
@import "../_mixin.scss";

.section{
  width: 100%;
  height: 100vh;
  @include tablet{
    height: auto;
  }
}

.section1{
  background-image: url(../../images/sub/08/background-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  .section1-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .section1-text{
      background-color:rgba(255, 255, 255, 0.5);
      text-align: center;
      padding: 20px 100px;
      .section1-title{
        font-family: "GmarketSans";
        font-size: clamp(2.5rem,5vw,10rem);
      }
      .section1-subTitle{
        font-size: clamp(1.2rem,1.5vw,2rem);
      }
    }
  }
}

.section2{
  width: 100%;
  height: 100%;
  .section2-wrap{
    padding: 20px 0;
    width: 100%;
    height: 100%;
    .title-list{
      margin: 5vw;
      display: flex;
      gap: 10px;
      .list-item{

      }
    }
  }
}