@use "../abstacts/_variavles" as *;
@import "../_mixin.scss";

.section{
  width: 100%;
  height: 100vh;
  @include tablet{
    height: auto;
  }
}

.section1{
  background-image: url(../../images/sub/08/background-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .section1-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .section1-text{
      background-color:rgba(255, 255, 255, 0.5);
      text-align: center;
      padding: 20px 100px;
      .section1-title{
        font-family: "GmarketSans";
        font-size: clamp(2.5rem,5vw,10rem);
      }
      .section1-subTitle{
        font-size: clamp(1.2rem,1.5vw,2rem);
      }
    }
  }
}

.section2{
  width: 100%;
  height: 100%;
  max-width: 1325px;
  margin: 0 auto;
  padding: 0 20px 100px;
  .section2-wrap{
    padding: 20px 0;
    width: 100%;
    height: 100%;
    .title-list{
      margin-top: 5vw;
      padding: 0 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .list-item{
        flex: 1 0 0;
        background-color: #e2e2e2;
        text-align: center;
        padding: 10px;
        @include tablet{
          width: 30%;
          flex: 1 0 auto;
        }
        a{
          font-size: clamp(1.5rem,1.8vw,2rem);
          display: block;
          width: 100%;
          height: 100%;
          white-space: nowrap;
        }
      }
      .list-item.active{
        background-color: #330264;
        a{
          color: #fff;
        }
      }
    }
    .line{
      width: 100%;
      height: 1px;
      background-color: #000;
      margin: 2.5vw 0;
    }
    .example-leader{
      width: 100%;
      padding:0 clamp(17.5px, 1.8vw, 35px);
      @include tablet{
        padding: 0;
      }
      .leader-img{
        display: flex;
        .img-before{
          width: 50%;
          position: relative;
          img{
            width: 100%;
          }
          &::after{
            vertical-align: top;
            content: 'BEFORE';
            font-size: clamp(1rem,1vw,1.5rem);
            position: absolute;
            padding: min(2vw,20px) 0;
            width: 10vw;
            max-width: 125px;
            background-color: #d4d4d4;
            top: 0;
            left: 0;
            text-align: center;
          }
        }
        
        .img-after{
          width: 50%;
          position: relative;
          overflow: hidden;
          img{
            width: 100%;
            filter: blur(10px);
          }
          &::before{
            content: '로그인 후 확인가능합니다.';
            width: 100%;
            font-size: clamp(1rem,1vw,1.5rem);
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            text-align: center;
          }
          &::after{
            content: 'AFTER';
            font-size: clamp(1rem,1vw,1.5rem);
            color: #fff;
            position: absolute;
            padding: min(2vw,20px) 0;
            width: 10vw;
            max-width: 125px;
            background-color: #350565;
            top: 0;
            left: 0;
            text-align: center;
          }
        }
      }
    }
    .leader-caption{
      margin-top: 10px;
      font-size: clamp(1rem,1vw,1.5rem);
      color: #fff;
      background-color: #383838;
      padding: 20px;
      text-align: center;
    }
    .example-more{
      margin: 2.5vw 0;
      padding:0 clamp(17.5px, 1.8vw, 35px);
      display: flex;
      gap: 1vw;
      @include tablet{
        padding: 0;
      }
      .more-list-1,.more-list-2{
        flex: 1;
        .list-item{
          display: flex;
          width: 100%;
          position: relative;
          margin-top: 1vw;
          .img-before{
            img{
              width: 100%;
              vertical-align: middle;
            }
          }
          .img-after{
            position: relative;
            overflow: hidden;
            img{
              vertical-align: middle;
              width: 100%;
              filter: blur(10px);
            }
            &::before{
              content: '로그인 후 확인가능합니다.';
              width: 100%;
              font-size: clamp(0.8rem,1vw,1.5rem);
              color: #fff;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              z-index: 1;
              text-align: center;
            }
          }
          &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
    .pagination{
      width: 100%;
      .pagination-list{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .list-item{
          a{
            display: block;
            font-size: clamp(1rem,1vw,1.5rem);
            color: #383838;
          }
          a.active{
            color: #000;
            font-weight: bold;
          }
        }
      }
    }
  }
}