@use "../abstacts/_variavles" as *;
@import "../_mixin.scss";

.section{
  width: 100%;
  height: 100vh;
  @include tablet{
    height: auto;
  }
}

.section1{
  background-image: url(../../images/sub/02/background-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  .section1-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section1-subTitle{
      text-align: center;
      p{
        font-size: clamp(1.2rem,1.5vw,3rem);
        letter-spacing: 0.3rem;
      }
    }
    .section1-title{
      margin-top: clamp(4.5rem,4.5vw,9rem);
      text-align: center;
      h2{
        font-family: "GmarketSans";
        font-size: clamp(2.5rem,5vw,10rem);
      }
    }
  }
}

.section2-wrap{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 0;
  max-width: 1324px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .section2-title{
    h6{
      font-size: clamp(1.5rem,2.5vw,5rem);
      font-family: "GmarketSansLight";
      line-height: 1.4;
    }
    b{
      font-family: "GmarketSans";
    }
    p{
      font-size: clamp(1rem,1vw,2rem);
      margin-top: min(2vw,40px);
    }
  }
  .section2-information{
    margin-top: min(4vw,50px);
    .information-title{
      font-family: "GmarketSans";
      font-size: clamp(1.5rem,2vw,3rem);
    }
    .information-list{
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 3vw;
      .list-item{
        position: relative;
        text-align: center;
        padding: 20px 0 0 0; 
        b{
          font-size: clamp(1rem,1vw,2rem);
        }
        p{
          font-size: clamp(1rem,1vw,1.5rem);
        }
        &::before{
          content: '';
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translateX(-50%);
          width: 27px;
          height: 27px;
          background-color: #350565;
          border-radius: 50%;
        }
      }
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 7px;
        background-color: #efeff0;
      }
    }
  }
}

.section3{
  background-color: rgb(239, 239, 240);
  .section3-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    max-width: 1324px;
    margin: 0 auto;
    position: relative;
      .section3-text{
      text-align: center;
      .text-subTitle{
        font-size: clamp($font-size-s,1.5vw,2.8rem);
        span{
          position: relative;
          font-weight: bold;
          &::before{
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background-color: #000;
            border-radius: 50%;
            position: absolute;
            top: -15%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .text-title{
        font-size: clamp($font-size-l,4vw,8rem);
        font-family: "GmarketSans";
        margin: min(4vw,25px) 0;
      }
    }
    .section3-content{
      width: 100%;
      .content-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1vw;
        .list-item{
          width: 30%;
          .item-text{
            display: flex;
            color: #fff;
            p{
              font-size: clamp(1rem,1vw,1.5rem);
              width: 100%;
              text-align: center;
              line-height: 3;
            }
            .text-left{
              background-color: #000;
            }
            .text-right{
              background-color: #350566;
            }
          }
          .item-twenty{
            img{
              width: 100%;
            }
          }
        }
      }
      .content-caption{
        margin-top: min(1vw,20px);
        text-align: center;
        font-size: clamp($font-size-s,1.5vw,1.8rem);
      }
    }
  }
}

.section4{
  background-image: url(../../images/sub/02/background-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  .section4-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    .section4-content{
      background-color: #fff;
      max-width: 1324px;
      width: 100%;
      height: 100%;
      margin: 0 10px;
      padding: clamp(3rem,3vw,6.5rem);
      text-align: center;
      .content-text{
        text-align: left;
        .text-subTitle{
          font-size: clamp(1rem,1vw,2.2rem);
        }
        .text-title{
          font-size: clamp(1.8rem,4vw,5.5rem);
          padding-top: 10px;
          font-family: "GmarketSans";
          .content-text__color{
            color: #350565;
          }
        }
      }
      .content-list{
        margin-top: 2vw;
        .list-item{
          display: flex;
          width: 100%;
          font-size: clamp(1rem,1vw,2rem);
          margin-top: 1vw;
          .item-number{
            font-weight: bold;
            margin-right: 1vw;
          }
          .item-line{
            width: 100%;
            flex: 1 0 0%;
            border-bottom: 2px dotted #a3a3a3;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 40px;
          }
          input{
            padding: 10px;
            width: 20px;
            height: 20px;
            border-radius: 10px;
          }
        }
      }
      .content-button{
        background-color: #350565;
        color: #fff;
        font-size: clamp(1rem,1.2vw,2rem);
        padding: 2rem 4rem;
        margin-top: 2vw;
        border-radius: 10px;
      }
    }
  }
}

.section5{
  background-image: url(../../images/sub/02/background-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  .section5-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 0;
    max-width: 1324px;
    margin: 0 auto;
    .section5-container{
      margin: 0 10px;
      .section5-title{
        font-size: clamp(1.8rem,4vw,5.5rem);
        font-family: "GmarketSansLight";
        position: relative;
        z-index: 1;
      }
      i{
        font-size: clamp(4rem,6vw,10rem);
        font-family: "GmarketSans";
        color: #350565;
        display: inline-block;
        transform: translate(20%,-30%);
      }
      .section5-swiper{
        margin-top: clamp(5rem,5vw,10rem);
        position: relative;
        .swiper-pagination{
          display: flex;
          justify-content: space-around;
          width: 100%;
          border-bottom: 7px solid #fff;
          li{
            font-family: "GmarketSans";
            font-size: clamp(1rem,1.5vw,3rem);
            padding-bottom: 1vw;
          }
        }
      }
    }
  }
}