@use "../abstacts/_variavles" as *;
@import "../_mixin.scss";

.section1{
  width: 100%;
  height: 100vh;
  background-image: url(../../images/sub/01/05/background-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  .section1-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .section1-title__1{
      font-family: "GmarketSans";
      font-size: clamp($font-size-l,5.5vw,10rem);
      transition: all 0.5s;
      transform: translateX(-50%);
      opacity: 0;
    }
    .section1-title__2{
      font-family: "GmarketSans";
      font-size: clamp(5rem,6vw,12rem);
      transition: all 0.5s;
      transform: translateX(-50%);
      opacity: 0;
    }
    .section1-text{
      .section1-text__1,
      .section1-text__2,
      .section1-text__3,
      .section1-text__4{
        font-size: clamp($font-size-s,2vw,$font-size-m);
        opacity: 0;
        transition: all 0.5s;
        transform: translateY(100%);
      }
    }
    .section1-title__1.active{
      transform: translateX(0%);
      opacity: 1;
    }
    .section1-title__2.active{
      transform: translateX(0%);
      opacity: 1;
    }
    .section1-text{
      .section1-text__1.active,
      .section1-text__2.active,
      .section1-text__3.active,
      .section1-text__4.active{
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }
}

.section2{
  width: 100%;
  height: 100%;
  .section2-wrap{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    @include laptopSmall{
      flex-direction: column;
      height: 300vh;
    }
    .content-1{
      padding: 100px 5vw;
      display: flex;
      align-items:center;
      justify-content: center;
      transition: all 0.4s;
      gap: 1vw;
      @include laptopSmall{
        padding: 50px 10px;
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
      }
      .content-1__title{
        font-family: "GmarketSans";
        .title{
          transition: all 1s;
          font-size: clamp($font-size-l,2.5vw,5rem);
          white-space: nowrap;
        }
        .title-hidden{
          font-size: clamp($font-size-m,2vw,4rem);
          margin-top: 1vw;
        }
      }
      .content-1__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s 1s;
        @include laptopSmall{
          width: 100%;
          height: auto;
          visibility: visible;
          opacity: 1;
        }
        .text-1{
          margin-top: min(10vw,20px);
          .text-1__title{
            font-weight: bold;
            font-size: clamp($font-size-s,2vw,$font-size-m);
            margin-top: min(10vw,20px);
          }
          .text-1__content{
            font-size: clamp($font-size-s,1.5vw,$font-size-m);
            @include laptopSmall{
              margin-top: 1.5vw;
              font-size: clamp(1rem,1.5vw,$font-size-m);
            }
          }
          @include laptopSmall{
            &:not(:first-child)::before{
              content: '';
              display: block;
              width: 80%;
              height: 1px;
              background-color: #000;
            }
          }
        }
      }
    }
    .content-1.active{
      width: auto;
      flex: auto;
      justify-content: space-between;
      gap: 1vw;
      .content-1__title{
        .title{
          transition: all 1s;
          font-size: clamp(5rem,6vw,12rem);
        }
        .title-hidden{
          font-size: clamp($font-size-m,2vw,4rem);
        }
      }
      .content-1__text{
        width: 50%;
        opacity: 1;
        visibility: visible;
      }
    }
    .content-1.noActive{
      flex: auto;
      padding: 100px 1vw;
      .content-1__title{
        .title{
          font-size: 2rem;
        }
        .title-hidden{
          display: none;
        }
      }
      .content-1__text{
        width: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
      }
    }
    .content-2{
      flex: 1;
      display: flex;
      background-color: #000;
      color: #fff;
      padding: 100px 5vw;
      align-items: center;
      justify-content: center;
      transition: all 0.4s;
      @include laptopSmall{
        padding: 50px 10px;
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
      }
      .content-2__title{
        font-family: "GmarketSans";
        .title{
          transition: all 1s;
          font-size: clamp($font-size-l,2.5vw,5rem);
          white-space: nowrap;
        }
        .title-hidden{
          font-size: clamp($font-size-m,2vw,4rem);
          margin-top: 1vw;
        }
      }
      .content-2__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s 1s;
        @include laptopSmall{
          width: 100%;
          height: auto;
          visibility: visible;
          opacity: 1;
        }
        .text-2{
          margin-top: min(10vw,20px);
          .text-2__title{
            font-weight: bold;
            font-size: clamp($font-size-s,2vw,$font-size-m);
            margin-top: min(10vw,20px);
          }
          .text-2__content{
            font-size: clamp($font-size-s,1.5vw,$font-size-m);
            @include laptopSmall{
              margin-top: 1.5vw;
              font-size: clamp(1rem,1.5vw,$font-size-m);
            }
          }
          @include laptopSmall{
            &:not(:first-child)::before{
              content: '';
              display: block;
              width: 80%;
              height: 1px;
              background-color: #fff;
            }
          }
        }
      }
    }
    .content-2.active{
      gap: 1vw;
      width: auto;
      flex: auto;
      justify-content: space-between;
      .content-2__title{
        .title{
          transition: all 1s;
          font-size: clamp(5rem,6vw,12rem);
        }
        .title-hidden{
          font-size: clamp($font-size-m,2vw,4rem);
        }
      }
      .content-2__text{
        width: 50%;
        opacity: 1;
        visibility: visible;
      }
    }
    .content-2.noActive{
      flex: auto;
      padding: 100px 1vw;
      .content-2__title{
        .title{
          font-size: 2rem;
        }
        .title-hidden{
          display: none;
        }
      }
      .content-2__text{
        width: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
      }
    }
    .content-3{
      flex: 1;
      background-color: rgb(101, 25, 177);
      color: #fff;
      display: flex;
      padding: 100px 5vw;
      align-items: center;
      justify-content: center;
      transition: all 0.4s;
      @include laptopSmall{
        padding: 50px 10px;
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
      }
      .content-3__title{
        font-family: "GmarketSans";
        .title{
          transition: all 1s;
          font-size: clamp($font-size-l,2.5vw,5rem);
          white-space: nowrap;
        }
        .title-hidden{
          font-size: clamp($font-size-m,2vw,4rem);
        }
      }
      .content-3__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s 1s;
        @include laptopSmall{
          width: 100%;
          height: auto;
          visibility: visible;
          opacity: 1;
        }
        .text-3{
          margin-top: min(10vw,20px);
          .text-3__title{
            font-weight: bold;
            font-size: clamp($font-size-s,2vw,$font-size-m);
            margin-top: min(10vw,20px);
          }
          .text-3__content{
            font-size: clamp($font-size-s,1.5vw,$font-size-m);
            @include laptopSmall{
              margin-top: 1.5vw;
              font-size: clamp(1rem,1.5vw,$font-size-m);
            }
          }
          @include laptopSmall{
            &:not(:first-child)::before{
              content: '';
              display: block;
              width: 80%;
              height: 1px;
              background-color: #fff;
            }
          }
        }
      }
    }
    .content-3.active{
      gap: 1vw;
      width: auto;
      flex: auto;
      justify-content: space-between;
      .content-3__title{
        .title{
          font-size: clamp(5rem,6vw,12rem);
        }
        .title-hidden{
          font-size: clamp($font-size-m,2vw,4rem);
        }
      }
      .content-3__text{
        width: 50%;
        opacity: 1;
        visibility: visible;
      }
    }
    .content-3.noActive{
      flex: auto;
      padding: 100px 1vw;
      .content-3__title{
        .title{
          font-size: 2rem;
        }
        .title-hidden{
          display: none;
        }
      }
      .content-3__text{
        width: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

