@charset "UTF-8";
.section {
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .section {
    height: auto;
  }
}

.section1 {
  background-image: url(../../images/sub/02/background-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.section1 .section1-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section1 .section1-wrap .section1-subTitle {
  text-align: center;
}
.section1 .section1-wrap .section1-subTitle p {
  font-size: clamp(1.2rem, 1.5vw, 3rem);
  letter-spacing: 0.3rem;
}
.section1 .section1-wrap .section1-title {
  margin-top: clamp(4.5rem, 4.5vw, 9rem);
  text-align: center;
}
.section1 .section1-wrap .section1-title h2 {
  font-family: "GmarketSans";
  font-size: clamp(2.5rem, 5vw, 10rem);
}

.section2-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 20px;
  max-width: 1324px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2-wrap .section2-title h6 {
  font-size: clamp(1.5rem, 2.5vw, 5rem);
  font-family: "GmarketSansLight";
  line-height: 1.4;
}
.section2-wrap .section2-title b {
  font-family: "GmarketSans";
}
.section2-wrap .section2-title p {
  font-size: clamp(1rem, 1vw, 2rem);
  margin-top: min(2vw, 40px);
}
.section2-wrap .section2-information {
  margin-top: min(4vw, 50px);
}
.section2-wrap .section2-information .information-title {
  font-family: "GmarketSans";
  font-size: clamp(1.5rem, 2vw, 3rem);
}
.section2-wrap .section2-information .information-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 3vw;
  position: relative;
}
.section2-wrap .section2-information .information-list .list-item {
  position: relative;
  text-align: center;
  padding: 20px 0 0 0;
}
.section2-wrap .section2-information .information-list .list-item b {
  font-size: clamp(1rem, 1vw, 2rem);
}
.section2-wrap .section2-information .information-list .list-item p {
  font-size: clamp(1rem, 1vw, 1.5rem);
}
.section2-wrap .section2-information .information-list .list-item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 27px;
  height: 27px;
  background-color: #350565;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .section2-wrap .section2-information .information-list .list-item::before {
    top: -2.5px;
    width: 10px;
    height: 10px;
  }
}
.section2-wrap .section2-information .information-list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #efeff0;
}
@media screen and (max-width: 768px) {
  .section2-wrap .section2-information .information-list::before {
    height: 5px;
  }
}

.section3 {
  background-color: rgb(239, 239, 240);
}
.section3 .section3-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 20px;
  max-width: 1324px;
  margin: 0 auto;
  position: relative;
}
.section3 .section3-wrap .section3-text {
  text-align: center;
}
.section3 .section3-wrap .section3-text .text-subTitle {
  font-size: clamp(1.5rem, 1.5vw, 2.8rem);
}
.section3 .section3-wrap .section3-text .text-subTitle span {
  position: relative;
  font-weight: bold;
}
.section3 .section3-wrap .section3-text .text-subTitle span::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .section3-text .text-subTitle span::before {
    width: 3px;
    height: 3px;
  }
}
.section3 .section3-wrap .section3-text .text-title {
  font-size: clamp(3rem, 4vw, 8rem);
  font-family: "GmarketSans";
  margin: min(4vw, 25px) 0;
}
.section3 .section3-wrap .section3-content {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .section3-content .content-list__wrap {
    overflow: auto;
  }
}
.section3 .section3-wrap .section3-content .content-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .section3-content .content-list {
    justify-content: space-between;
    overflow: auto;
    width: 200%;
  }
}
.section3 .section3-wrap .section3-content .content-list .list-item {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .section3-content .content-list .list-item {
    width: 30%;
    flex: 0 0 auto;
  }
}
.section3 .section3-wrap .section3-content .content-list .list-item .item-text {
  display: flex;
  color: #fff;
}
.section3 .section3-wrap .section3-content .content-list .list-item .item-text p {
  font-size: clamp(1rem, 1vw, 1.5rem);
  width: 100%;
  text-align: center;
  line-height: 3;
}
.section3 .section3-wrap .section3-content .content-list .list-item .item-text .text-left {
  background-color: #000;
}
.section3 .section3-wrap .section3-content .content-list .list-item .item-text .text-right {
  background-color: #350566;
}
.section3 .section3-wrap .section3-content .content-list .list-item .item-twenty img {
  width: 100%;
}
.section3 .section3-wrap .section3-content .content-caption {
  margin-top: min(1vw, 20px);
  text-align: center;
  font-size: clamp(1.5rem, 1.5vw, 1.8rem);
}

.section4 {
  background-image: url(../../images/sub/02/background-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .section4 {
    background-position: top right;
  }
}
.section4 .section4-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.section4 .section4-wrap .section4-content {
  background-color: #fff;
  max-width: 1324px;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  padding: clamp(3rem, 3vw, 6.5rem);
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section4 .section4-wrap .section4-content {
    padding-bottom: 20vw;
  }
}
.section4 .section4-wrap .section4-content .content-text {
  text-align: left;
}
.section4 .section4-wrap .section4-content .content-text .text-subTitle {
  font-size: clamp(1rem, 1vw, 2.2rem);
}
.section4 .section4-wrap .section4-content .content-text .text-title {
  font-size: clamp(1.8rem, 4vw, 5.5rem);
  padding-top: 10px;
  font-family: "GmarketSans";
}
.section4 .section4-wrap .section4-content .content-text .text-title .content-text__color {
  color: #350565;
}
.section4 .section4-wrap .section4-content .content-list {
  margin-top: 2vw;
}
.section4 .section4-wrap .section4-content .content-list .list-item {
  display: flex;
  width: 100%;
  font-size: clamp(1rem, 1vw, 2rem);
  margin-top: 1vw;
}
.section4 .section4-wrap .section4-content .content-list .list-item .item-number {
  font-weight: bold;
  margin-right: 1vw;
}
.section4 .section4-wrap .section4-content .content-list .list-item .item-line {
  width: 100%;
  flex: 1 0 0%;
  border-bottom: 2px dotted #a3a3a3;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 40px;
}
@media screen and (max-width: 768px) {
  .section4 .section4-wrap .section4-content .content-list .list-item .item-line {
    visibility: hidden;
  }
}
.section4 .section4-wrap .section4-content .content-list .list-item input {
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.section4 .section4-wrap .section4-content .content-button {
  background-color: #350565;
  color: #fff;
  font-size: clamp(1rem, 1.2vw, 2rem);
  padding: 2rem 4rem;
  margin-top: 2vw;
  border-radius: 10px;
}

.section5 {
  background-image: url(../../images/sub/02/background-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .section5 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../images/sub/02/background-mobile-3.gif);
  }
}
.section5 .section5-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 0;
  max-width: 1324px;
  margin: 0 auto;
}
.section5 .section5-wrap .section5-container {
  padding: 100px 0;
  margin: 0 10px;
}
.section5 .section5-wrap .section5-container .section5-title {
  font-size: clamp(2.4rem, 4vw, 5.5rem);
  font-family: "GmarketSansLight";
  position: relative;
  z-index: 1;
}
.section5 .section5-wrap .section5-container i {
  font-size: clamp(4rem, 6vw, 10rem);
  font-family: "GmarketSans";
  color: #461a72;
  display: inline-block;
  transform: translate(20%, -30%);
}
.section5 .section5-wrap .section5-container .section5-swiper {
  margin-top: clamp(5rem, 5vw, 10rem);
  position: relative;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 7px solid rgba(255, 255, 255, 0.7);
  text-align: center;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-pagination .swiper-pagination-bullet {
  font-family: "GmarketSans";
  font-size: clamp(1rem, 1.5vw, 3rem);
  padding-bottom: 1vw;
  width: 20%;
  position: relative;
  height: auto;
  margin: 0;
  background-color: transparent;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 100%;
  left: 0;
  height: 7px;
  background-color: #461a72;
  opacity: 0;
  transition: all 0.4s;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-pagination .swiper-pagination-bullet-active::after {
  opacity: 1;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-list {
  margin-top: 2vw;
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-list .list-item .itme-title {
  font-size: clamp(1.5rem, 1.2vw, 2rem);
}
.section5 .section5-wrap .section5-container .section5-swiper .swiper-list .list-item .item-text {
  margin-top: 2vw;
  font-size: clamp(1.2rem, 1vw, 1.5rem);
  color: #a3a3a3;
}

.section6 .section6-wrap {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  max-width: 1324px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section6 .section6-wrap .section6-subText {
  font-family: "GmarketSansLight";
  font-size: clamp(1rem, 1.5vw, 3rem);
}
.section6 .section6-wrap .section6-title {
  margin-top: min(1vw, 20px);
  font-size: clamp(4rem, 6vw, 10rem);
  font-family: "GmarketSans";
  color: #351563;
}
.section6 .section6-wrap .line-list {
  margin-top: min(2vw, 40px);
  display: flex;
  width: 100%;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .section6 .section6-wrap .line-list {
    flex-wrap: wrap;
  }
}
.section6 .section6-wrap .line-list .list-item {
  position: relative;
  flex: 1 0 0%;
}
@media screen and (max-width: 768px) {
  .section6 .section6-wrap .line-list .list-item {
    flex: auto;
    width: 45%;
  }
}
.section6 .section6-wrap .line-list .list-item img {
  width: 100%;
  vertical-align: middle;
}
.section6 .section6-wrap .line-list .list-item p {
  position: absolute;
  font-size: clamp(1rem, 1.2vw, 2.5rem);
  font-family: "GmarketSans";
  color: #fff;
  bottom: 10px;
  left: 10px;
}
.section6 .section6-wrap .section6-caption {
  font-size: clamp(1rem, 1vw, 2rem);
  margin-top: min(1vw, 20px);
}
@media screen and (max-width: 768px) {
  .section6 .section6-wrap .section6-caption {
    display: none;
  }
}

.section7 .section7-wrap {
  width: 100%;
  height: 100%;
  padding: 100px;
  text-align: center;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section7 .section7-wrap .section7-title {
  font-size: clamp(1.8rem, 4vw, 5.5rem);
  font-family: "GmarketSans";
}
.section7 .section7-wrap .section7-text {
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: #a3a3a3;
}
.section7 .section7-wrap .section7-pc .section7-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin-top: min(4vw, 40px);
  gap: 1vw;
}
.section7 .section7-wrap .section7-pc .section7-list .list-item {
  transition: all 0.4s;
  flex: 1 1 0%;
}
.section7 .section7-wrap .section7-pc .section7-list .list-item:hover {
  flex-grow: 1.2;
}
.section7 .section7-wrap .section7-pc .section7-list .list-item img {
  width: 100%;
}
.section7 .section7-wrap .section7-pc .section7-list .list-item p {
  margin-top: min(1vw, 20px);
  font-size: clamp(1rem, 1vw, 1.5rem);
  min-height: 75px;
}
.section8 .section8-wrap {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  max-width: 1324px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section8 .section8-wrap .section8-title {
  font-size: clamp(1.8rem, 4vw, 5.5rem);
  font-family: "GmarketSansLight";
}
.section8 .section8-wrap .section8-title b {
  font-family: "GmarketSans";
}
.section8 .section8-wrap .section8-subTitle {
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: #a3a3a3;
}
.section8 .section8-wrap .section8-example {
  margin-top: clamp(3.5rem, 3.5vw, 7rem);
  display: flex;
  width: 100%;
}
.section8 .section8-wrap .section8-example .example-leader {
  flex: 0 0 auto;
  width: 50%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section8 .section8-wrap .section8-example .example-leader .leader-imgs .leader-before-wrap {
  position: relative;
}
.section8 .section8-wrap .section8-example .example-leader .leader-imgs .leader-before-wrap .leader-before {
  width: 100%;
}
.section8 .section8-wrap .section8-example .example-leader .leader-imgs .leader-before-wrap::after {
  content: "BEFORE";
  font-size: clamp(1rem, 1vw, 1.5rem);
  position: absolute;
  padding: 20px 0;
  width: 125px;
  background-color: #d4d4d4;
  top: 0;
  left: 0;
}
.section8 .section8-wrap .section8-example .example-leader .leader-imgs .leader-after-wrap {
  overflow: hidden;
  margin-top: 1vw;
  position: relative;
}
.section8 .section8-wrap .section8-example .example-leader .leader-imgs .leader-after-wrap .leader-after {
  width: 100%;
  filter: blur(10px);
}
.section8 .section8-wrap .section8-example .example-leader .leader-imgs .leader-after-wrap::before {
  content: "로그인 후 확인가능합니다.";
  width: 100%;
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.section8 .section8-wrap .section8-example .example-leader .leader-imgs .leader-after-wrap::after {
  content: "AFTER";
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: #fff;
  position: absolute;
  padding: 20px 0;
  width: 125px;
  background-color: #350565;
  top: 0;
  left: 0;
}
.section8 .section8-wrap .section8-example .example-leader .leader-caption {
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: #fff;
  background-color: #383838;
  padding: 20px;
}
.section8 .section8-wrap .section8-example .example-more {
  width: 50%;
  padding: 0 60px;
}
.section8 .section8-wrap .section8-example .example-more .section8-swiper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__1,
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__2 {
  width: 100%;
}
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__1 .list-item,
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__2 .list-item {
  display: flex;
  width: 100%;
  gap: 0.5vw;
  margin-bottom: 0.5vw;
}
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__1 .list-item .item-before,
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__2 .list-item .item-before {
  width: 50%;
}
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__1 .list-item .item-after-wrap,
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__2 .list-item .item-after-wrap {
  overflow: hidden;
  width: 50%;
  position: relative;
}
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__1 .list-item .item-after-wrap .item-after,
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__2 .list-item .item-after-wrap .item-after {
  width: 100%;
  filter: blur(10px);
}
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__1 .list-item .item-after-wrap::before,
.section8 .section8-wrap .section8-example .example-more .section8-swiper .swiper-wrapper .more-list__2 .list-item .item-after-wrap::before {
  content: "로그인 후 확인가능합니다.";
  width: 100%;
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.section8 .section8-wrap .section8-example .example-more .more-button {
  width: 100%;
  font-size: clamp(1rem, 1vw, 1.5rem);
  color: #fff;
  background-color: #383838;
  padding: 20px;
}

.section9 {
  background-image: url(../../images/sub/02/background-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.section9 .section9-wrap {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.section9 .section9-wrap .section9-title {
  font-size: clamp(4rem, 6vw, 10rem);
  font-family: "GmarketSans";
  color: #3f1b65;
  opacity: 0.5;
  text-align: center;
}/*# sourceMappingURL=sub02-01.css.map */