@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

@font-face{
  font-family: "GmarketSans";
  src:url('../../font/GmarketSansTTFBold.ttf');
}

@font-face{
  font-family: "GmarketSansLight";
  src:url('../../font/GmarketSansTTFLight.ttf');
}


@font-face{
  font-family: "Noto Serif KR", serif;
}

// *{
//   outline: 1px solid turquoise;
// }

.-hidden{
  display: none;
}
