$color-purple:#934098;
$color-beige: #fff3cd;
$font-size-s: 1.5rem;
$font-size-m: 2.2rem;
$font-size-l: 3rem;

$breakpoint-mobile: 420px;
$breakpoint-tablet: 768px;
$breakpoint-laptopSmall: 990px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1920px;
