select,
input {
  width: 95px;
  padding: 5px 5px;
}

input[type='checkbox']{
  width: auto;
}

input[type='text']{
  border-top: none;
  border-left: none;
  border-right: none;
}

button {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  font-size: 14px;
  width: 120px;
}

.noBtn {
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 120px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.section1 {
  max-width: 1200px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.whiteP {
  background-color: #fff;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 0;
}

.table-wrap {
  border: 1px solid #888;
  min-height: 500px;
  max-height: 500px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
  background-color: #eee;
  width: 100px;
}

.table tbody {
  /* background-color: #fff; */
}

.table tbody tr {
  height: 30px;
  background-color: lightsteelblue;
}

.table tbody td {
  border: 1px solid #000;
}

.table tbody td button {
  width: 120px;
}


/* ---------------------------- */

.table th:nth-child(1),
.table th:nth-child(6)
{
  width: 150px;
}
.table th:nth-child(2),
.table th:nth-child(4),
.table th:nth-child(5){
  width: 50px;
}
.table th:nth-child(3){
  width: 350px;
}

.title-btn{
  font-weight: bold;
  display: block;
  width: 180px;
  line-height: 2.4;
}

.top-textarea-wrap{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
}

.top-textarea{
  width: 80%;
  height: 60px;
  overflow-y: scroll;
}

.notice-wrap{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.bottom-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.text-wrap{
  margin-top: 20px;
  width: 100%;
}

.box{
  width: 100%;
  height: 20px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
}

.text-wrap textarea{
  margin-top: 10px;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
}

.button-wrap button{
  display: block;
  margin: 20px 0;
}

.button-wrap button:nth-child(2){
  margin-top: 40px;
}