.subTop-btn {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start
}

.btn-1,
.btn-2,
.btn {
  display: flex;
  gap: 10px;
}

.btn-1,
.btn-2 {
  flex-wrap: wrap;
}


@media screen and (max-width: 425px) {
  .btn-1, .btn-2{
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
