select,
input {
  width: 95px;
  padding: 5px 5px;
}

button {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  font-size: 14px;
}

p{
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 95px;
  text-align: center;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
}

.section1 {
  max-width: 1500px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.whiteP{
  /* width:  60px; */
  background-color: #fff;
}

.content-wrap{
  width: 100%;
  height: 100%;
  display: flex;
}

.content-left{
  width: 550px;
}

.btn-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-btn p{
  width: 95px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  text-align: center;
}

.top-btn1 button,
.top-btn2 button{
  width: 95px;
}

.top-btn1{
  margin-top: 10px;
}

.top-btn2{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left-1{
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid;
    position: relative;
    margin-top: 10px;
  }

  .left-1::after{
    content: '기본정보';
    position: absolute;
    top: -2%;
    font-size: 14px;
    background-color: #f5f5f5;
  }

.left-1__flex{
  display: flex;
  width: 100%;
  gap: 7px;
  justify-content: space-between;
  margin-top: 10px;
}

.flexGrow{
  flex: 1 0 auto;
}

.item{
  width: 50%;
  display: flex;
  gap: 7px;
  justify-content: space-between;
}

.meno{
  height: 120px;
}

.meno p{
  line-height: 120px;
}