.tap-list{
  margin-left: 10px;
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.table-2{
  margin-top: 20px;
}

.btn{
  gap: 10px;
}

.bg-red{
  background-color: lightcoral;
}
.bg-skyBlue{
  background-color: skyblue;
}
.bg-blue{
  background-color: paleturquoise;
}

body.dark .table tr td:nth-child(7){
  background-color: skyblue;
  color: #000;
}

body.dark .table tr td:nth-child(13){
  background-color: lightcoral;
}

body.dark .table tr:nth-child(2n) td:nth-child(2){
  background-color: lightcoral;
}

body.dark .table tr td:nth-child(15){
  background-color: paleturquoise;
  color: #000;
}

body.dark .table tr:nth-child(2n) td:nth-child(4){
  background-color: paleturquoise;
  color: #000;
}

body.dark .table tr:nth-child(2n) td:nth-child(7){
  background-color: #1f2027;
  color: #e3e3e3;
}

body.dark .table tr:nth-child(2n) td:nth-child(13){
  background-color: #1f2027;
  color: #e3e3e3;
}

body.dark .table tr:nth-child(2n) td:nth-child(15){
  background-color: #1f2027;
  color: #e3e3e3;
}

@media screen and (max-width:425px){
  .tap-list {
    justify-content: center;
}
}