.main-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.left-content,
.right-content {
  width: calc(50% - 10px);
  height: 100%;
}

.right-content .top-btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-btn .left,
.bottom-btn .right {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.bottom-btn .right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.left-2 {
  display: flex;
  gap: 10px;
}

.right-2 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.right-2-1{
  display: flex;
  gap: 10px;
}

.table button{
  background-color: #f5f5f5;
  font-size: 12px;
  box-shadow:none;
}

.table button.on{
  background-color: #333;
  color: #fff;
}

body.dark table button{
  background-color: #eee;
}

aside {
  position: absolute;
  width: 500px;
  border: 1px solid #000;
  top: 20%;
  left: 50%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  transform: translateX(-50%);
  z-index: 77;
}

aside .top-wrap {
  display: flex;
  justify-content: space-between;
}


#textMore {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  border-radius: 1rem;
}

.chatText{
  display: flex;
  gap: 10px;
}

.hAuto{
  height: auto;
}

.chatText input {
  height: 80px;
  width: 100%;
}

aside .bottom-btn {
  margin-top: 20px;
}

@media screen and (max-width: 1250px) {
  .left-content,
  .right-content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .bottom-btn {
    justify-content: flex-start;
  }

  aside {
    width: 350px;
  }
}

@media screen and (max-width: 560px) {
  .left-content .top-btn {
    align-items: flex-start;
    flex-direction: column;
  }

  .right-content .top-btn {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .left-2 {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }

  .bottom-btn .left,
  .bottom-btn .right {
    justify-content: center;
  }

  .right-2 {
    flex-direction: column;
  }
}
