.subTop-btn {
  padding: 10px 10px 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.btn-1,
.btn-2,
.btn {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .subTop-btn,
  .btn-1,
  .btn-2,
  .btn {
    justify-content: center;
    align-items: center;
  }
}
