select,
input {
  width: 95px;
  padding: 5px 5px;
}

input[type='text']{
  border-top: none;
  border-left: none;
  border-right: none;
}

button {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  font-size: 14px;
  width: 120px
}

.noBtn {
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 120px;
  text-align: center;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
}

.section1 {
  max-width: 2000px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.whiteP {
  background-color: #fff;
}

.table-wrap {
  border: 1px solid #888;
  min-height: 500px;
  max-height: 500px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
  background-color: #eee;
}

.table tbody {
  /* background-color: #fff; */
}

.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
  width: 200px;
}

.table tbody td button {
  width: 80px;
}


/* ---------------------------- */

.top-btn{
  display: flex;
  gap: 100px;
  justify-content: space-between;
  width: 90%;
}

.title-btn{
  font-weight: bold;
  display: block;
}

.table-wrap{
  position: relative;
}

tfoot{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-collapse: collapse;
  left: 0;
  background-color: #f5f5f5;
}

tfoot th{
  width: 200px;
  border: 1px solid #000;
}

.content{
  margin-top: 20px;
  display: flex;
  gap: 50px;
}

.content>.content-left{
  flex-basis: 60%;
}

.content>.content-right{
  flex-basis: 40%;
}

.btn-wrap{
  display: flex;
  gap: 10px;
}

.btn-wrap button:nth-child(2),
.btn-wrap button:nth-child(4){
  margin-right: 10vw;
}

.left-2,.left-3{
  margin-top: 20px;
}

.content-right{
  box-sizing: border-box;
    padding: 20px;
    border: 1px solid;
}

.content-right .content-wrap{
  display: flex;
  gap: 50px;
}

.content-right .content-left .table-wrap{
  width: 200px;
}

.content-right1{
  margin-top: 20px;
}

.right-2,
.right-3,
.right-4,
.right-5{
  margin-top: 10px;
}

.content-right1 button{
  width: 100%;
  margin-top: 10px;
}

.content-right .content-left .table-wrap{
  min-height : 1600px
}

.content-right2 .table-wrap{
  min-height: 800px;
}

.rigth2-text{
  margin-top: 20px;
}

.rigth2-text .noBtn{
  width: 150px;
  margin-right: 10px;
}

.rigth2-text input{
  margin-right: 10px;
}

.rigth2-text .last-btn{
  width: 100%;
}