.sub-title {
  background-color: #f5f5f5;
  font-size: 14px;
  color: orange;
  padding: 10px;
  border-radius: 5px;
}

body.dark .sub-title {
  background-color: #2d2e35;
  font-size: 14px;
  color: orange;
  padding: 10px;
  border-radius: 5px;
}

.btn {
  display: flex;
  gap: 10px;
}

.flex1 {
  flex: 1;
}

.flexAuto {
  flex: 0 0 auto;
}

.displayFlex {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.flexColumn {
  flex-direction: column;
}

.overflowAuto {
  overflow: auto;
}

.bottom-btn,
.bottom-btn .left,
.bottom-btn .left-1,
.bottom-btn .left-2 {
  display: flex;
  gap: 10px;
}

.content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.content-left {
  width: 600px;
  flex: 0 0 auto;
}

.content-right {
  width: 100%;
  position: relative;
  overflow: auto;
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-left .left-1,
.content-left .left-2,
.content-left .left-3,
.content-left .left-4 {
  box-sizing: border-box;
  position: relative;
}

.item {
  width: 50%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.memo {
  height: 120px;
}

.memo p {
  height: 120px;
  line-height: 120px;
}

.memo button {
  height: 120px;
}

.left-4_content1,
.right-4_content1 {
  margin-top: 10px;
  box-sizing: border-box;
}

.left-4_content1 .content1,
.right-4_content1 .content1 {
  border: 1px solid #f5f5f5;
  padding: 10px;
}

.left-4_content1 ul,
.right-4_content1 ul {
  list-style-type: none;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.left-4_content1 ul li,
.right-4_content1 ul li {
  white-space: nowrap;
}

.content1-1,
.content1-2 {
  z-index: 1;
  position: relative;
}

.right-top-btn {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.table-wrap2 {
  min-width: 300px;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.right-1 {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.right-4_content1 .content1 {
  position: relative;
  z-index: 1;
}

.close-btn {
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  width: 100px;
  height: 30px;
}

.right-top-btn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.right-btn-wrap {
  display: flex;
  gap: 10px;
}

body.dark .left-4_content1 .content1,
body.dark .right-4_content1 .content1 {
  border: 1px solid #333;
}


@media screen and (max-width: 1220px) {
  .content-wrap {
    flex-direction: column;
  }

  .content-left {
    width: auto;
  }

  .content-right {
    margin: 40px 0;
    width: auto;
    overflow: visible;
  }

  .close-btn {
    position: static;
  }
}

@media screen and (max-width: 768px) {
  aside {
    width: 350px;
  }
}

@media screen and (max-width: 620px) {
  .w100p {
    width: 100%;
  }
  .wAuto {
    width: auto;
  }
  .btn-wrap {
    flex-direction: column;
    gap: 10px;
  }
  .btn {
    flex-direction: column;
  }

  .flexDC {
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
  textarea {
    width: 150px;
  }
  .table-wrap {
    min-width: auto;
  }
}

@media screen and (max-width: 560px) {
  .left-content .top-btn {
    align-items: flex-start;
    flex-direction: column;
  }

  .right-content .top-btn {
    flex-direction: column;
    align-items: flex-start;
  }
  .bottom-btn .right-1 {
    flex-direction: row;
  }
}

@media screen and (max-width: 425px) {
  .text-wrap p {
    text-align: left;
  }

  .displayBlock {
    display: block;
  }

  .top-btn {
    align-items: center;
  }

  .bottom-btn {
    justify-content: center;
  }

  .left {
    flex-direction: column;
    align-items: center;
  }

  .left-4_content1 ul {
    flex-wrap: nowrap;
  }

  .right-1 {
    display: flex;
    gap: 10px;
  }

  .right-top-btn {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .memo {
    flex-direction: column;
  }

  .memo p {
    height: auto;
    line-height: 30px;
    width: 100%;
  }

  .memo textarea {
    width: 100%;
  }

  .memo button {
    height: 30px;
  }

  .left-4_content1 ul,
  .right-4_content1 ul {
    justify-content: start;
  }

  .close-btn {
    width: 100%;
  }
}
