.main-content {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  min-height: 500px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.title-btn {
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  padding: 0;
  height: 50px;
}

.title-btn::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.left-content,
.right-content {
  width: calc(50% - 10px);
  height: 100%;
}

.right-content .top-btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-btn .left,
.bottom-btn .right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.left-2 {
  display: flex;
  gap: 10px;
}

.right-2 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.table tbody td button {
  width: 80px;
  border: 1px solid #0027b3;
  color: #000;
  transition: 0.5s;
  background-color: #fff;
  color: #0027b3;
}

.table tbody td button.on {
  background: #0038df;
  color: #fff;
}

aside {
  position: absolute;
  width: 500px;
  border: 1px solid #000;
  top: 20%;
  left: 50%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  transform: translateX(-50%);
}

aside .aside-top-btn {
  display: flex;
  justify-content: space-between;
}

#textMore {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  border-radius: 1rem;
}

.chatText input {
  height: 80px;
  width: 100%;
}

aside .bottom-btn {
  margin-top: 20px;
}

@media screen and (max-width: 1250px) {
  .left-content,
  .right-content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  aside {
    width: 350px;
  }
}

@media screen and (max-width: 560px) {
  .left-content .top-btn {
    align-items: flex-start;
    flex-direction: column;
  }

  .right-content .top-btn {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .displayBlock {
    display: block;
  }

  .left-2 {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }

  .bottom-btn .left,
  .bottom-btn .right {
    justify-content: center;
  }

  .right-2 {
    justify-content: center;
  }
}
