.bottom-btn,
.left,
.left-1,
.left-2,
.right,
.right-1,
.right-2{
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.bottom-btn b{
  font-size: 12px;
  position: absolute;
  right: 20px;
  bottom: -10px;
}

aside {
  position: absolute;
  width: 500px;
  border: 1px solid #000;
  top: 20%;
  left: 50%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  transform: translateX(-50%);
  z-index: 77;
}

aside .aside-top-btn{
  display: flex;
  justify-content: space-between;
}

.aside-btn{
  margin: 20px 0;
}

#textMore {
  margin-top: 20px;
  width: 100%;
  height: 300px;
}

.chatText input {
  height: 80px;
  width: 100%;
  margin-bottom: 20px;
}

aside .table-wrap{
  max-height: 300px;
}

body.dark aside{
  background-color: #333;
}

@media screen and (max-width: 1050px){
  .bottom-btn,
  .right{
    justify-content: flex-start;
  }
} 

@media screen and (max-width: 768px) {

  .left{
    justify-content: flex-start;
  }

  aside {
    width: 350px;
  }
}

@media screen and (max-width: 560px) {
  .left-content .top-btn {
    align-items: flex-start;
    flex-direction: column;
  }
 
  .right-content .top-btn {
    flex-direction: column;
    align-items: flex-start;
}

}


@media screen and (max-width: 425px) {
  .bottom-btn,
  .left,
  .left-1,
  .right,
  .right-1{
    align-items: center;
    justify-content: center;
  }
}
