
input[type="checkbox"],
input[type="radio"]{
  width: auto;
}

label{
  font-size: 12px;
}

.event-1,
.event-2,
.event-3,
.text-1,
.text-2,
.tap-list{
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.noBtn{
  width: 150px;
}

.box-3{
  margin-top: 20px;
}

.box-4{
  display: flex;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.btn-day,
.btn-radio{
  display: flex;
  padding-left: 10px;
  align-items: center;
  gap: 10px;
}


span{
  font-size: 12px;
}


@media screen and (max-width:425px){
  .event-1, .event-2, .event-3, .text-1, .text-2, .tap-list {
    justify-content: center;
}

.box-top{
  text-align: center;
}

.box-4{
  justify-content: center;
}

}