input[type='checkbox']{
  width: auto;
}

.title-p{
  width: 250px;
}

.main-btn{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-btn-wrap{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.btn{
  display: flex;
  gap: 10px;
}

.check{
  padding: 5px;
  border: 1px solid #000;
} 

.save-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.check span{
  font-size: 12px;
}

.check-1{
  margin-top: 5px;
}

.check-1,
.check-2{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.check-2 {
  margin-top: 10px;
}

.check-1 span,
.check-2 span{
  white-space: nowrap;
  width: 700px;
  overflow: hidden;
}


.last-text{
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.displayFlex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width:1600px) {
  .check{
    width: 100%;
  }
}

@media screen and (max-width:560px){
  .title-p {
    width: 180px;
  }
  .btn1,.btn5{
    flex-direction: column;
  }

  .main-btn {
    justify-content: center;
  }

  .btn {
    align-items: center;
  }

  .bottom-btn {
    justify-content: center;
  }
}