.btn-1{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.btn-1 input{
  width: 300px;
}


.caption{
  word-break: keep-all;
}

.caption-1{
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.box-all{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.box{
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 20px;
}


body.dark .box{
  border: 1px solid #333;
  box-sizing: border-box;
  padding: 20px;
}


.box-button{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

#box-check{
  width: auto;
}

.save-btn{
  margin-left: 30px;
}

.box-content{
  margin-top: 20px;
}

.box-content input{
  width: 100%;
}

.caption{
  text-align: left;
  padding: 0;
}

.caption-1{
  margin-top: 10px;
}

.caption-2{
  margin: 10px 0;
}

.content{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

label{
  font-size: 12px;
}