::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

p {
  font-size: 12px;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

select,input{
  width: 100px;
  padding: 5px 0;
  border-radius: 0.5rem;
  border: 1px solid #e0e3eb;
  height: 30px;
}

button{
  padding: 0 10px;
  height: 30px;
  white-space: nowrap;
}

.btn{
  display: flex;
  gap: 10px;
}

.blueBtn {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  border: none;
}

.blueBtn:hover {
  background: #0038df;
}

.blackBtn {
  background: #000;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  border: none;
}

.whiteBtn {
  color: #0027b3;
  border: 1px solid #0027b3;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.whiteBtn:hover {
  background: #0027b3;
  color: #fff;
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

.flex1 {
  flex: 1;
}

.flexAuto{
  flex:0 0 auto;
}

.displayFlex {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10px;
}

.flexColumn {
  flex-direction: column;
}

.overflowAuto{
  overflow: auto;
}

body {
  background-color: #e0e3eb;
}

.body-wrap {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: start;
  justify-content: center;
}

.logo-wrap {
  text-align: center;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
}

.header-wrap {
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
}

.header-wrap .btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-wrap button {
  font-size: 12px;
  width: 100px;
  height: 50px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
}

.btn-wrap button:hover {
  color: #fff;
  background-color: #0027b3;
}

.section1 {
  height: 100%;
  max-width: 1500px;
  width: calc(100% - 140px);
}

/* dayData */
.top-dayData {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  background-color: #fff;
  align-items: center;
}

.dayData-total {
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
}

.dayData-text {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  border-left: 1px solid #f5f5f5;
  padding-left: 20px;
}

.total-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrap {
  display: flex;
  gap: 20px;
}

.text-wrap h6,
.text-wrap p {
  display: inline;
  font-size: 12px;
  background-color: #fff;
  padding: 0;
}

.top-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  background: #fff;
  border-radius: 1rem;
  padding: 20px;
  position: relative;
}

.top-btn .btn-1 {
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  padding: 0;
}

.top-btn .btn-1::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.main-content {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  min-height: 500px;
}

.title-btn{
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  padding: 0;
  height: 50px;
  flex: 0 0 auto;
}

.title-btn::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.bottom-btn,
.bottom-btn .left,
.bottom-btn .left-1,
.bottom-btn .left-2
{
  display: flex;
  gap: 10px;
}

.main-content {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  min-height: 500px;
}

.content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.content-left {
  width: 600px;
  flex: 0 0 auto;
}

.content-right {
  width: 840px;
  position: relative;
  overflow: auto;
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-btn p {
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  padding: 0;
}

.title-btn p::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.top-btn1 {
  margin-top: 10px;
}

.top-btn2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-left .left-1,
.content-left .left-2,
.content-left .left-3 {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #e3e3e3;
  position: relative;
  margin-top: 10px;
  border-radius: 0.5rem;
}

.content-left .left-1::after {
  content: "기본정보";
  position: absolute;
  top: -8px;
  font-size: 12px;
  background-color: #fff;
}
.content-left .left-2::after {
  content: "예탁정보";
  position: absolute;
  top: -8px;
  font-size: 12px;
  background-color: #fff;
}
.content-left .left-3::after {
  content: "계좌번호";
  position: absolute;
  top: -8px;
  font-size: 12px;
  background-color: #fff;
}

.item {
  width: 50%;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.memo {
  height: 120px;
}

.memo p {
  height: 120px;
  line-height: 120px;
}

.memo button{
  height: 120px;
}

.left-4_content1,
.right-4_content1 {
  margin-top: 10px;
  box-sizing: border-box;
}

.left-4_content1 ul,
.right-4_content1 ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: relative;
  gap: 5px;
  flex-wrap: wrap;
}

.left-4_content1 ul li,
.right-4_content1 ul li {
  padding: 0 10px;
  height: 30px;
  white-space: nowrap;
  font-size: 12px;
  border: 1px solid #000;
  border-radius: 0.5em;
  line-height: 30px;
}

.tap.on{
  background-color: #000;
  color: #fff;
}

.content1-1,
.content1-2 {
  position: relative;
  z-index: 1;
  padding: 20px;
  border: 1px solid #e3e3e3;
  position: relative;
  border-radius: 0.5rem;
}

.right-top-btn{
  display: flex;
  gap: 10px;
}


.table-wrap {
  height: 300px;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
  min-width: 300px;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
  height: 2rem;
  line-height: 1.8rem;
  background: #f1f1f1;
  text-align: center;
  white-space: nowrap;
}

table td {
  padding: 0 0.1rem;
  height: 2rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #e3e3e3;
}

.table tbody td button {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.table-wrap2 {
  min-width: 300px;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
}

.right-4_content1 .content1 {
  position: relative;
  z-index: 1;
  padding: 0 20px 20px;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
}

.close-btn {
  position: absolute;
  right: 0;
  margin-top: 10px;
}

@media screen and (max-width: 1250px) {

  .dayData-text {
    align-items: flex-start;
  }

  .text-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width:1220px){
  .content-wrap {
    flex-direction: column;
  }

  .content-left {
    width: auto;
  }
  
  .content-right {
    width: auto;
    overflow: visible;
  }

  .close-btn {
    position: static;
  }


}

@media screen and (max-width: 1050px){
  .dayData-total {
    flex-direction: column;
  }

  .top-btn {
      align-items: flex-start;
      flex-direction: column;
  }
} 

@media screen and (max-width: 905px){
  .bottom-btn{
    flex-direction: column;
  }
} 

@media screen and (max-width: 768px) {
  .body-wrap {
    flex-direction: column;
  }

  .logo-wrap {
    height: 100px;
    min-width: 100px;
  }

  .section1 {
    width: 100%;
  }

  .header-wrap .btn-wrap {
    flex-direction: row;
  }

  .bottom-btn {
    justify-content: flex-start;
  }

  .left{
    justify-content: flex-start;
  }

  table th {
    padding: 0 20px;
  }

  aside {
    width: 350px;
  }
}


@media screen and (max-width:620px){
  .w100p{
    width: 100%;
  }
  .wAuto{
    width: auto;
  }
  .btn-wrap {
    flex-direction: column;
    gap: 10px;
  }
  .btn {
    flex-direction: column;
  }

  .flexDC{
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
  textarea{
    width: 150px;
  }
.table-wrap {
    min-width: auto;
  }
}


@media screen and (max-width: 560px) {
  .left-content .top-btn {
    align-items: flex-start;
    flex-direction: column;
  }
 
  .right-content .top-btn {
    flex-direction: column;
    align-items: flex-start;
}

  .text-wrap h6{
    display: block;
  }
}


@media screen and (max-width: 425px) {
  .text-wrap p{
    text-align: left;
  }

  .displayBlock{
    display: block;
  }

  .top-btn{
    align-items: center;
  }

  .bottom-btn b{
    font-size: 11px;
    padding: 0 20px;
  }

  .left{
    flex-direction: column;
    align-items: center;
  }

  .right-1{
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .memo{
    flex-direction: column;
  }

  .memo p{
    height: auto;
    line-height: 30px;
    width: 100%;
  }

  .memo textarea{
    width: 100%;
  }

  .memo button{
    height: 30px;
  }

  .left-4_content1 ul, .right-4_content1 ul {
    justify-content: center;
  }
}
