.bottom-btn .btn {
  display: flex;
  gap: 10px;
}

.btn-item{
  display: flex;
  gap: 10px;
}

.topSub-btn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.topSub-btn1{
  display: flex;
  gap: 10px;
}

.topSub-btn2 b {
  width: auto;
  text-align: right;
  word-break: keep-all;
  white-space: wrap;
  height: auto;
  font-size: 12px;
  display: block;
}

.btn-left{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.table tbody tr:nth-child(4n-3) td,
.table tbody tr:nth-child(4n-2) td
{
  background-color: lightgoldenrodyellow;
}


body.dark .table tbody tr:nth-child(4n-3) td,
body.dark .table tbody tr:nth-child(4n-2) td
{
  background-color: lightgoldenrodyellow;
  color: #000;
}
@media screen and (max-width: 768px) {
  .bottom-btn {
    justify-content: flex-start;
  }

  .topSub-btn1 {
    text-align: left;
  }
}

@media screen and (max-width: 425px) {
  .bottom-btn {
    flex-direction: column;
  }

  .btn{
    flex-direction: column;
  }
  .btn-item{
    display: flex;
    gap: 5px;
  }

  .topSub-btn1{
    text-align: center;
  }

  .topSub-btn {
    flex-direction: column;
}

.topSub-btn2{
  margin-top: 10px;
}
}