.bottom-btn{
  display: flex;
  justify-content: flex-start;
}

.left-btn{
  display: flex;
  flex-direction: column;
}

.left-top{
  display: flex;
  flex-wrap: wrap;
    gap: 10px;
}

.left-bottom{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.btn{
  display: flex;
  gap: 10px;
}

.right-btn{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 500px;
}

.right-btn button{
  width: 150px;
}

aside {
  position: absolute;
  width: 500px;
  border: 1px solid #000;
  top: 20%;
  left: 50%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  transform: translateX(-50%);
  z-index: 77;
}

aside .aside-top-btn {
  display: flex;
  justify-content: space-between;
}

body.dark aside{
  background-color: #222;
}

.btn-box{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

aside .btn-box2{
  text-align: center;
}


@media screen and (max-width:425px) {
  .btn{
    width: 100%;
  }

  .right-btn button{
    width: calc(50% - 5px);
  }

  aside{
    width: 360px;
  }

  aside .btn{
    width: 100%;
  }
  
  .btn-box2{
    width: 100%;
    display: flex;
    gap: 10px;
  }
}