.tap-list{
  display: flex;
  gap: 5px;
  padding-top: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
}

.table-2{
  margin-top: 20px;
}

.bg-red {
  background-color: lightcoral;
}
.bg-skyBlue {
  background-color: skyblue;
}
.bg-blue {
  background-color: paleturquoise;
}