.top-btn_right {
  display: flex;
  gap: 10px;
}

.subTop-btn {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: flex-end;
}

.subTop-btn_text {
  background-color: transparent;
  width: auto;
  display: block;
  text-align: right;
  margin: 0 10px;
}

.btn {
  display: flex;
  gap: 10px;
}

.subTop-btn_text{
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .subTop-btn {
    justify-content: flex-start;
  }
  
}

@media screen and (max-width: 425px) {
  .subTop-btn {
    justify-content: center;
  }
  .top-btn_right{
    text-align: center;
  }

  .subTop-btn {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
}
