.top-btn_right {
  padding: 10px 10px 0;
  display: flex;
  gap: 10px;
}

.subTop-btn {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 10px 20px;
}

.subTop-btn_text {
  background-color: transparent;
  width: auto;
  display: block;
  text-align: right;
  margin: 0 10px;
}

.btn {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 425px) {
  .subTop-btn {
    justify-content: center;
  }
  .top-btn_right{
    text-align: center;
  }
  .top-btn_right button:last-child{
    margin-top: 5px;
  }
}
