label{
  font-size: 12px;
  white-space: nowrap;
}

input{
  font-size: 12px;
}

.displayFlex{
  display: flex;
}

.flex1{
  flex: 1;
}

.bg-white{
  background-color: #fff;
}

.sub-title{
  background-color: #f5f5f5;
  font-size: 14px;
  color: orange;
  padding: 10px;
  border-radius: 5px;
}

body.dark .sub-title{
  background-color: #2d2e35;
  font-size: 14px;
  color: orange;
  padding: 10px;
  border-radius: 5px;
}

.content-1{
  margin-top: 20px;
}

.content-1 .left{
  display: flex;
  gap: 20px;
}

.left-12{
  display: flex;
  gap: 20px;
  flex: 1;
  flex-wrap: wrap;
}

.left-1,
.left-2{
flex: 1;
}

.left-3{
  flex: 1;
}

#left-check,
#tableCheck{
  width: auto;
}

.item-wrap{
  margin-top: 10px;
  gap: 10px;
  align-items: flex-start;
}

.left-id,.left-name{
  gap: 5px;
  width: 50%;
}

.left-2 .input{
  align-items: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.left-3 .item{
  align-items: center;
}

.left-2 .input-text{
  flex: 1;
}

.left-3 .item-wrap{
  flex-direction: column;
}

.left-3 .item-wrap span{
  font-size: 12px;
  line-height: 30px;
}

.left-3 .item{
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.content-2{
  margin-top: 40px;
}

.content-2 span{
  font-size: 12px;
}

.table button{
  background-color: #f5f5f5;
  font-size: 12px;
  box-shadow:none;
}

.table button.on{
  background-color: #333;
  color: #fff;
}

body.dark table button{
  background-color: #eee;
}

.table-check{
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.save-box{
  margin: 10px 10px 0;
  text-align: right;
}

.save-text{
  font-size: 12px;
  display: block;
}

.save-box button{
  margin-top: 10px;
}

.btn{
  display: flex;
  gap: 10px;
}

.bottom-btn{
  margin-top: 10px;
}

@media screen and (max-width:1000px) {
  .content-1 .left {
    flex-direction: column;
  }

  .save-box button{
    display: block;
    width: 100%;
  }
}

@media screen and (max-width:768px) {
  
  .left-12 {
    flex-direction: column;
}

.left-1,
.left-2,
.left-3{
width: 100%;
}

.item{
  width: 100%;
}
}