select,
input {
  width: 95px;
  padding: 5px 5px;
}

input[type='checkbox']{
  width: auto;
}

input[type='text']{
  border-top: none;
  border-left: none;
  border-right: none;
}

button {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  font-size: 14px;
  width: 120px
}

.noBtn {
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 120px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.section1 {
  max-width: 1600px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.whiteP {
  background-color: #fff;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 0;
}

.table-wrap {
  border: 1px solid #888;
  min-height: 500px;
  max-height: 500px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
  background-color: #eee;
  width: 100px;
}

.table tbody {
  /* background-color: #fff; */
}

.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
}

.table tbody td button {
  width: 120px;
}


/* ---------------------------- */

.grid{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(5,1fr);
  height: 200px;
  gap: 5px;
}

.title-btn{
  font-weight: bold;
  display: block;
  width: 180px;
  line-height: 2.4;
}

.grid2-1{
  grid-row: 2/2;
  grid-column: 1/1;
  width: 180px;
  line-height: 2.4;
}

.grid2-2{
  grid-row: 2/2;
  grid-column: 2/2;
  line-height: 2.4;
}

.grid2-3{
  grid-row: 2/2;
  grid-column: 3/5;
  width: 300px;
}

.grid2-4{
  border: 1px solid #000;
  grid-column: 6/13;
  grid-row: 1 / 4;
}

.save-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.check-1,
.check-2{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.check-2 {
  margin-top: 10px;
}

.check-1 .whiteP,
.check-2 .whiteP{
  white-space: nowrap;
  width: 700px;
  overflow: hidden;
}

.grid3-1{
  grid-column: 1 / 2;
  grid-row: 3 / 3 ;
  width: 180px;
  line-height: 2.4;

}

.grid3-2{
  grid-column: 2 / 3;
  grid-row: 3 / 3 ;
  line-height: 2.4;

}

.grid4-1{
  grid-column: 1 / 2;
  grid-row: 4 / 4 ;
  width: 180px;
  line-height: 2.4;

}

.grid4-2{
  grid-column: 2 / 3;
  grid-row: 4 / 4 ;
  line-height: 2.4;

}

.grid5-1{
  grid-column: 1 / 2;
  grid-row: 5 / 5 ;
  width: 180px;
  line-height: 2.4;

}

.grid5-2{
  grid-column: 2 / 3;
  grid-row: 5 / 5 ;
  line-height: 2.4;
}

.grid5-3{
  grid-column: 3 / 4;
  grid-row: 5 / 5 ;
  display: flex;
  gap: 5px;
  line-height: 2.4;

}

.grid5-4{
  grid-column: 4 / 5;
  grid-row: 5 / 5 ;
  width: 150px;
}

.grid5-5{
  grid-column: 6 / 7;
  grid-row: 5 / 5 ;
width: 150px;
}

.grid5-6{
  grid-column: 7 / 8;
  grid-row: 5 / 5 ;
width: 150px;
}

.grid5-7{
  grid-column: 8 / 9;
  grid-row: 5 / 5 ;
width: 280px;
}

.last-text{
  color: red;
  font-weight: bold;
}