html{
  font-size: 12px;
}

select{
  width: 95px;
  padding: 5px 5px;
}

input[type='checkbox']{
  width: auto;
}

input[type='text']{
  border-top: none;
  border-left: none;
  border-right: none;
  width: 50px;
}

button {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  font-size: 14px;
  width: 120px;
}

.noBtn {
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 150px;
  text-align: center;
  display: inline-block;
  margin: 0;
}

.section1 {
  max-width: 1200px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.whiteP {
  background-color: #fff;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 0;
}

.table-wrap {
  border: 1px solid #888;
  min-height: 500px;
  max-height: 500px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
  text-align: center;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
  background-color: #eee;
  width: 100px;
}

.table tbody {
  /* background-color: #fff; */
}

.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
  white-space: nowrap;
}

.table tbody td button {
  width: 120px;
}

.table tr th:first-child{
  width: 40px;
}

/* ---------------------------- */

.title-btn{
  font-weight: bold;
  display: block;
  width: 180px;
  line-height: 2.4;
}

.title-wrap{
  display: flex;
  align-items: start;
  gap: 20px;
  margin-top: 20px;
}


.box-wrap{
  border: 1px solid #000;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.box-wrap::after{
  content:'단타매매 감시 설정';
  background-color: #f5f5f5;
  position: absolute;
  line-height: 1.8;
  top: -10px;
  left: 20px;
}

.box-2{
  margin-top: 20px;
}

.box-wrap button{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.reload-btn-wrap{
  margin-top: 20px;
  text-align: right; 
}


