::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

p {
  font-size: 12px;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

select,input{
  width: 100px;
  padding: 5px 0;
  border-radius: 0.5rem;
  border: 1px solid #e0e3eb;
  height: 30px;
}

button{
  padding: 0 10px;
  height: 30px;
  white-space: nowrap;
}

.blueBtn {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  border: none;
}

.blueBtn:hover {
  background: #0038df;
}

.whiteBtn {
  color: #0027b3;
  border: 1px solid #0027b3;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.whiteBtn:hover {
  background: #0027b3;
  color: #fff;
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

body {
  background-color: #e0e3eb;
}

.body-wrap {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: start;
  justify-content: center;
}

.logo-wrap {
  text-align: center;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
}

.header-wrap {
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
}

.header-wrap .btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-wrap button {
  font-size: 12px;
  width: 100px;
  height: 50px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
}

.btn-wrap button:hover {
  color: #fff;
  background-color: #0027b3;
}

.section1 {
  max-width: 1500px;
  width: 100%;
}

/* dayData */
.top-dayData {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  background-color: #fff;
  align-items: center;
}

.dayData-total {
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
}

.dayData-text {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  border-left: 1px solid #f5f5f5;
  padding-left: 20px;
}

.total-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrap {
  display: flex;
  gap: 20px;
}

.text-wrap h6,
.text-wrap p {
  display: inline;
  font-size: 12px;
  background-color: #fff;
  padding: 0;
}

.top-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  background: #fff;
  border-radius: 1rem;
  padding: 20px;
  position: relative;
}

.top-btn .btn-1 {
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  padding: 0;
}

.top-btn .btn-1::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.top-btn .btn-2 {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.top-btn .btn-2:hover {
  background: #0038df;
}

.main-content {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  min-height: 500px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.title-btn{
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  padding: 0;
  height: 50px;
}

.title-btn::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.left-content, .right-content {
  width: calc(50% - 10px);
  height: 100%;
}

.right-content .top-btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-btn .left,
.bottom-btn .right{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.left-2{
  display: flex;
  gap: 10px;
}

.right-2{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}


.table-wrap {
  height: 400px;
  max-width: 720px;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 720px;
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
  height: 2rem;
  line-height: 1.8rem;
  background: #f1f1f1;
  text-align: center;
  white-space: nowrap;
}

table td {
  padding: 0 0.1rem;
  height: 2rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #e3e3e3;
}

.table tbody td button {
  width: 80px;
  border: 1px solid #0027b3;
  color: #000;
  transition: 0.5s;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #0027b3;
}

.table tbody td button.on {
  background: #0038df;
  color: #fff;
}

aside {
  position: absolute;
  width: 500px;
  border: 1px solid #000;
  top: 20%;
  left: 50%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  transform: translateX(-50%);
}

#textMore {
  margin-top: 20px;
  width: 100%;
  height: 300px;
}

.chatText input {
  height: 80px;
  width: 100%;
  margin-bottom: 20px;
}


@media screen and (max-width: 1250px) {
  .content {
    flex-direction: column;
  }

  .left-content,
  .right-content{
    width: 100%;
  }

  .table-wrap {
    height: 400px;
    max-width: 100%;
    overflow: auto;
    margin-top: 20px;
    background-color: #fff;
  }

  .table{
    width: 100%;
  }

  .dayData-text {
    align-items: flex-start;
  }

  .text-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 1050px){
  .dayData-total {
    flex-direction: column;
  }

} 

@media screen and (max-width: 768px) {
  .body-wrap {
    flex-direction: column;
  }

  .logo-wrap {
    height: 100px;
    min-width: 100px;
  }

  .header-wrap .btn-wrap {
    flex-direction: row;
  }

  table th {
    padding: 0 20px;
  }

  aside {
    width: 350px;
  }
}

@media screen and (max-width: 560px) {
  .left-content .top-btn {
    align-items: flex-start;
    flex-direction: column;
  }
 
  .right-content .top-btn {
    flex-direction: column;
    align-items: flex-start;
}

  .text-wrap h6{
    display: block;
  }
}


@media screen and (max-width: 425px) {
  .text-wrap p{
    text-align: left;
  }

  .displayBlock{
    display: block;
  }

  .left-2 {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }

  .bottom-btn .left, .bottom-btn .right {
    justify-content: center;
  }

  .right-2 {
    justify-content: center;
  }
}
