.table th:nth-child(1),
.table th:nth-child(6)
{
  width: 150px;
}
.table th:nth-child(2),
.table th:nth-child(4),
.table th:nth-child(5){
  width: 50px;
}
.table th:nth-child(3){
  width: 350px;
}

.top-textarea{
  width: 100%;
  height: 60px;
  overflow-y: scroll;
}

.text-wrap{
  margin-top: 10px;
  width: 100%;
}

.bottom-wrap{
  padding: 10px 0;
  box-sizing: border-box;
  gap: 10px;
}

.text-wrap2{
  width: 100%;
}

.text-wrap2 textarea{
  width: 100%;
  height: 110px;
  overflow-y: scroll;
}

.section1 .main-content{
  display: flex;
  gap: 10px;
}

.section2{
  margin-left: 160px;
  margin-top: 10px;
} 

.section2 .main-content{
  text-align: right;
}

.reloadBtn{
  margin-bottom: 10px
}

.btn-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-wrap{
  display: flex;
}

@media screen and (max-width: 768px) {
  .section2 {
      margin-left: 0;
      padding: 0;
    }

    .bottom-btn {
      justify-content: flex-start;
  }



}

@media screen and (max-width: 425px) {
  .bottom-btn {
    justify-content: center;
}
}
