.tap{
  padding: 10px;
  border: 1px solid #eee;
}

.tap-list {
  display: flex;
}

.btn-box{
  display: flex;
  gap: 10px;
}

.btn{
  display: flex;
  gap: 10px;
}

.table-2 {
  margin-top: 10px;
}

.bg-red {
  background-color: lightcoral;
}
.bg-skyBlue {
  background-color: skyblue;
}
.bg-blue {
  background-color: paleturquoise;
}

body.dark .tap{
  border: 1px solid #333;
}



.table-1 tbody tr:nth-child(4n-3) td{
  background-color: rgba(250, 250, 210, 0.5);
}

.table-1 tbody tr:nth-child(4n-2) td{
  background-color: rgba(250, 250, 210, 0.5);
}

.table-2 tbody tr:nth-child(4n-3) td{
  background-color: rgba(250, 250, 210, 0.5);
}

.table-2 tbody tr:nth-child(4n-2) td{
  background-color: rgba(250, 250, 210, 0.5);
}


body.dark .table-1 .table tr:nth-child(2n-1) td:nth-child(7) {
  background-color: skyblue;
  color: #000;
}

body.dark .table-2 .table tr:nth-child(2n-1) td:nth-child(8) {
  background-color: skyblue;
  color: #000;
}

body.dark .table-1 .table tr:nth-child(2n-1) td:nth-child(13) {
  background-color: lightcoral;
}

body.dark .table-1 .table tr:nth-child(2n) td:nth-child(2) {
  background-color: lightcoral;
}

body.dark .table-2 .table tr:nth-child(2n-1) td:nth-child(14) {
  background-color: lightcoral;
}

body.dark .table-2 .table tr:nth-child(2n) td:nth-child(2) {
  background-color: lightcoral;
}

body.dark .table-1 .table tr:nth-child(2n-1) td:nth-child(15){
  background-color: paleturquoise;
  color: #000;
  }

  body.dark .table-1 .table tr:nth-child(2n) td:nth-child(4){
  background-color: paleturquoise;
  color: #000;
  }

  
body.dark .table-2 .table tr:nth-child(2n-1) td:nth-child(16){
  background-color: paleturquoise;
  color: #000;
  }

  body.dark .table-2 .table tr:nth-child(2n) td:nth-child(4){
  background-color: paleturquoise;
  color: #000;
  }


@media screen and (max-width:425px){
  .tap-list {
    justify-content: center;
  }

  .btn-box{
    flex-direction: column;
  }
} 
