select,
input {
  width: 95px;
  padding: 5px 5px;
}

button {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  font-size: 14px;
}

p {
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
}

.section1 {
  max-width: 1000px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.whiteP {
  background-color: #fff;
}

.content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.left-1,
.left-2,
.right-1 {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid;
  position: relative;
  margin-top: 20px;
  position: relative;
}

.left-1 {
  display: flex;
  gap: 10px;
}

.left-1::after {
  content: "기본정보";
  position: absolute;
  top: -15%;
  font-size: 14px;
  background-color: #f5f5f5;
}

.left-2{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.left-2 #left-check{
  width: auto;
  padding: 0;
}

.input-text{
  display: flex;
  flex-direction: column;
}

.left-2::after {
  content: "기본이벤트";
  position: absolute;
  top: -10%;
  font-size: 14px;
  background-color: #f5f5f5;
}

.right-1 .noBtn{
  width: 120px;
}

.right-1 p{
  width: 80px;
}

.right-1 .item{
  margin-top: 10px;
}

.right-1 .item:last-child{
  margin-bottom: 50px;
}

.right-1::after {
  content: "거래정보";
  position: absolute;
  top: -4%;
  font-size: 14px;
  background-color: #f5f5f5;
}

.bottom-wrap {
  margin-top: 40px;
}

.bottom-wrap .top-btn{
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
}

.bottom-wrap .top-btn p{
  width: auto;
}

.bottom-wrap span{
  display: block;
  margin: 20px 0;
}

.table-wrap {
  border: 1px solid #888;
  height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
  display: flex;
}

.table-foot{
  width: 100%;
  height: 30px;
  background-color: #fff;
  border: 1px solid #000;
}

table-wrap::after{
  content: '';
  width: 100%;
  height: 30px;
  display: block;
}

.table{
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
  height: auto;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
}

.table tbody {
  background-color: #fff;
}

.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
}

.table input{
  width: auto;
}