input[type="checkbox"] {
  width: auto;
}

.box-wrap {
  border: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.box-1,
.box-2 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.box-2 {
  margin-top: 20px;
}

.reload-btn-wrap {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.btn {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  flex-wrap: wrap;
}

span {
  font-size: 12px;

}

.notice{
  display: block;
  padding-top: 10px;
  font-size: 12px;
}

.button-box {
  text-align: right;
  width: auto;
  margin-top: 10px;
}

@media screen and (max-width: 425px) {
  .flex1 {
    flex: 1;
  }
}
