input[type='checkbox']{
  width: auto;
}

aside {
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

label{
  font-size: 12px;
}

.subTop-btn{
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noBtn{
  margin: 0 auto;
}

.time-wrap{
  width: 100%;
}

.time-wrap p{
  width: 100%;
}

.time-wrap label{
  width: 10%;
  white-space: nowrap;
}

input[type='date']{
  width: 50%;
} 

.time-1,.time-2{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.aside-btn{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.aside-btn button{
  width: 50%
}

body.dark .subTop-btn {
  background-color: #222327;
}

@media screen and (max-width: 425px) {
  aside {
    width: 350px;
  }
}
