.top-btn {
  justify-content: start;
}

.title-notice{
  font-size: 12px;
}
.bottom-btn,
.left,
.left-1,
.left-2,
.right,
.right-1,
.right-2{
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-btn b{
  font-size: 12px;
  position: absolute;
  right: 20px;
  bottom: -10px;
}

aside {
  position: absolute;
  width: 500px;
  border: 1px solid #000;
  top: 20%;
  left: 50%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  transform: translateX(-50%);
  z-index: 77;
}

#textMore {
  margin-top: 20px;
  width: 100%;
  height: 300px;
}

.aside-table-wrap{
  height: 300px;
}

aside .bottom-btn{
  margin-top: 10px;
  justify-content: flex-start
}

aside .table-wrap{
  max-height: 300px;
}

body.dark aside{
  background-color: #333;
}

.bg-yellow {
  background-color: lightgoldenrodyellow;
}

body.dark .table tr td:nth-child(19){
  background-color: lightgoldenrodyellow;
} 


@media screen and (max-width: 1050px){
  .bottom-btn,
  .right{
    justify-content: flex-start;
  }
} 

@media screen and (max-width: 768px) {

  .left{
    justify-content: flex-start;
  }

  aside {
    width: 350px;
  }
}

@media screen and (max-width: 560px) {
  .left-content .top-btn {
    align-items: flex-start;
    flex-direction: column;
  }
 
  .right-content .top-btn {
    flex-direction: column;
    align-items: flex-start;
}

}


@media screen and (max-width: 425px) {
  .bottom-btn,
  .left,
  .right{
    flex-direction: column;
  }

  .bottom-btn,
  .left,
  .left-1,
  .left-2,
  .right,
  .right-1,
  .right-2 {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
