.content{
  display: flex;
  gap: 20px;
}

.content-left,
.content-right{
  flex: 1;
}

.content-left{
  max-width: 600px;
}

.btn{
  display: flex;
  gap: 10px;
}

.btn-box{
  display: flex;
  gap: 10px;
}

@media screen and (max-width:1200px) {
  .content {
    flex-direction: column;
  }

  .content-left{
    max-width: 100%;
  }
  
  .content-right{
    flex-basis: 100%;
  }
}

@media screen and (max-width:768px){
  .bottom-btn{
    justify-content: flex-start;
  }
}

@media screen and (max-width:425px){
  .bottom-btn{
    justify-content: center;
  }

  .btn{
    flex-direction: column;
  }

}