.content-1,
.content-2{
  padding: 10px 10px 20px 10px;
}

.content-1,
.btn-1,
.btn{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.content-1{
  justify-content: space-between;
}

.content-2 .btn{
  justify-content: flex-end;
}

@media screen and (max-width: 1300px) {
  .content-1,
  .btn-1{
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px){
  .content-1,
  .btn-1{
    justify-content: flex-start;
  }
}

@media screen and (max-width: 425px){
  .content-1,
  .btn-1,
  .content-2 .btn{
    justify-content: center;
  }
}
