.subTop-btn {
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction:column;
}
.btn-1,
.btn-2,
.btn {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .subTop-btn,
  .btn-1,
  .btn-2,
  .btn {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .btn-1,
  .btn-2,
  .btn {
    flex-wrap: nowrap;
  }

  .btn-2{
    flex-direction: column;
  }
}
