.subTop-btn{
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.btn-1,
.btn-2,
.btn
{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

@media screen and (max-width:768px) {
  .subTop-btn,
  .btn-2{
    justify-content: center;
  }
}