select,
input {
  width: 95px;
  padding: 5px 5px;
}

button {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  font-size: 14px;
}

p {
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 95px;
  text-align: center;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
}

.section1 {
  max-width: 900px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.whiteP {
  background-color: #fff;
}

.content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left-1,
.left-2 {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid;
  position: relative;
  margin-top: 20px;
}

.left-1 {
  display: flex;
  gap: 10px;
}

.left-1::after {
  content: "기본정보";
  position: absolute;
  top: -10%;
  font-size: 14px;
  background-color: #f5f5f5;
}

.left-2{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.left-2 #left-check{
  width: auto;
  padding: 0;
}

.input-text{
  display: flex;
  flex-direction: column;
}

.left-2::after {
  content: "기본이벤트";
  position: absolute;
  top: -10%;
  font-size: 14px;
  background-color: #f5f5f5;
}

.table-wrap {
  border: 1px solid #888;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
}

.table tbody {
  background-color: #fff;
}

.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
}

.table tbody td button {
  width: 80px;
}

.table-wrap2 {
  margin-top: 10px;
}
