body {
  background-color: #e0e3eb;
  padding: 0 10px;
}

select,
input,
textarea{
  width: 100px;
  padding: 5px 0;
  border-radius: 0.5rem;
  border: 1px solid #e0e3eb;
}

button {
  width: 120px;
  height: 30px;
}

p {
  font-size: 12px;
  padding: 5px 2px;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0;
}

.displayInline{
  display: inline-block;
}

/* header */
header {
  position: absolute;
  width: 350px;
  top: 0px;
  right: 10px;
  z-index: 2;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  padding: 20px;
  background-color: #fff;
  justify-content: space-between;
  gap: 5px;
  border-radius: 1rem;
}

li {
  flex-basis: calc(50% - 5px);
}

header ul li button {
  text-align: center;
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  padding: 5px 2px;
  font-size: 14px;
  white-space: nowrap;
  width: 100%;
  border: none;
}

header ul .last-li {
  flex-basis: 100%;
}

header ul .last-li button {
  display: block;
  width: 100%;
}

.section1 {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
}

.titleBtn p{
  margin-left: 20px;
  padding-top: 20px;
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
}

.titleBtn p::after{
  content: '';
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.section-wrap {
  padding: 20px;
  margin-top: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.left {
  width: 680px;
}

.left .top-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left .top-btn-2,
.right .top-btn-2 {
  margin-top: 10px;
}

.left .top-btn-2 button {
  text-align: center;
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  padding: 5px 2px;
  width: 120px;
  font-size: 12px;
  border: none;
}


.left .top-btn-2 .file{
  border: 1px solid #0027b3;
  color: #000;
  transition: 0.5s;
  border-radius: 0.5rem;
  background-color: #fff;
}

.left .top-btn-2 .file:hover{
  background: #0038df;
  color: #fff;
}


.table-wrap {
  height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  min-width: 1000px;
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot{
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
    height: 2rem;
    line-height: 1.8rem;
    background: #f1f1f1;
    text-align: center;
}

table td {
    padding: 0 0.1rem;
    height: 2rem;
    line-height: 1.8rem;
    border-bottom: 1px solid #e3e3e3;
}

.table tbody td button{
  width: 80px;
  border: 1px solid #0027b3;
  color: #000;
  transition: 0.5s;
  border-radius: 0.5rem;
  background-color: #fff;
}

.table tbody td button.on{
  background: #0038df;
  color: #fff;
}

.right{
  width: 680px;
}

.right .top-btn {
  display: flex;
  justify-content: space-between;
}

.blueBtn {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  border: none;
}


.blueBtn:hover{
  background: #0038df;
}


aside {
  position: absolute;
  width: 500px;
  border: 1px solid #000;
  top: 20%;
  left: 50%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  transform: translateX(-50%);
}

#textMore {
  margin-top: 20px;
  width: 100%;
  height: 300px;
}

.chatText input {
  height: 80px;
  width: 100%;
  margin-bottom: 20px;
}

.bottom-btn {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

@media screen and (max-width:1445px) {
  .left,
  .right{
    width: 100%;
  }

  .right{
    margin-top: 20px;
  }
}

@media screen and (max-width:640px) {
    .right .top-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
  aside {
    width: 420px;
  }
  .left .top-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.serchBtn{
  margin-top: 10px;
}
}