
aside {
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.subTop-btn{
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 20px;
}

.btn{
  display: flex;
  gap: 5px;
  justify-content: center;
}

.btn:not(:first-child){
  margin-top: 10px;
}

body.dark .subTop-btn {
  background-color: #222327;
}