::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

p {
  font-size: 12px;
  padding: 5px 2px;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0;
  white-space: nowrap;
}

button {
  width: 120px;
  height: 30px;
  border: none;
  background-color: #fff;
}

select,
input,
textarea {
  width: 100px;
  padding: 5px 0;
  border-radius: 0.5rem;
  border: 1px solid #e0e3eb;
}

.blueBtn {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  border: none;
}

.color-red {
  color: red;
}

.color-blue {
  color: blue;
}

.displayInline {
  display: inline-block;
}

body {
  background-color: #e0e3eb;
}

.body-wrap {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: start;
  justify-content: center;
}

.logo-wrap {
  text-align: center;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
}

.header-wrap {
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
}

.header-wrap .btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn-wrap button {
  font-size: 12px;
  width: 100px;
  height: 50px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
}

.btn-wrap button:hover {
  font-weight: bold;
  color: #fff;
  background-color: #0027b3;
}

.section1 {
  max-width: 1500px;
  width: 100%;
}

/* dayData */
.top-dayData {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  background-color: #fff;
}

.dayData-total {
  display: flex;
  gap: 10px;
  border-right: 1px solid #f5f5f5;
  padding-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

.dayData-text {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.total-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrap {
  display: flex;
  gap: 20px;
}

.text-wrap h6,
.text-wrap p {
  display: inline;
  font-size: 12px;
  background-color: #fff;
  padding: 0;
}

/* dayData */
.top-dayData {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  background-color: #fff;
}

.dayData-total {
  display: flex;
  gap: 10px;
  border-right: 1px solid #f5f5f5;
  padding-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

.dayData-text {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.total-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrap {
  display: flex;
  gap: 20px;
}

.text-wrap h6,
.text-wrap p {
  display: inline;
  font-size: 12px;
  background-color: #fff;
  padding: 0;
}

.top-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.top-btn button {
  width: 120px;
  height: 30px;
}

.top-btn .btn-1 {
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  padding: 0;
}

.top-btn .btn-1::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.main-content {
  margin-top: 20px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
}

.title-btn p {
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  padding: 0;
}

.title-btn p::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
  height: calc(100% - 70px);
}

.left-content {
  width: calc(50% - 10px);
  height: 100%;
}

.left-content .top-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .left-content .top-btn-2,
.right-content .top-btn-2 {
  margin-top: 10px;
} */

.left-content .top-btn-2 button {
  text-align: center;
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  padding: 5px 2px;
  width: 120px;
  font-size: 12px;
  border: none;
}

.left-content .top-btn-2 button:hover {
  background: #0038df;
}

.left-content .top-btn-2 .file {
  border: 1px solid #0027b3;
  color: #000;
  transition: 0.5s;
  border-radius: 0.5rem;
  background-color: #fff;
}

.left-content .top-btn-2 .file:hover {
  background: #0038df;
  color: #fff;
}

.table-wrap {
  height: 400px;
  max-width: 720px;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 720px;
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
  height: 2rem;
  line-height: 1.8rem;
  background: #f1f1f1;
  text-align: center;
}

table td {
  padding: 0 0.1rem;
  height: 2rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #e3e3e3;
}

.table tbody td button {
  width: 80px;
  border: 1px solid #0027b3;
  color: #000;
  transition: 0.5s;
  border-radius: 0.5rem;
  background-color: #fff;
}

.table tbody td button.on {
  background: #0038df;
  color: #fff;
}

.right-content {
  width: calc(50% - 10px);
  height: 100%;
}

.right-content .top-btn {
  display: flex;
  justify-content: space-between;
}

aside {
  position: absolute;
  width: 500px;
  border: 1px solid #000;
  top: 20%;
  left: 50%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  transform: translateX(-50%);
}

#textMore {
  margin-top: 20px;
  width: 100%;
  height: 300px;
}

.chatText input {
  height: 80px;
  width: 100%;
  margin-bottom: 20px;
}

.bottom-btn {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.top-btn {
  display: flex;
  justify-content: space-between;
}

.top-btn button {
  width: auto;
  border: none;
  padding: 0 10px;
  border-radius: 0.5rem;
}

/* @media screen and (max-width: 1445px) {
  .left,
  .right {
    width: 100%;
  }

  .right {
    margin-top: 20px;
  }
} */

@media screen and (max-width: 1250px) {
  .content {
    flex-direction: column;
  }

  .left-content,
  .right-content{
    width: 100%;
  }

  .table-wrap {
    height: 400px;
    max-width: 100%;
    overflow: auto;
    margin-top: 20px;
    background-color: #fff;
  }

  .table{
    width: 100%;
  }

  .displayB{
    display: block !important;
  }
}

@media screen and (max-width: 640px) {
  .right .top-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  aside {
    width: 350px;
  }

  .left .top-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .bottom-btn {
    margin-top: 10px;
  }

  .bottom-left button:last-child {
    margin-top: 10px;
  }

  .serchBtn {
    margin-top: 10px;
  }
}
