.bottom-btn .btn {
  display: flex;
  gap: 10px;
}

.btn-item{
  display: flex;
  gap: 10px;
}

.topSub-btn {
  text-align: right;
}

.topSub-btn2 {
  margin-top: 10px;
}

.topSub-btn1{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.topSub-btn2 p {
  width: auto;
  text-align: right;
  word-break: keep-all;
  white-space: wrap;
  height: auto;
}

.btn-left{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .bottom-btn {
    justify-content: flex-start;
  }

  .topSub-btn1 {
    text-align: left;
  }
}

@media screen and (max-width: 425px) {
  .bottom-btn {
    flex-direction: column;
  }

  .btn{
    flex-direction: column;
  }
  .btn-item{
    display: flex;
    gap: 5px;
  }

  .topSub-btn1{
    text-align: center;
  }
}