.ls{
  letter-spacing: -0.8px;
}

.content-all{
  display: flex;
  gap: 20px;
  width: 100%;
}

.content-all .left{
  flex-basis: 55%;
}

.content-all .right{
  flex-basis: 45%;
}

.left-1-btn,
.left-3-btn{
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

.left-3-btn{
  align-items: flex-end;
}

.content-left .btn-wrap{
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-left .left-1 .btn-wrap{
  width: 50%;
}

.content-left .left-2 .btn-wrap{
  margin-top: 20px;
  width: 50%;
  margin-bottom: 10px;
}

.content-left .left-3 .btn-wrap{
  margin-top: 20px;
  width: 50%;
}

.sub-title{
    background-color: #f5f5f5;
    font-size: 14px;
    color: orange;
    padding: 10px;
    border-radius: 5px;
}

.button-wrap{
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.content-right .content-wrap{
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.box-wrap{
  margin-bottom: 10px;
}

.right-item{
  display: flex;
  gap: 10px;
  align-items: center;
}

.content-right .content-left,.content-right{
  flex-basis: 50%;
}

.content-right1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-right1 button{
  margin-bottom: 10px;
}

.right-title{
  width: 30%;
}

.right-text{
  font-size: 12px;
  white-space: nowrap;
  width: 30%;
}

.right-btn{
  gap: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.right-btn input{
  flex: 1;
}

.rigth2-text button{
  display: block;
  width: 100%;
}

.content-left .table-wrap{
  border: 1px solid #e3e3e3 ;
  height: 100%;
  max-height: 100vh;
}

body.dark .content-left .table-wrap{
  border: 1px solid #333 ;
}

body.dark .sub-title{
  background-color: #2d2e35;
  font-size: 14px;
  color: orange;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
}


@media screen and (max-width:1150px) {
  .content-all {
    flex-direction: column;
}
}

@media screen and (max-width:560px) {

  .content-right .content-wrap {
    flex-direction: column;
  }
}


@media screen and (max-width:425px) {

  .btn{
    gap: 10px;
    display: flex;
  }

  .left-1-btn,
  .left-3-btn{
    flex-direction: column;
  }

  .content-left .left-1 .btn-wrap,
  .content-left .left-2 .btn-wrap,
  .content-left .left-3 .btn-wrap{
    width: 100%;
  }

  .left-1-btn, .left-3-btn{
    align-items: start;
  }

}