aside {
  position: absolute;
  width: 600px;
  border: 1px solid #000;
  top: 20%;
  left: 50%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  transform: translateX(-50%);
  z-index: 77;
}


input[type="checkbox"],
input[type="radio"]{
  width: auto;
}

label{
  font-size: 12px;
}

.main-content{
  padding: 20px;
}

.title-box{
display: flex;
gap: 10px;
flex-direction: column;
}

.box1{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.flex1{
  flex: 1;
}

input[type="color"]{
  padding: 0;
}

.color-box label{
  white-space: nowrap;
}

.btn{
  display: flex;
  gap: 10px;
  align-items: center;
}

.content-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.content-box-title{
  height: 300px;
  line-height: 300px;
}

.content-box textarea{
  width: 100%;
  height: 300px;
}

.notice-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.notice-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.notice-input label{
  white-space: nowrap;
}

.vip-box{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.time-box{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.day-box{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.day-box-title{
  flex: 0 0 auto;
}

.day-box span{
  font-size: 12px;
}

.day-box .btn{
  width: 100%;
}

.button-box{
  text-align: center;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.button-box button{
  width: 50%;
}

.button-box:nth-child(2){
  margin-left: 10px;
}

.keepAll{
  word-break: keep-all;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .day-box{
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {

  aside{
    width: 350px;
  }

  .box1{
    flex-wrap: wrap;
  }

  .box1 p{
    width: 100%;
  } 

  .content-box-title{
    width: 45px;
  }

  .notice-box{
    flex-direction: column;
  }

  .notice-input{
    width: 100%;
    gap: 5px;
  }

  .notice-box .noBtn{
    width: 100%;
  }
  
  .day-box .noBtn{
    width: 100%;
  }

  .day-box .btn{
    width: 100%;
  }
  
  .day-box input[type='date'],
  .day-box input[type='time']
  {
    width: 100%;
  }
}