body {
  background-color: #e0e3eb;
  padding: 0 10px;
}

select,
input {
  width: 95px;
  padding: 5px 0;
  border-radius: 0.5rem;
  border: 1px solid #e0e3eb;
}

button {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  border: none;
}

button:hover {
  background: #0038df;
}

p {
  font-size: 12px;
  padding: 5px 2px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0;
  width: 95px;
}

.btn {
  display: flex;
  gap: 10px;
}

.dateLabel{
  background-color: #fff;
}

.section1 {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 20px;
  box-sizing: border-box;
}

.whiteP {
  background-color: #f5f5f5;
}

.content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.content-left {
  width: 550px;
  flex: 0 0 auto;
}

.content-right {
  width: 900px;
  position: relative;
  overflow: auto;
}

.btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-btn p {
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  padding: 0;
}

.title-btn p::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.top-btn1 {
  margin-top: 10px;
}

.top-btn2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-1,
.left-2,
.left-3 {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #e3e3e3;
  position: relative;
  margin-top: 10px;
  border-radius: 0.5rem;
}

.left-1::after {
  content: "기본정보";
  position: absolute;
  top: -2%;
  font-size: 12px;
  background-color: #fff;
}
.left-2::after {
  content: "예탁정보";
  position: absolute;
  top: -3%;
  font-size: 12px;
  background-color: #fff;
}
.left-3::after {
  content: "계좌번호";
  position: absolute;
  top: -4%;
  font-size: 12px;
  background-color: #fff;
}

.left-1__flex {
  display: flex;
  width: 100%;
  gap: 7px;
  justify-content: space-between;
  margin-top: 5px;
}

.flexGrow {
  flex: 1 0 auto;
}

.item {
  width: 50%;
  display: flex;
  gap: 7px;
  justify-content: space-between;
  align-items: center;
}

.meno {
  height: 120px;
}

.meno p {
  line-height: 120px;
}

.left-4_content1,
.right-4_content1 {
  margin-top: 10px;
  box-sizing: border-box;
}

.left-4_content1 ul,
.right-4_content1 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: relative;
  right: -12px;
}

.left-4_content1 ul li,
.right-4_content1 ul li {
  padding: 5px;
  border-top: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  background-color: #fff;
  transform: translateY(1px);
  font-size: 12px;
  border-radius: 0.2rem;
}

.left-4_content1 .tap1,
.right-4_content1 .tap1 {
  position: relative;
  z-index: 2;
}

.content1-1,
.content1-2 {
  position: relative;
  z-index: 1;
  padding: 20px;
  border: 1px solid #e3e3e3;
  position: relative;
  border-radius: 0.5rem;
}

.content1-1 span,
.content1-2 span {
  font-size: 12px;
  line-height: 24px;
}

.content1-1 button,
.content1-2 button {
  display: block;
}

.column {
  flex-direction: column;
}

.left-4 .column .item {
  width: 100%;
  justify-content: flex-end;
}

.left-4_content1 .content1 {
  position: relative;
}

.content1 .content1-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  box-sizing: border-box;
  display: none;
}

.table-wrap {
  height: 300px;
  /* width: 100%; */
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
  min-width: 300px;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  /* min-width: 1000px; */
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
  height: 2rem;
  line-height: 1.8rem;
  background: #f1f1f1;
  text-align: center;
  white-space: nowrap;
}

table td {
  padding: 0 0.1rem;
  height: 2rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #e3e3e3;
}

.table tbody td button {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.table-wrap2 {
  min-width: 300px;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
}

.right-4_content1 .content1 {
  position: relative;
  z-index: 1;
  padding: 0 20px 20px;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
}

.close-btn {
  position: absolute;
  right: 0;
  margin-top: 20px;
  width: 200px;
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}


.flex1{
  flex:auto;
}

@media screen and (max-width:1220px){
  .content-wrap {
    flex-direction: column;
  }

  .content-left {
    width: auto;
  }

  .whiteP {
    flex: 1;
  }

  .flex1{
    flex:1;
  }
  
  .content-right {
    width: auto;
    overflow: visible;
  }

  .close-btn {
    position: static;
  }

  .left-4_content1 ul, .right-4_content1 ul {
    flex-wrap: wrap;
  }

  .left-4_content1 ul li, .right-4_content1 ul li {
    padding: 5px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    transform: translateY(0);
    font-size: 12px;
    border-radius: 0.2rem;
  }

  .left-4_content1 ul li.on, .right-4_content1 ul li.on{
    background: #0027b3;
    color: #fff;
  }
}


@media screen and (max-width:620px){
  .w100p{
    width: 100%;
  }
  .wAuto{
    width: auto;
  }
  .btn-wrap {
    flex-direction: column;
    gap: 10px;
  }
  .btn {
    flex-direction: column;
  }
  .left-1 {
    margin-top: 20px;
  }
  .flexDC{
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
  textarea{
    width: 150px;
  }
.table-wrap {
    min-width: auto;
  }
}