input[type='checkbox'],
input[type='radio']{
  width: auto;
}

.noBtn{
  width: 120px;
}

.content-all{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.content-left,
.content-right{
  flex: 1;
}


.box-1{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  flex-wrap: wrap;
}

.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7{
  display: flex;
  gap: 10px;
  font-size: 12px;
  align-items: start;
  flex-wrap: wrap;
}

.box-4{
  flex-direction: column;
}

.box-1_1,
.box-2_1,
.box-3_1,
.box-5_1,
.box-6_1,
.box-7_1
{
  display: flex;
  gap: 10px;
  align-items: center;
}

.link-wrap{
  display: flex;
  gap: 10px;
}

.link-wrap input{
  width: 300px;
}

.box-radio{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.btn-box{
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 10px;
  
}

.displayFlex{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.box_5-2 input{
  width: 200px;
}

.sub-title {
  background-color: #f5f5f5;
  font-size: 14px;
  color: orange;
  padding: 10px;
  border-radius: 5px;
}

body.dark .sub-title {
  background-color: #2d2e35;
  font-size: 14px;
  color: orange;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width:500px) {
  .btn-box{
    flex-direction: column;
  }
}