body {
  background-color: #e0e3eb;
  padding: 0 10px;
  font-size: 12px;
}

select,
input {
  width: 95px;
  padding: 5px 0;
  border-radius: 0.5rem;
  border: 1px solid #e0e3eb;
}

button {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  border: none;
}

button:hover {
  background: #0038df;
}

p {
  display: inline-block;
  font-size: 12px;
  padding: 5px 2px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0;
  width: 95px;
}

.section1 {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 20px;
  box-sizing: border-box;
}

.whiteP {
  background-color: #f5f5f5;
}

.content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.content-left{
  flex: 0 0 auto;
}

.left-1,
.left-2,
.right-1 {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid;
  position: relative;
  position: relative;
  border: 1px solid #e3e3e3;
  position: relative;
  border-radius: 0.5rem;
}

.left-1 {
  display: flex;
  gap: 10px;

}

.left-1::after {
  content: "기본정보";
  position: absolute;
  top: -10%;
  font-size: 14px;
  background-color: #fff;
}

.left-2{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;

}

.left-2 #left-check{
  width: auto;
  padding: 0;
}

.input-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-2::after {
  content: "기본이벤트";
  position: absolute;
  top: -7%;
  font-size: 14px;
  background-color: #fff;
}

.content-right{
  flex: 1;
}

.right-1{
  display: flex;
  gap: 10px;
  flex-direction:column
}

.right-1::after {
  content: "거래정보";
  position: absolute;
  top: -7%;
  font-size: 14px;
  background-color: #fff;
}

.bottom-wrap {
  margin-top: 40px;
  position: relative;
  padding-bottom: 50px;
}

.bottom-wrap .top-btn{
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
}

.bottom-wrap .top-btn p{
  width: auto;
}

.bottom-wrap span{
  display: block;
  margin: 20px 0;
}

.table-wrap {
  height: 300px;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
  min-width: 300px;
}

.table {
  min-width: 600px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
  height: 2rem;
  line-height: 1.8rem;
  background: #f1f1f1;
  text-align: center;
  white-space: nowrap;
}

table td {
  padding: 0 0.1rem;
  height: 2rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #e3e3e3;
}

.table input{
  width: auto;
}

.save-text{
  display: block;
}

.save-btn{
  width: 300px;
  position: absolute;
  right: 0;
  bottom: 20px;
}

::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

@media screen and (max-width:975px){
  .left-1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .left-id p:last-child,
  .left-name p:last-child{
    flex: 1;
  }

}