select,
input {
  width: 95px;
  padding: 5px 5px;
}

button {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  font-size: 14px;
}

p{
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 95px;
  text-align: center;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
}

.section1 {
  max-width: 1500px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.whiteP{
  /* width:  60px; */
  background-color: #fff;
}

.content-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.content-left{
  width: 550px;
}

.content-right{
  width: 900px;
}

.btn-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-btn p{
  width: 95px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  text-align: center;
}

.top-btn1 button,
.top-btn2 button{
  width: 95px;
}

.top-btn1{
  margin-top: 10px;
}

.top-btn2{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left-1,
.left-2,
.left-3{
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid;
    position: relative;
    margin-top: 10px;
  }

  .left-1::after{
    content: '기본정보';
    position: absolute;
    top: -2%;
    font-size: 14px;
    background-color: #f5f5f5;
  }
  .left-2::after{
    content: '예탁정보';
    position: absolute;
    top: -3%;
    font-size: 14px;
    background-color: #f5f5f5;
  }
  .left-3::after{
    content: '계좌번호';
    position: absolute;
    top: -4%;
    font-size: 14px;
    background-color: #f5f5f5;
  }

.left-1__flex{
  display: flex;
  width: 100%;
  gap: 7px;
  justify-content: space-between;
  margin-top: 10px;
}

.flexGrow{
  flex: 1 0 auto;
}

.item{
  width: 50%;
  display: flex;
  gap: 7px;
  justify-content: space-between;
}

.meno{
  height: 120px;
}

.meno p{
  line-height: 120px;
}

.left-4_content1{
  margin-top: 10px;
  box-sizing: border-box;
}

.left-4_content1 ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.left-4_content1 ul li{
  padding: 5px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #f5f5f5;
  transform: translateY(1px);
}

.left-4_content1 .tap1{
  position: relative;
  z-index: 2;
}

.left-4_content1 .tap2{
  position: relative;
  z-index: 1;
}

.content1-1,
.content1-2{
  position: relative;
  z-index: 1;
  padding: 20px;
  border: 1px solid #aaa;
}

.content1-1 span,
.content1-2 span{
  font-size: 14px;
  line-height: 28px;
}

.content1-1 button,
.content1-2 button{
  display: block;
}

.column{
  flex-direction: column;
}

.left-4 .column .item{
  width: 100%;
  justify-content: flex-end;
}

.left-4_content1 .content1{
  position: relative;
}

.content1 .content1-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  box-sizing: border-box;
  display: none;
}


.table-wrap {
  border: 1px solid #888;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
}

.table tbody {
  background-color: #fff;
}

.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
}

.table tbody td button{
  width: 80px;
}