.content{
  display: flex;
  gap: 20px;
}

.content-left{
  flex-basis: 30%;
}

.content-right{
  flex-basis: 70%;
}

.btn{
  display: flex;
  gap: 5px;
}

@media screen and (max-width:1200px) {
  .content {
    flex-direction: column;
  }

  .content-left{
    flex-basis: 100%;
  }
  
  .content-right{
    flex-basis: 100%;
  }
}

@media screen and (max-width:768px){
  .bottom-btn{
    justify-content: flex-start;
  }
}

@media screen and (max-width:425px){
  .bottom-btn{
    justify-content: center;
  }
}