select{
  width: 95px;
  padding: 5px 5px;
}

input[type='checkbox']{
  width: auto;
}

input[type='text']{
  border-top: none;
  border-left: none;
  border-right: none;
}

button {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  font-size: 14px;
  width: 120px;
}

.noBtn {
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 150px;
  text-align: center;
  display: inline-block;
}

.section1 {
  max-width: 800px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.whiteP {
  background-color: #fff;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 0;
}

.table-wrap {
  border: 1px solid #888;
  min-height: 500px;
  max-height: 500px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
  background-color: #eee;
  width: 100px;
}

.table tbody {
  /* background-color: #fff; */
}

.table tbody tr {
  height: 30px;
  background-color: lightsteelblue;
}

.table tbody td {
  border: 1px solid #000;
}

.table tbody td button {
  width: 120px;
}


/* ---------------------------- */

.title-btn{
  font-weight: bold;
  display: block;
  width: 180px;
  line-height: 2.4;
}

.title-wrap{
  display: flex;
  align-items: start;
  gap: 20px;
  margin-top: 20px;
}

.title-right{
  width: 100%;
}

.title-right p{
  width: 100%;
  border: 1px solid #fff;
  height: 20px;
}

.title-right select{
  width: 150px;
}

.title-right button{
  background-color: #fff;
  border: none;
  width: auto;
  margin-right: 30px;
}

input[type="color"]{
  padding: 0;
  width: 50px;
}

.content-wrap{
  display: flex;
  align-items: start;
  gap: 20px;
  margin-top: 20px;
}

.content-wrap textarea{
  width: 100%;
  height: 300px;
}

.notice-wrap{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.vip-wrap{
  display: flex;
  gap: 20px;
  align-items: center;
}

.vip-wrap select{
  width: 150px;
}

.time-wrap{
  display: flex;
  gap: 20px;
  align-items: center;
}

.day-wrap{
  display: flex;
  gap: 20px;
  align-items: center;
}

.button-wrap{
  text-align: center;
  margin-top: 20px;
}