select,
input {
  width: 100px;
  padding: 5px 3px;
}

button {
  padding: 5px 2px;
  width: 120px;
  font-size: 14px;
}

p{
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 95px;
  text-align: center;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
}

/* header */
header {
  position: absolute;
  width: 350px;
  top: 0px;
  right: 10px;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  padding: 20px;
  background-color: #fff;
  justify-content: space-between;
  gap: 5px;
}

li{
  flex-basis: calc(50% - 5px);
}

header ul li button{
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  padding: 5px 2px;
  font-size: 14px;
  white-space: nowrap;
  width: 100%;
}

header ul .last-li{
  flex-basis: 100%;
}

header ul .last-li button{
  display: block;
  width: 100%;
}

.section1 {
  max-width: 1500px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.titleBtn {
  margin-left: 20px;
}

.section-wrap {
  padding: 20px;
}

.content {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-top: 20px;
}

.left {
  margin-left: 20px;
  width: 50%;
}

.left .top-btn {
  display: flex;
  justify-content: space-between;
}

.left .top-btn-2 button {
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  padding: 5px 2px;
  width: 120px;
  font-size: 14px;
}

.table-wrap {
  border: 1px solid #888;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
}

.table tbody {
  background-color: #fff;
}

.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
}

.table tbody td button{
  width: 80px;
}

.right {
  width: 50%;
  margin-right: 20px;
}

.right .top-btn {
  display: flex;
  justify-content: space-between;
}

.blueBtn{
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  padding: 5px 2px;
  width: 120px;
  font-size: 14px;
}

aside{
  position: absolute;
  width: 500px;
  border: 1px solid #000;
  top: 20%;
  left: 50%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
}

#textMore{
  margin-top: 20px;
  width: 100%;
  height: 300px;
  }
  
  .chatText input{
    height: 80px;
    width: 100%;
    margin-bottom: 20px; 
}

.bottom-btn{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}