select,
input {
  width: 100px;
  padding: 5px 3px;
}

button {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  font-size: 14px;
}

p{
  font-size: 14px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  min-width: 100px;
  text-align: center;
  display: inline-block;
  margin: 0;
}

.section1 {
  max-width: 1500px;
  margin: 0 auto;
  width: auto;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.whiteP{
  width:  60px;
  background-color: #fff;
}

.content-wrap{
  width: 100%;
  height: 100%;
  display: flex;
}

.content-left{
  width: 550px;
}

.btn-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-btn p{
  width: 100px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  text-align: center;
}

.top-btn1 button,
.top-btn2 button{
  width: 100px;
}

.top-btn2{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left-1{
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid;
    gap: 10px;
  }