.btn-box{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.btn{
  display: flex;
  gap: 10px;
}

.tap-list{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.table-2{
  margin-top: 20px;
}

.bg-red {
  background-color: lightcoral;
}
.bg-skyBlue {
  background-color: skyblue;
}
.bg-blue {
  background-color: paleturquoise;
}

body.dark .table-1 .table tr:nth-child(2n-1) td:nth-child(8) {
  background-color: skyblue;
  color: #000;
}

body.dark .table-2 .table tr:nth-child(2n-1) td:nth-child(7) {
  background-color: skyblue;
  color: #000;
}

body.dark .table-1 .table tr:nth-child(2n-1) td:nth-child(14) {
  background-color: lightcoral;
}

body.dark .table-1 .table tr:nth-child(2n) td:nth-child(3) {
  background-color: lightcoral;
}

body.dark .table-2 .table tr:nth-child(2n-1) td:nth-child(13) {
  background-color: lightcoral;
}

body.dark .table-2 .table tr:nth-child(2n) td:nth-child(2) {
  background-color: lightcoral;
}

body.dark .table-1 .table tr:nth-child(2n-1) td:nth-child(16){
  background-color: paleturquoise;
  color: #000;
  }

  body.dark .table-1 .table tr:nth-child(2n) td:nth-child(5){
  background-color: paleturquoise;
  color: #000;
  }

  
body.dark .table-2 .table tr:nth-child(2n-1) td:nth-child(15){
  background-color: paleturquoise;
  color: #000;
  }

  body.dark .table-2 .table tr:nth-child(2n) td:nth-child(4){
  background-color: paleturquoise;
  color: #000;
  }


    
@media screen and (max-width:768px) {
  .bottom-btn {
    justify-content: flex-start;
  }
}
  
@media screen and (max-width:425px) {
  .bottom-btn{
    justify-content: center;
  }
  .tap-list {
    justify-content: center;
  }
}