.bottom-btn,
.left,
.left-1,
.left-2,
.right,
.right-1,
.right-2{
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

#textMore {
  margin-top: 20px;
  width: 100%;
  height: 300px;
}

.chatText input {
  height: 80px;
  width: 100%;
  margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
  .bottom-btn{
    justify-content: flex-start;
  }
  
  aside {
    width: 350px;
  }
}

@media screen and (max-width: 560px) {
  .left-content .top-btn {
    align-items: flex-start;
    flex-direction: column;
  }

  .right-content .top-btn {
    flex-direction: column;
    align-items: flex-start;
}

}


@media screen and (max-width: 425px) {
  .bottom-btn,
  .left,
  .right{
    flex-direction: column;
  }

  .bottom-btn,
  .left,
  .left-1,
  .left-2,
  .right,
  .right-1
  {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
