.btn-box{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

input[type='checkbox']{
  width: auto;
}

.title-p{
  min-width: 250px;
}

.main-btn{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.main-btn-wrap{
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-basis: 50%;
}

.right{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
  height: 190px;
  justify-content: space-between;
}

.right input[type='text']{
  width: 100%;
}

.btn{
  display: flex;
  gap: 10px;
}

.check{
  padding: 5px;
  border: 1px solid #000;
} 

.save-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.check {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.check span{
  font-size: 12px;
}

.check-1,
.check-2{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.last-text{
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.check-btn{
  display: flex;
  justify-content: space-between;
}

.displayFlex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width:1170px) {
  .check-btn {
    flex-direction: column;
  }

  .check-left{
    display: flex;
    gap: 10px;
  }

  .check-left button{
    width: 50%;
  }
}

@media screen and (max-width:1000px) {
  .main-btn {
    flex-direction: column;
  }

  .main-btn-wrap{
    flex-basis: 100%;
    width: 100%;
  }

  .right{
    flex-basis: 100%;
    width: 100%;
  }

  .flex1{
    flex: 1;
  }

  .check{
    gap: 5px;
  }
}
@media screen and (max-width:560px){
  .title-p {
    min-width: 150px;
  }

.first-btn{
  flex-direction: column;
}  

.flexAuto{
  flex: auto;
}
}