/* header */
header{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.header-wrap{
  padding: 10px;
}

.header-wrap .btn-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-wrap button{
  font-size: 12px;
  width: 100px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: skyblue;
}

