/* section1 */
.section1{
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  background-color: #f5f5f5;
}

p{
  font-size: 12px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
}

.section-wrap{
  padding: 20px;
}

button{
  width: 200px;
  height: 30px;
}

select,input{
  width: 100px;
  padding: 5px 0;
}

.top-btn .topBtn-1,
.bottom-btn .leftBtn-1,
.bottom-btn .leftBtn-2{
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
}

.rightBtn-1 {
  background-color: skyblue;
  border: 1px solid #6cb3cf;
}

.bottom-btn{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftBtn-1,
.leftBtn-2{
  width: 100px;
}

.table-wrap {
  border: 1px solid #888;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
}

.table tbody {
  background-color: #fff;
}

.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
}

.table tbody td button{
  width: 80px;
}

.caption{
  display: block;
  margin-top: 10px;
  text-align: right;
}

.left{
  display: flex;
  gap: 10px;
}