/* section1 */
.section1{
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  background-color: #f5f5f5;
}

.section-wrap{
  padding: 20px;
}

.top-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-btn button{
  width: 200px;
  height: 30px;
}

.top-btn .btn-1{
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
}

.top-btn .btn-2{
  background-color: skyblue;
  border: 1px solid #6cb3cf;
}

.table-wrap{
  margin-top: 50px;
  width: 100%;
  height: 400px;
  text-align: center;
}

.table{
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
}

.table thead{
  border: 1px solid #000;
  background-color: #fff;
  height: 30px;
}

.table tbody{
  height: 200px;
  overflow-y: auto;
}

