::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

body {
  background-color: #e5e5e5;
  width: 100%;
  height: 100vh;
}

p {
  font-size: 12px;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

select,
input {
  width: 100px;
  padding: 5px 0;
  border-radius: 0.5rem;
  border: 1px solid #e5e5e5;
  height: 30px;
}

button {
  padding: 0 10px;
  height: 30px;
  white-space: nowrap;
}

.colorBtn {
  background: #e5e5e5;
  transition: 0.5s;
  border: none;
}

.whiteBtn {
  border: 1px solid #e5e5e5;
  transition: 0.5s;
}

.color-red {
  color: tomato;
  font-weight: bold;
}

.color-blue {
  color: lightskyblue;
  font-weight: bold;
}

.color-yellow {
  color: gold;
  font-weight: bold;
}

.color-green {
  font-weight: bold;
  color: lightgreen;
}

.total-bg {
  background-color: #e5e5e5;
}

.topText {
  font-weight: 400;
  letter-spacing: 1px;
}

/* top */

.top-menu {
  padding: 0 20px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  outline: 2px solid #eee;
  z-index: 999;
}

.title-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrap h1 {
  font-size: 15px;
  line-height: 50px;
}

.mode-wrap img{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.logo-wrap {
  width: 150px;
  height: 150px;
  background-color: #f5f5f5;
}

header {
  width: 150px;
  height: calc(100% - 50px);
  position: fixed;
  z-index: 99;
  top: 50px;
  background-color: #ffffff;
}

.header-wrap {
  position: relative;
}

.header-wrap .btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.btn-wrap {
  width: 150px;
}

.btn-wrap li {
  width: 100%;
  height: 50px;
  text-align: center;
}

.btn-wrap li button {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 12px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}

.btn-wrap button:hover {
  background-color: #e5e5e5;
}

.menu-more {
  display: none;
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translateY(-50%);
  background: #fff;
  padding: 10px;
  color: #666;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* dayData */
.dayData-wrap {
  padding-top: 50px;
}

.top-dayData {
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  min-height: 150px;
  margin-left: 150px;
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 88;
}

.dayData-total {
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

.dayData-text {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  border-left: 1px solid #222;
  padding-left: 20px;
}

.total-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total-list p {
  border-radius: 0;
}

.total-list .list-item {
  display: flex;
}

.list-item .item-title {
  width: 50px;
  text-align: center;
}

.list-item .item-text {
  width: 50px;
  text-align: center;
}

.text-wrap {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.dayData-text .text {
  position: relative;
}

.text-wrap h6 {
  display: inline;
  font-size: 14px;
  padding: 0;
  background-color: transparent;
}

.text-wrap p {
  display: inline;
  font-size: 14px;
  padding: 0;
  background-color: transparent;
}

/* section1 */
.section1 {
  margin-left: 151px;
  height: 100%;
}

.section-wrap {
  height: 100%;
}

.top-btn {
  background-color: #fff;
}

.top-btn .topBtn-1 {
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  padding: 0;
  height: 50px;
}

.top-btn .topBtn-1::after {
  content: "";
  background-color: #e5e5e5;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.top-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.top-btn .btn-1 {
  position: relative;
  width: 100px;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
  padding: 0;
  height: 50px;
  background-color: #fff;
}

.top-btn .btn-1::after {
  content: "";
  background-color: #e5e5e5;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.bottom-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}

.main-content {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
}

/* table */
.table-wrap {
  height: 500px;
  width: 100%;
  overflow: auto;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
  height: 2rem;
  line-height: 1.8rem;
  background: #f1f1f1;
  text-align: center;
  white-space: nowrap;
}
table td {
  padding: 0 0.1rem;
  height: 2rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #e3e3e3;
  white-space: nowrap;
}

.caption {
  display: block;
  text-align: right;
  font-size: 12px;
  background-color: #fff;
  margin: 10px 0;
  box-sizing: border-box;
}


@media screen and (max-width: 1621px) {
  .dayData-total {
    display: flex;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .dayData-total {
    flex-direction: row;
    display: flex;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 0px;
    padding-bottom: 20px;
  }

  .top-dayData {
    flex-direction: column;
    gap: 0;
  }

  .total-list {
    flex-direction: row;
  }

  .dayData-text {
    justify-content: space-between;
    padding: 0;
    border-top: 1px solid #222;
    border-left: none;
    padding-top: 20px;
  }

  .header-wrap {
    position: absolute;
    z-index: 999;
    transform: translateX(-150px);
    transition: 0.5s;
  }

  .header-wrap.active {
    position: absolute;
    z-index: 999;
    transform: translateX(0);
  }

  header {
    display: flex;
    gap: 20px;
  }

  .header-wrap {
    margin-top: 0px;
  }

  .logo-wrap {
    height: auto;
    min-width: 100px;
  }

  .menu-more {
    display: block;
  }

  .menu-bg {
    display: none;
    position: fixed;
    z-index: 89;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu-bg.active {
    display: block;
  }

  table th {
    padding: 0 20px;
  }
}

@media screen and (max-width: 425px) {
  /* .main-content {
    height: 300px;
  } */

  .btn-wrap button {
    font-size: 12px;
    width: 48%;
  }

  .btn-wrap button {
    width: 100%;
  }

  .text-wrap p {
    text-align: left;
  }

  .text-wrap p,
  .displayB {
    height: 100%;
    line-height: 1.4;
  }

  .total-list .list-item {
    display: flex;
  }

  .dayData-total {
    flex-direction: column;
  }

  /* .table-wrap {
    height: 300px;
  } */
}
