.section2 .bottom-btn{
  justify-content: flex-end;
}

.left,
.left-1,
.right-1{
  display: flex;
  gap: 10px;
}

.left{
  justify-content: end;
  width: 100%;
  gap: 50px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.right-1 .btn {
  display: flex;
  gap: 10px;
}

.btn{
  display: flex;
  gap: 10px;
}

.section2{
  margin-left: 160px;
  height: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 835px){
  .left {
    gap: 10px;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (max-width: 800px) {
}


@media screen and (max-width: 768px) {
  .section1 .bottom-btn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .section2 {
    margin-left: 0;
    padding: 0;
  }

  .section2 .bottom-btn {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .left,
  .left-1 {
    flex-direction: column;
  }


  
}
