.rightBtn-1 {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  padding: 0 10px;
  height: 30px;
}

.rightBtn-1:hover {
  background: #0038df;
}

.bottom-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.caption {
  display: block;
  text-align: right;
  font-size: 12px;
  background-color: #fff;
  margin: 10px;
  box-sizing: border-box;
}

.left {
  display: flex;
  gap: 10px;
}

.left-1,
.left-2,
.right,
.right-1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 1200px) {

  .top-btn {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 900px) {

  .top-btn {
    width: auto;
  }

  .left {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .bottom-btn {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
  }

  .bottom-btn .right {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

}

@media screen and (max-width: 425px) {
  .bottom-btn .right {
    align-items: center;
  }
}
