.left,
.left-1,
.left-2,
.right-1,
.right-2,
.right-3 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-1 .btn {
  display: flex;
  gap: 10px;
}

.section2{
  margin-left: 151px;
  height: 100%;
}

@media screen and (max-width: 1325px) {
  .left {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: start;
  }

  .bottom-btn {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
  }

  .bottom-btn .right {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .section2 .bottom-btn {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1062px) {
  .section1 .bottom-btn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .section2 .bottom-btn {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 470px) {
  .left {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 425px) {
  .left {
    align-items: center;
  }
  .left-1 {
    flex-direction: column;
    align-items: center;
  }

  .right {
    align-items: center;
  }
}
