/* section1 */
.section1{
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  background-color: #f5f5f5;
}

.section-wrap{
  padding: 20px;
}

.top-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.top-btn button{
  width: 200px;
  height: 30px;
}

.top-btn .btn-1{
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
}

.top-btn .btn-2{
  background-color: skyblue;
  border: 1px solid #6cb3cf;
}

.table-wrap{
  height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table{
  text-align: center;
  border: 1px solid #000000;
  width: 100%;
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
  height: 300px;
  min-width: 1000px;
}

.table thead {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th{
  border: 1px solid #000000;
}


.table tbody {
  background-color: #fff;
}


.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
}

.table tfoot{
  position: sticky;
  bottom: 0;
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}
