.bottom-btn{
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
}

.left{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.left-1{
  display: flex;
  gap: 10px;
}

.right{
  width: 100%;
}

.right-1{
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

.btn{
  display: flex;
  gap: 10px;
}

.caption{
  padding: 0;
  padding-top: 10px;
}

.caption-text {
  text-align: right;
  width: 100%;
  height: auto;
  padding: 0;
  white-space: wrap;
  word-break: keep-all;
  line-height: 1.8;
  margin-top: 10px;
}

body.dark .caption-text{
  background-color: transparent;
}

@media screen and (max-width: 1000px){

  .left-1{
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .top-btn {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }


}

@media screen and (max-width: 425px) {
  .bottom-btn {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .left-2{
    display: flex;
    gap: 10px;
  }

}
