body{
  background-color: #e0e3eb;
  padding: 0 10px;
}

header{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 1rem;
}

.header-wrap{
  padding: 10px;
  margin-top: 10px;
}

.header-wrap .btn-wrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-wrap button{
  font-size: 12px;
  width: 100px;
  height: 50px;
  border-radius: 1.3px;
  transition: 0.5s;
  position: relative;
}

.btn-wrap button:nth-child(4)::after{
  content: '';
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.btn-wrap button:hover{
  font-weight: bold;
}

@media screen and (max-width:425px) {
  .btn-wrap button {
    font-size: 12px;
    width: 48%;
  }
}

/* section1 */
.section1{
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
}

.section-wrap{
  padding: 20px;
  margin-top: 20px;
}

button{
  width: 120px;
  height: 30px;
}

select,input{
  width: 100px;
  padding: 5px 0;
  border-radius: 0.5rem;
  border: 1px solid #e0e3eb;
}

p{
  font-size: 12px;
  padding: 5px 2px;
  /* box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff; */
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
  border-radius: 0.5rem;
}

.left-btn,
.right-btn{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.top-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rightBtn-2
{
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.rightBtn-2:hover{
  background: #0038df;
}

.rightBtn-3 {
  border: 1px solid #0027b3;
  color: #000;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.rightBtn-3:hover{
  background: #0038df;
  color: #fff;
}

.bottom-btn{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftBtn-1{
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  padding: 0;
}

.leftBtn-1::after{
  content: '';
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.leftBtn-2{
  width: 100px;
}

.rightBtn-2{
  width: 120px;
}

.table-wrap {
  height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  min-width: 1000px;
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot{
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
    height: 2rem;
    line-height: 1.8rem;
    background: #f1f1f1;
    text-align: center;
}

table td {
    padding: 0 0.1rem;
    height: 2rem;
    line-height: 1.8rem;
    border-bottom: 1px solid #e3e3e3;
}

.table tbody td button{
  width: 80px;
}

.table tfoot{
  position: sticky;
  bottom: 0;
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}


.caption{
  display: block;
  margin-top: 10px;
  text-align: right;
  font-size: 12px;
}


.btn{
  display: flex;
  gap: 10px
}

@media screen and (max-width:1200px) {
  .top-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }
}

@media screen and (max-width:425px) {
  .left-btn, .right-btn {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}


.btn {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

  .dateday {
      flex-direction: column;
      align-items: flex-start;
  }

}

