.left,
.left-1,
.left-2,
.right,
.right-1,
.right-2 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}


@media screen and (max-width: 900px) {
  
    .top-btn {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
    }

}

@media screen and (max-width: 768px) {
  .bottom-btn {
    justify-content: flex-start;
  }

  .left,
  .right{
    justify-content: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .btn-wrap button {
    font-size: 12px;
    width: 48%;
  }

  .btn-wrap button {
    width: 100%;
  }

  .text-wrap p {
    text-align: left;
  }

  .bottom-btn {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .topBtn-1 {
    display: block;
    margin: 0 auto;
  }

  .left,.right{
    justify-content: center;
  }

  .right-1,
  .right-2{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .btn{
    display: flex;
    gap: 10px;

  }
}
