

.left,
.left-1,
.left-2,
.right-1,
.right-2,
.right-3 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-1 .btn {
  display: flex;
  gap: 10px;
}

.section2{
  margin-left: 160px;
  height: 100%;
  margin-top: 50px;
}

@media screen and (max-width: 1325px) {

  .bottom-btn .right {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .section2 .bottom-btn {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .section1 .bottom-btn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .section2 {
    margin-left: 0;
    padding: 0;
  }

  .section2 .bottom-btn {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 470px) {
  .left {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 425px) {
  .left {
    align-items: center;
  }
  .left-1 {
    flex-direction: column;
    align-items: center;
  }

  .right {
    align-items: center;
  }
}
