.btn-box {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-btn b{
  font-size: 12px;
}

.btn{
  display: flex;
  gap: 10px;
}




@media screen and (max-width: 768px) {
  .top-btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
}

.bottom-btn {
  align-items: flex-start;
  flex-direction: column;
}

.left{
  justify-content: flex-start;
}
}

@media screen and (max-width: 425px) {

  .topBtn-1 {
    display: block;
    margin: 0 auto;
  }

  .bottom-btn b {
    margin: 0 auto;
  }
}
