p{
  font-size: 12px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
  display: inline-block;
}

select,input{
  width: 100px;
  padding: 5px 3px;
}

/* section1 */
.section1{
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  background-color: #f5f5f5;
}

.section-wrap{
  padding: 20px;
}

.top-btn{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.top-btn button{
  width: 200px;
  height: 30px;
}

.top-btn .btn-1{
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  display: block;
}

.left-content{
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.bottom-btn{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.left-btn .left-btn1,
.left-btn .left-btn2,
.right-btn1{
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  width: 80px;
  padding: 5px 2px;
}

.right-wrap{
  display: flex;
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.right-btn1{
  display: block;
}

.table caption{
  height: 30px;
  background-color: #f5f5f5;
  border: 1px solid #000;
}

.table-wrap {
  border: 1px solid #888;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #888;
  width: 100%;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
}

.table tbody {
  background-color: #fff;
}

.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
}
