.left,
.right {
  flex-wrap: wrap;
}

.left,
.left-1,
.left-2,
.right,
.right-1,
.right-2 {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.right-1 .btn {
  display: flex;
  gap: 10px;
}

.caption-text {
  text-align: right;
  width: 100%;
  height: auto;
  padding: 0;
  white-space: wrap;
  word-break: keep-all;
}

@media screen and (max-width: 768px) {
  .top-btn {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .bottom-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 425px) {
  .left,
  .right {
    justify-content: center;
  }

  .bottom-btn {
    justify-content: center;
    align-items: center;
  }
}
