.bottom-btn{
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 10px;
}

.left-1,
.left-2,
.right,
.right-1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .top-btn {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 768px) {

  .top-btn {
    width: auto;
  }

  .left {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .bottom-btn {
    align-items: flex-start;
    justify-content: flex-start;
}

  .bottom-btn .right {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

}

@media screen and (max-width: 425px) {
  .bottom-btn {
    justify-content: center;
}

  .bottom-btn .left{
    width: 100%;
}

  .bottom-btn .right {
    width: 100%;
    align-items: center;
  }
}
