
.left{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.left,
.left-1,
.left-2,
.right,
.right-1,
.right-23,
.right-2,
.right-3 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-23 {
  flex-wrap: wrap;
}

.right{
  align-items: flex-start;
}

.right-1 .btn {
  display: flex;
  gap: 10px;
}


@media screen and (max-width: 1325px) {
  .top-btn {
    flex-direction: column;
    align-items: flex-start;
  }

  .left {
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
  }
  
  .bottom-btn .right {
    margin: 0;
    display: flex;
    gap: 10px;
    /* flex-direction: column; */
  }

}

@media screen and (max-width: 1008px) {
  .bottom-btn .right {
    flex-direction: column;
  }

}

@media screen and (max-width: 768px) {
  .bottom-btn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .bottom-btn .right {
    align-items: flex-start;
  }
}


@media screen and (max-width: 425px) {
  .bottom-btn {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .topBtn-1 {
    display: block;
    margin: 0 auto;
  }

  
}
