.bottom-btn {
  align-items: flex-end;
  flex-direction: column;
}

.left,
.left-1,
.left-2,
.right-1,
.right-2,
.right-3 {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left{
  justify-content: flex-end;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-1 .btn {
  display: flex;
  gap: 10px;
}

.bottom-btn b{
  font-size: 12px;
}

.btn{
  display: flex;
  gap: 10px;
}




@media screen and (max-width: 768px) {
  .top-btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
}

.bottom-btn {
  align-items: flex-start;
  flex-direction: column;
}

.left{
  justify-content: flex-start;
}
}

@media screen and (max-width: 425px) {

  .topBtn-1 {
    display: block;
    margin: 0 auto;
  }

  .left {
    display: flex;
    gap: 10px;
  }

  .left-1,
  .left-2,
  .right-1,
  .right-2
  {
    flex-wrap: nowrap;
  }
  
  .right{
    width: 100%;
  }

  .right-1 {
    align-items: center;
  }

  .right-23 {
    align-items: center;
  }

  .right-3 {
    flex-direction: column;
  }

  .bottom-btn b {
    margin: 0 auto;
  }
}
