::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

p {
  font-size: 12px;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

.blueBtn {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border: none;
}

.color-red{
  color: red;
}

.color-blue{
  color: lightskyblue;
}

.color-yellow{
  color: gold;
}

body {
  background-color: #e0e3eb;
  width: 100%;
  height: 100vh;
}

.top-menu{
  padding: 0 20px;
  background-color: #fff;
}

.logo-wrap {
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
}

.logo-wrap h1{
  font-size: 15px;
  line-height: 50px;
}

header{
  width: 150px;
  height: 100%;
}

.header-wrap {
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #0027b3;
  position: relative;
}

.header-wrap .btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.btn-wrap{
  width: 150px;
  height: 100%;
}

.btn-wrap li{
  width: 100%;
  height: 50px;
  text-align: center;
}

.btn-wrap li button{
  width: 100%;
  height: 100%;
}

.btn-wrap button {
  font-size: 12px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}

.btn-wrap button:hover {
  color: #fff;
  background-color: #0027b3;
}

.menu-more{
  display: none;
  position: absolute;
  top: 50%;
  left: 149px;
  transform: translateY(-50%);
  background: #fff;
  padding: 10px;
  color: #0027b3;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.section1 {
  width: 100%;
  height: 100%;
}

.section-wrap{
  height: 100%;
}

/* dayData */
.top-dayData {
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #111;
}

.dayData-total {
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

.dayData-text{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  border-left: 1px solid #f5f5f5;
  padding-left: 20px;
}

.total-list{
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total-list p{
  padding: 0 0 0 10px;
  display: flex;
  justify-content: space-between;
  min-width: 140px;
  width: auto;
}

.total-list span{
  padding-right: 10px;
}

.total-green{
  background-color: lightgreen;
  padding: 0 10px;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.text-wrap{
  display: flex;
  gap: 20px;
}

.text-wrap h6,
.text-wrap p {
  display: inline;
  font-size: 14px;
  padding: 0;
  color: #fff;
  background-color: transparent;
  font-weight: bold;
}

.top-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background: #fff;
  padding: 20px;
}

.top-btn .btn-1 {
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  padding: 0;
  height: 50px;
}

.top-btn .btn-1::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.top-btn .btn-2 {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  height: 30px;
  padding: 0 10px;
}

.top-btn .btn-2:hover {
  background: #0038df;
}

.body-wrap{
  display: flex;
  width: 100%;
  height: calc(100% - 160px);
  background-color: #fff;
  position: relative;
}

.main-content {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
}

/* table */
.table-wrap {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
  height: 2rem;
  line-height: 1.8rem;
  background: #f1f1f1;
  text-align: center;
  white-space: nowrap;
}
table td {
  padding: 0 0.1rem;
  height: 2rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #e3e3e3;
  white-space: nowrap;
}


@media screen and (max-width: 900px) {
  .dayData-total{
    flex-direction: column;
  }

  .text-wrap{
    flex-direction: column;
  }

  
}

@media screen and (max-width: 768px) {
  .header-wrap{
    position: absolute;
    z-index: 999;
    transform: translateX(-150px);
    transition: 0.5s;
  }

  .header-wrap.active{
    position: absolute;
    z-index: 999;
    transform: translateX(0);
  }

  header{
    display: flex;
    gap: 20px;
  }

  .header-wrap {
    margin-top: 0px;
  }

  .logo-wrap {
    height: auto;
    min-width: 100px;
  }

  .menu-more{
    display: block;
  }

  .menu-bg{
    display: none;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu-bg.active{
    display: block;
  }

  table th {
    padding: 0 20px;
  }
}

@media screen and (max-width: 425px) {
  .btn-wrap button {
    font-size: 12px;
    width: 48%;
  }

  .btn-wrap button{
    width: 100%;
  }

  .text-wrap p{
    text-align: left;
  }

  .text-wrap p,
  .displayB{
    display: block;
    height: 100%;
  }
}

