.top-btn .topBtn-1{
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  padding: 0;
  height: 50px;
}

.top-btn .topBtn-1::after{
  content: '';
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.bottom-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}

.left,
.left-1,
.left-2,
.right,
.right-1,
.right-2
{
  display: flex;
  gap: 10px;
}

.caption {
  display: block;
  margin-top: 10px;
  text-align: right;
  font-size: 12px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 1rem;
}


@media screen and (max-width: 1200px) {
  .top-btn {
    flex-direction: column;
    align-items: flex-start;
  }

  .right{
    flex-direction: column;
  }
  .dayData-total {
    flex-direction: column;
  }
  
  .text-wrap {
    flex-direction: column;
  }
  
  .top-btn {
    width: auto;
  }
  
  .left {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  
  .bottom-btn {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    justify-content:flex-start;
  }
  
  .bottom-btn .right {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
    
  table th {
    padding: 0 20px;
  }
}
  
  @media screen and (max-width: 768px) {
    .body-wrap {
      height: auto;
    }
    
    .section1 {
      width: 100%;
    }
    
    .main-content {
      height: 700px;
    }
    
    .section1 {
      width: 100%;
    }

    .main-content{
      height: 900px;
    }
  
    .body-wrap {
      flex-direction: column;
    }
  
    header{
      display: flex;
      gap: 20px;
    }
  
    .header-wrap {
      margin-top: 0px;
    }
  
    .logo-wrap {
      height: auto;
      min-width: 100px;
    }
  
    .header-wrap .btn-wrap {
      flex-direction: row;
    }

}

@media screen and (max-width: 425px) {
  .btn-wrap button {
    font-size: 12px;
    width: 48%;
  }

  .btn-wrap button {
    width: 100%;
  }

  .text-wrap p {
    text-align: left;
  }

  .text-wrap p,
  .displayB {
    display: block;
  }

  .bottom-btn {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .topBtn-1 {
    display: block;
    margin: 0 auto;
  }

    .right-1,
    .right-2
    {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
}