/* section1 */
.section1{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  background-color: #f5f5f5;
}

.section-wrap{
  padding: 20px;
}

.top-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-btn button{
  width: 200px;
  height: 30px;
}

.top-btn .btn-1{
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
}

.top-btn .btn-2{
  background-color: skyblue;
  border: 1px solid #6cb3cf;
}

.table{
  margin-top: 20px;
  width: 100%;
  height: 200px;
  border: 1px solid #000;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  overflow-y:scroll;
}

thead {
  background: black;
  color:#fff;
}

thead tr {
  display: block;
}

tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100px;
}

th, td {
  padding: 5px;
  text-align: left;
  width: 200px;
}