/* header */
body{
  background-color: #e0e3eb;
  padding: 0 10px;
}

header{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 1rem;
}

.header-wrap{
  padding: 10px;
  margin-top: 10px;
}

.header-wrap .btn-wrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-wrap button{
  font-size: 12px;
  width: 100px;
  height: 50px;
  border-radius: 1.3px;
  transition: 0.5s;
  position: relative;
}

.btn-wrap button:first-child::after{
  content: '';
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.btn-wrap button:hover{
  font-weight: bold;
}

@media screen and (max-width:425px) {
  .btn-wrap button {
    font-size: 12px;
    width: 48%;
  }
}

/* section1 */

p{
  font-size: 12px;
  padding: 5px 2px;
  /* box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff; */
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
}

.section1 {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
}

.section-wrap {
  padding: 20px;
  margin-top: 20px;
}

button{
  width: 200px;
  height: 30px;
}

select,input{
  width: 100px;
  padding: 5px 0;
}

.top-btn button{
  width: 200px;
  height: 30px;
}

.top-btn .topBtn-1{
  position: relative;
  width: 100px;
  height: 50px;
  font-size: 12px;
}

.top-btn .topBtn-1::after{
  content: '';
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.rightBtn-1 {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.rightBtn-1:hover{
  background: #0038df;
}

.bottom-btn{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftBtn-1,
.leftBtn-2{
  width: 100px;
}

.table-wrap {
  height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  min-width: 1000px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot{
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
    height: 2rem;
    line-height: 1.8rem;
    background: #f1f1f1;
    text-align: center;
}

table td {
    padding: 0 0.1rem;
    height: 2rem;
    line-height: 1.8rem;
    border-bottom: 1px solid #e3e3e3;
}

.table tbody td button{
  width: 80px;
}

.caption{
  display: block;
  margin-top: 10px;
  text-align: right;
}

.left{
  display: flex;
  gap: 10px;
}

.left-1,
.right,
.right-1{
  display: flex;
  gap: 10px;
}


@media screen and (max-width:900px) {

  .left {
    display: flex;
    gap: 10px;
    flex-direction: column;
}


  .bottom-btn {
    margin: 20px 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
  }

  .bottom-btn .right {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

  button {
    width: 210px;
  }
}

@media screen and (max-width:425px) {


  .topBtn-1{
    display: block;
      margin: 0 auto;
  }
}


::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}