::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

p {
  font-size: 12px;
  padding: 5px 2px;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0;
  white-space: nowrap;
}

button {
  width: 120px;
  height: 30px;
}

.blueBtn {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
  border: none;
}

.color-red{
  color: red;
}

.color-blue{
  color: blue;
}

body {
  background-color: #e0e3eb;
}

.body-wrap {
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: start;
  justify-content: center;
}

.logo-wrap {
  text-align: center;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
}

.header-wrap {
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
}

.header-wrap .btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-wrap button {
  font-size: 12px;
  width: 100px;
  height: 50px;
  border-radius: 1.3px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
}

.btn-wrap button:hover {
  font-weight: bold;
  color: #fff;
  background-color: #0027b3;
}

.section1 {
  max-width: 1500px;
  width: 100%;
}

/* dayData */
.top-dayData {
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  background-color: #fff;
}

.dayData-total {
  display: flex;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
}

.dayData-text{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  border-left: 1px solid #f5f5f5;
  padding-left: 20px;
}

.total-list{
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrap{
  display: flex;
  gap: 20px;
}

.text-wrap h6,
.text-wrap p {
  display: inline;
  font-size: 12px;
  background-color: #fff;
  padding: 0;
}

.top-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.top-btn button {
  width: 120px;
  height: 30px;
}

.top-btn .btn-1 {
  position: relative;
  width: 100px;
  font-size: 12px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  padding: 0;
}

.top-btn .btn-1::after {
  content: "";
  background-color: #0027b3;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0rem;
  left: 50%;
  border-radius: 0.2rem;
  transform: translateX(-50%);
}

.top-btn .btn-2 {
  background: #0027b3;
  color: #fff;
  transition: 0.5s;
  border-radius: 0.5rem;
}

.top-btn .btn-2:hover {
  background: #0038df;
}

.main-content {
  margin-top: 20px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 1rem;
  height: 550px;
}

/* table */
.table-wrap {
  height: 400px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
  height: 2rem;
  line-height: 1.8rem;
  background: #f1f1f1;
  text-align: center;
  white-space: nowrap;
}
table td {
  padding: 0 0.1rem;
  height: 2rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #e3e3e3;
  white-space: nowrap;
}


@media screen and (max-width: 900px) {
  .dayData-total{
    flex-direction: column;
  }

  .text-wrap{
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .body-wrap {
    flex-direction: column;
  }

  header{
    display: flex;
    gap: 20px;
  }

  .header-wrap {
    margin-top: 0px;
  }

  .logo-wrap {
    height: auto;
    min-width: 100px;
  }

  .header-wrap .btn-wrap {
    flex-direction: row;
  }

  table th {
    padding: 0 20px;
  }
}

@media screen and (max-width: 425px) {
  .btn-wrap button {
    font-size: 12px;
    width: 48%;
  }

  .btn-wrap button{
    width: 100%;
  }

  .text-wrap p{
    text-align: left;
  }

  .text-wrap p,
  .displayB{
    display: block;
  }

}

