::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(186, 186, 186, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

body {
  background-color: #e5e5e5;
  width: 100%;
  height: 100vh;
}

p {
  font-size: 12px;
  width: 100px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
}

select,
input {
  width: 100px;
  padding: 5px 0;
  border: 1px solid #e5e5e5;
  height: 30px;
}

button {
  padding: 0 10px;
  height: 30px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: -1px -1px 1px 1px rgba(255, 255, 255, 0.2),
  1px 1px 1px 0px rgba(255, 255, 255, 0.2),
    2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.noBtn {
  background-color: #f5f5f5;
}

.colorBtn {
  background: #e5e5e5;
  transition: 0.5s;
  border: none;
}

.whiteBtn {
  border: 1px solid #e5e5e5;
  transition: 0.5s;
}

.color-red {
  color: tomato;
  font-weight: bold;
}

.color-blue {
  color: lightskyblue;
  font-weight: bold;
}

.color-yellow {
  color: orange;
  font-weight: bold;
}

.color-green {
  font-weight: bold;
  color: rgb(0, 209, 146);
}

.top-content .colorBox-red {
  background-color: tomato;
  color: #fff;
  border-radius: 8px;
  text-shadow: 1px 1px 2px black, 0 0 1px black;
}

.top-content .colorBox-blue {
  background-color: lightskyblue;
  color: #fff;
  border-radius: 8px;
  text-shadow: 1px 1px 2px black, 0 0 1px black;
}

.top-content .colorBox-green {
  color: #fff;
  background-color: rgb(0, 209, 146);
  border-radius: 8px;
  text-shadow: 1px 1px 2px black, 0 0 1px black;
}

.top-content .total-bg {
  background-color: #e5e5e5;
  border-radius: 8px;
  text-shadow: 1px 1px 2px black, 0 0 1px black;
}

.topText {
  font-weight: 400;
}

/* top */
.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu {
  padding: 0 20px;
  position: fixed;
  width: 100%;
  outline: 2px solid #eee;
  z-index: 888;
  background-color: #fff;
}

.title-wrap {
  width: 150px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-wrap h1 {
  font-size: 15px;
}

.mode-wrap img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.logo-wrap {
  width: 150px;
  height: 150px;
  position: relative;
  line-height: 150px;
  text-align: center;
}

header {
  width: 150px;
  position: fixed;
  z-index: 99;
  top: 120px;
  height: 100%;
}

.header-wrap {
  position: relative;
  height: 100%;
}

.header-title {
  text-align: center;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  box-shadow: -2px -3px 3px 1px rgba(255, 255, 255, 0.2);
  background-color: #f5f5f5;
}

.btn-container {
  margin-top: 5px;
  border-radius: 5px;
  height: 100%;
  background: #fff;
}

.header-wrap .btn-wrap {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-wrap {
  width: 150px;
}

.btn-wrap li {
  width: 100%;
  height: 30px;
  text-align: center;
}

.btn-wrap li button {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 12px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}

.menu-more {
  display: none;
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translateY(-50%);
  background: #fff;
  padding: 10px;
  color: #666;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* dayData */
.top-content {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 888;
  height: 110px;
}

.top-dayData {
  display: flex;
  box-sizing: border-box;
  padding: 10px 0;
  position: relative;
  z-index: 88;
}

.dayData-total {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

.dayData-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
  overflow: auto;
  height: 90px;
}

.dayData-total {
  display: flex;
  flex-direction: column;
}

.total-list-first {
  display: flex;
  gap: 5px;
}

.total-list-last {
  display: flex;
  gap: 5px;
}

.total-list-last .list-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.total-list p {
  border-radius: 0;
}

.total-list .list-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.list-item .item-title {
  width: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: 2;
}

.list-item .item-text {
  width: 25px;
  text-align: center;
  height: auto;
  line-height: 2;
}

.text-wrap {
  display: flex;
  flex-wrap: wrap;
}

.text-wrap h6 {
  display: inline;
  font-size: 12px;
  padding: 0;
  background-color: transparent;
}

.text-wrap p {
  display: inline;
  font-size: 12px;
  padding: 0;
  background-color: transparent;
  width: auto;
  margin-right: 10px;
  line-height: 2;
}

.mode-wrap {
  width: 40px;
  text-align: center;
  flex: 0 0 auto;
}

/* topLink */
.top-link {
  display: flex;
  flex-direction: row;
  padding-top: 110px;
  margin-left: 160px;
  font-weight: bold;
  align-items: flex-end;
  height: 145px;
  gap: 20px;
}

.top-link p {
  width: auto;
}

.link-wrap1 {
  display: flex;
  gap: 10px;
  flex-basis: 50%;
}

.link-wrap1 p {
  line-height: 1.8;
  height: auto;
}

.link-wrap2 {
  display: flex;
  flex-basis: 50%;
}

.link-title {
  border: 1px solid #333;
  padding: 0 10px;
  line-height: 1.8;
  height: auto;
}

.top-link .link-text {
  width: 100%;
  border: 1px solid #333;
  line-height: 1.8;
  height: auto;
  padding: 0 20px;
}

/* section1 */
.section1 {
  margin-left: 160px;
  /* height: 100%; */
}

.section-wrap {
  /* height: 100%; */
}

.top-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #fff;
}

.top-btn .title-btn {
  font-weight: bold;
  font-size: 16px;
  color: darkorange;
}

.bottom-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

.main-content {
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 10px;
}

/* table */
.table-wrap {
  max-height: 600px;
  width: 100%;
  overflow: auto;
}

.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.table thead {
  position: sticky;
  top: 0;
  height: 30px;
}

.table tfoot {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  height: 30px;
}

table th {
  height: 2rem;
  line-height: 1.8rem;
  background: #f1f1f1;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #e3e3e3;
}
table td {
  padding: 0 0.1rem;
  height: 2rem;
  line-height: 1.8rem;
  border: 1px solid #e3e3e3;
  white-space: nowrap;
}

.caption {
  display: block;
  text-align: right;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* dark */
body.dark {
  background: #000;
  color: #e3e3e3;
}

body.dark p {
  background-color: #181a20;
}

body.dark select,
body.dark input {
  background-color: #181a20;
  color: #e3e3e3;
  border: 1px solid #333;
}

body.dark .color-green {
  font-weight: bold;
  color: lightgreen;
}

body.dark .noBtn {
  border: 1px solid #333;
  color: #e3e3e3;
}

body.dark .colorBtn {
  background-color: #222327;
  color: #e3e3e3;
  font-size: 16px;
}

body.dark .whiteBtn {
  background-color: #333;
  color: #e3e3e3;
  border: none;
}

body.dark .top-menu {
  background: #181a20;
  color: #e3e3e3;
  outline: 2px solid #000;
}

body.dark .top-content {
  background: #181a20;
  color: #e3e3e3;
  box-shadow: inset 1px 1px 5px 5px rgba(255, 255, 255, 0.2);
}

body.dark header {
  color: #e3e3e3;
}

body.dark .header-title {
  background-color: #1f2027;
  box-shadow: -2px -3px 3px 1px rgba(255, 255, 255, 0.2);
}

body.dark .btn-container {
  background-color: #1f2027;
}

body.dark .btn-wrap li button {
  color: #fff;
  font-size: 12px;
  background-color: #2d2e35;
  box-shadow: -1px -1px 1px 1px rgba(255, 255, 255, 0.2);
}

body.dark .menu-more {
  background: #181a20;
  color: #e3e3e3;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

body.dark .header-wrap {
  margin-top: 0px;
  background-color: #000;
}

body.dark .top-btn {
  background-color: #2d2e35;
  box-shadow: inset 1px 1px 3px 1px rgba(255, 255, 255, 0.1);
}

body.dark .title-btn {
  background-color: #2d2e35;
}

body.dark .main-content {
  background-color: #222327;
}

body.dark .top-link p {
  background-color: transparent;
}

body.dark .section-wrap {
  color: #e3e3e3;
}

body.dark table {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #333;
}

body.dark th,
body.dark tfoot {
  background: #000;
  color: orange;
  border: 1px solid #333;
}

body.dark tbody td {
  background: #1f2027;
  border: 1px solid #333;
  border-bottom: 1px solid #333;
}

body.dark tfoot td {
  border: 1px solid #333;
}

@media screen and (max-width: 1621px) {
  .dayData-total {
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .top-link {
    padding-top: 115px;
    align-items: flex-start;
    height: 165px;
    gap: 0px;
    flex-direction: column;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .top-link {
    margin-left: 0px;
    padding: 20px;
    box-sizing: border-box;
  }

  .link-wrap1 {
    display: flex;
    gap: 0px;
    flex-direction: column;
  }

  .link-wrap1 p {
    text-align: left;
  }

  .link-wrap1 .main-link {
    margin-right: 10px;
  }

  .top-content {
    flex-direction: column;
    position: relative;
    z-index: 1;
    height: auto;
  }

  .title-wrap {
    height: 40px;
  }

  .dayData-total {
    flex-direction: row;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    margin-right: 0px;
    padding-bottom: 20px;
  }

  .top-dayData {
    flex-direction: column;
    gap: 0;
    margin-left: 0;
    height: 250px;
    padding: 20px;
    background-color: #fff;
  }

  .mode-wrap {
    position: absolute;
    top: 10px;
    right: 20px;
    width: auto;
    z-index: 999;
  }

  .total-list {
    flex-direction: row;
  }

  .dayData-text {
    justify-content: space-between;
    padding: 0;
    border-top: 1px solid #222;
    border-left: none;
    padding-top: 20px;
    height: 150px;
  }

  header {
    height: 100vh;
    transform: translateX(-150px);
    transition: 0.5s;
    top: 0;
  }

  header.active {
    z-index: 999;
    transform: translateX(0);
  }

  header {
    display: flex;
    gap: 20px;
  }

  .header-wrap {
    margin-top: 0px;
    background-color: #fff;
  }

  .menu-more {
    display: block;
  }

  .menu-bg {
    display: none;
    position: fixed;
    z-index: 88;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu-bg.active {
    display: block;
  }

  .section1 {
    margin-left: 0;
    padding: 0;
  }

  table th {
    padding: 0 20px;
  }

  body.dark .top-dayData {
    background: none;
  }
}

@media screen and (max-width: 425px) {
  .total-list-first,
  .total-list-last {
    justify-content: center;
  }

  .btn-container {
    overflow-y: hidden;
  }

  header.active .btn-container {
    overflow-y: auto;
  }

  .bottom-btn {
    justify-content: center;
  }

  .btn-wrap button {
    font-size: 12px;
    width: 48%;
  }

  .btn-wrap button {
    width: 100%;
  }

  .text-wrap p {
    text-align: left;
  }

  .text-wrap p,
  .displayB {
    height: 100%;
    line-height: 1.4;
  }

  .total-list .list-item {
    display: flex;
  }

  .dayData-total {
    flex-direction: column;
  }

  /* .table-wrap {
    height: 300px;
  } */
}
