/* section1 */
.section1{
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  background-color: #f5f5f5;
}

.section-wrap{
  padding: 20px;
}

button{
  width: 200px;
  height: 30px;
}

select,input{
  width: 100px;
  padding: 5px 0;
}


p{
  font-size: 12px;
  padding: 5px 2px;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
  background-color: #f5f5f5;
  width: 100px;
  text-align: center;
}


.top-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.leftBtn-1,
.leftBtn-2,
.rightBtn-1{
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
}

.rightBtn-2
{
  background-color: skyblue;
  border: 1px solid #6cb3cf;
  width: 100px;
}

.bottom-btn{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-btn,
.right-btn{
  display: flex;
  gap: 10px;
}

.leftBtn-1{
width: 120px;
}

.leftBtn-2{
  width: 100px;
}

.rightBtn-1{
  width: 120px;
}


.table-wrap {
  border: 1px solid #888;
  height: 300px;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  background-color: #fff;
}

.table {
  text-align: center;
  border: 1px solid #000000;
  width: 100%;
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
  min-width: 1000px;
}

.table thead {
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.table thead th {
  border: 1px solid #000;
}

.table tbody {
  background-color: #fff;
}

.table tbody tr {
  height: 30px;
}

.table tbody td {
  border: 1px solid #000;
}

.table tbody td button{
  width: 80px;
}

.table tfoot{
  position: sticky;
  bottom: 0;
  border: 1px solid #000;
  background-color: #f5f5f5;
  height: 30px;
}

.caption{
  display: block;
  margin-top: 10px;
  text-align: right;
}

.btn{
  display: flex;
  gap: 10px
}

@media screen and (max-width:1200px) {
  .top-btn {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .left-btn, .right-btn {
    display: flex;
    /* gap: 10px; */
    flex-direction: column;
  }
}