
.left{
  justify-content: flex-end;
}

.left,
.left-1,
.left-2,
.right,
.right-1,
.right-23,
.right-2,
.right-3 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-23 {
  flex-wrap: wrap;
}

.right-1 .btn {
  display: flex;
  gap: 10px;
}


@media screen and (max-width: 1325px) {
  .top-btn {
    flex-direction: column;
    align-items: flex-start;
  }

  .right {
    flex-direction: column;
    margin: 0;
  }

  .left {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }

  .bottom-btn .right {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

}

@media screen and (max-width: 1062px) {
  .bottom-btn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
}


@media screen and (max-width: 425px) {
  .bottom-btn {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .topBtn-1 {
    display: block;
    margin: 0 auto;
  }

  .bottom-btn .right {
      align-items: center;
  }

  .right-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-23 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
