@use "./abstacts/_variavles.scss" as *;

@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin laptopSmall {
  @media screen and (max-width: $breakpoint-laptopSmall) {
    @content;
  }
}
