@use "../abstacts/variavles" as *;
@use "../_mixin.scss" as *;

.section1 {
  background-color: $main-color;
  width: 100%;
  overflow: hidden;
  .section1-content1__wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.content-deco {
  .deco-1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-28%, -34%);
    animation: decoMove-1 9s ease-in-out alternate-reverse infinite forwards;
  }
  .deco-2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-27%, -49%);
    animation: decoMove-2 6s ease-in-out alternate-reverse infinite forwards;
  }
  .deco-3 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(30%, -16%);
    animation: decoMove-3 8s ease-in-out alternate-reverse infinite forwards;
  }
  .deco-4 {
    position: absolute;
    top: 16%;
    right: 0;
    transform: translateX(52%);
    animation: decoMove-4 7s ease-in-out alternate-reverse infinite forwards;
  }
}

.content1 {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 400px 20px 0;
  @include tablet {
    padding: 150px 20px 0;
  }
  .content1-title {
    color: #5f5d61;
    font-size: min(10vw,4rem);
    text-align: center;
    transition: all 0.5s;
    font-weight: lighter;
    animation: fadeInOut 1s;
  }
  .content1-video {
    animation: fadeInOut 1s 0.5s;
    position: relative;
    width: 100%;
    padding-top: 50px;
    transition: all 0.5s;
    .video-wrap {
      position: relative;
      max-width: 965px;
      margin: 0 auto;
      width: 100%;
      overflow: hidden;
      border-radius: 100px 0 0 0;
      height: auto;
      .video {
        width: 100%;
        aspect-ratio: 1633/919;
      }
      .video-more {
        position: absolute;
        left: 10px;
        bottom: 10px;
        text-align: center;
        line-height: 46px;
        font-size: 1.2rem;
        width: 120px;
        height: 46px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        color: rgba(255, 255, 255, 0.6);
        border-radius: 2px;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
          border: 1px solid #26262c;
          background: #26262c;
          color: #fff;
        }
      }
    }
    .video-text__1 {
      font-weight: 600;
      color: #e0ded1;
      font-size: min(8vw, 10rem);
      position: absolute;
      top: 120px;
      left: -55px;
      transform: rotate(90deg);
      transform-origin: bottom left;
      transition: all 0.8s 0.3s;
      opacity: 0;
      @include laptop {
        left: 0;
        top: 80px;
      }
    }
    .video-text__1.active{
      opacity: 0.7;
      transform: rotate(0deg);
    }
    .video-text__2 {
      font-weight: 600;
      color: #e0ded1;
      font-size: min(8vw, 10rem);
      position: absolute;
      bottom: 0;
      right: 25px;
      transform: rotate(-90deg);
      transform-origin: bottom right;
      opacity: 0;
      transition: all 0.8s;
      @include laptop {
        right: 0;
      }
    }
    .video-text__2.active{
      opacity: 0.7;
      transform: rotate(0deg);
    }
  }
  .content1-text {
    padding: 110px 0;
    color: #e0ded1;
    text-align: center;
    @include laptop {
      padding: 90px 0 40px;
    }
    @include mobile {
      padding: 60px 0 90px;
    }
    .text-1 {
      text-align: center;
      font-size: $font-size-s;
      font-weight: lighter;
      .text-1__all{
        display: block;
        transform: translateY(20px);
        opacity: 0;
        transition: all 0.8s;
      }
      .text-1__all.active{
        opacity: 0.4;
        transform: translateY(0);
      }
    }
    .text-2 {
      font-size: min(8vw, 8rem);
      padding: 60px 0;
      display: block;
      transition: all 0.8s;
      transform: perspective(400px) rotateX(-90deg);
      opacity: 0;
    }
    .text-2.active{
      opacity: 1;
      transform: perspective(400px) rotateX(0deg);
    }
    .text-3 {
      font-size: $font-size-s;
      opacity: 0;
    }
    .text-3.active{
      animation: rotateY 0.8s 0.5s forwards;
    }
  }
}

.content2 {
  max-width: 1550px;
  padding: 90px 20px 200px;
  margin: 0 auto;
  @include tablet {
    padding: 10px 20px 60px;
  }
  .content2-wrap {
    position: relative;
    min-height: 692px;
    width: 100%;
    @include laptopSmall {
      min-height: 350px;
    }
    @include mobile {
      min-height: 300px;
    }
    .content2-img__1 {
      position: absolute;
      bottom: 90px;
      z-index: 4;
      left: 0;
      @include laptopSmall {
        width: 33%;
      }
    }
    .content2-img__2 {
      position: absolute;
      bottom: 90px;
      z-index: 3;
      left: 20%;
      @include laptopSmall {
        left: 10%;
        width: 50%;
      }
    }
    .content2-img__3 {
      position: absolute;
      bottom: 90px;
      z-index: 2;
      right: 20%;
      @include laptopSmall {
        width: 30%;
        right: 15%;
      }
    }
    .content2-img__4 {
      position: absolute;
      bottom: 90px;
      z-index: 1;
      right: 0;
      @include laptopSmall {
        width: 30%;
      }
    }
  }
}

.section2 {
  width: 100%;
  .section2-wrap {
    width: 100%;
    padding: 0 110px 110px;
    max-width: 2125px;
    margin: 0 auto;
    display: flex;
    @include laptop {
      padding: 0 30px 40px;
    }
    @include tablet {
      display: block;
    }
    .content-left {
      flex: 1;
      width: 50%;
      padding: 0 30px;
      @include tablet {
        width: 100%;
        padding: 0;
      }
      .left-wrap {
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 120px;
        gap: 1vw;
        height: 100vh;
        @include tablet {
          display: block;
          height: auto;
          width: 50%;
          border-bottom: 1px solid #eee;
        }
        .left-caption {
          font-size: min(4vw, $font-size-xl);
          margin-left: min(4vw, 110px);
          @include laptop {
            margin-left: 0;
          }
          @include tablet{
            font-size: 6vw;
          }
        }
        .left-img {
          width: 90%;
          height: auto;
          margin: 0 auto;
          transition: all 0.5s;
          transform: translateX(-20px);
          opacity: 0;
          @include tablet {
            display: none;
          }
        }
        .left-img.active{
          opacity: 1;
          transform: translateX(0px);
        }
        .left-text__all{
          transition: all 0.5s;
          transform: translateX(-20px);
          opacity: 0;
          .left-title {
            margin-left: min(5vw, 110px);
            font-size: $font-size-s;
            @include laptop {
              margin-left: 0;
              margin: 20px 0;
            }
          }
          .left-text {
            margin-left: min(5vw, 110px);
            font-size: $font-size-s;
            @include laptop {
              margin-left: 0;
            }
            @include tablet {
              display: none;
            }
          }
        }
        .left-text__all.active{
          transform: translateX(0px);
          opacity: 1;
        }
      }
    }
    .content-right {
      flex: 1;
      width: 50%;
      @include tablet{
        width: 100%;
      }
      .right-wrap {
        padding: 600px 30px 0;
        @include tablet{
          padding: 10vw 0;
        }
        .product-list {
          .list-item {
            text-align: center;
            opacity: 0;
            transition: all 0.5s;
            transform: translateY(20px);
            .item-img {
              width: 100%;
            }
            .item-subTitle {
              margin-top: 1vw;
              font-size: $font-size-s;
            }
            .item-title {
              margin-top: 1vw;
              font-size: $font-size-s;
            }
            .item-text {
              margin-top: 1vw;
              font-size: 1.2rem;
              width: 100%;
              text-align: center;
              line-height: 20px;
              letter-spacing: -0.25px;
              color: #26262c;
              word-break: keep-all;
              span {
                display: block;
                @include laptop {
                  display: inline;
                }
              }
            }
          }
          .list-item__flex {
            display: flex;
            gap: 2vw;
            @include laptop {
              flex-direction: column;
            }
            .item-left {
              width: 50%;
              @include laptop {
                width: 100%;
              }
            }
            .item-right {
              width: 50%;
              @include laptop {
                width: 100%;
              }
            }
          }
          .list-item__2,
          .list-item__3 {
            margin: 5vw 0;
          }
          .list-item.active{
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }
    .button-more {
      margin: 5vw auto;
      display: block;
      padding: 20px;
      background: none;
      color: #26262c;
      border: 1px solid #26262c;
      transition: all 0.5s;
      opacity: 0;
      transform: translateY(20px);
      cursor: pointer;
      &:hover {
        color: #fff;
        background-color: #26262c;
      }
    }
    .button-more.active{
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.section3{
  background-image: url(../../image/sec3-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(20px);
  @include laptopSmall{
    height: auto;
  }
  .section3-wrap{
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    .medical-wrap{
      padding: 0 20px;
      max-width: 850px;
      position: absolute;
      right: 0;
      width: 100%;
      display: flex;
      bottom: -10%;
      @include laptopSmall{
        position: relative;
        padding: 50px 0;
      }
      @include tablet{
        position: relative;
        top: auto;
        bottom: auto;
      }
      .medical-text{
        width: 50%;
        padding: 190px 20px 0;
        @include tablet{
          width: 100%;
          padding: 40px;
        }
        .medical-title{
          color: #fff;
          font-size: $font-size-s;
          padding-bottom: 20px;
          border-bottom: 1px solid #aaa;
          text-align: center;
        }
        .medical-list{
          padding-top: 20px;
          .list-item{
            margin: 25px 0;
            a{
              margin-left: 20px;
              width: calc(100% - 20px);
              display: inline-block;
              color: #fff;
              font-size: $font-size-s;
              padding: 4px 12px;
              border-bottom: 1px solid transparent;
              transition: all 0.2s;
              &:hover{
                border-bottom: 1px solid #aaa;
              }
            }
          }
          .item-1{
            position: relative;
            &:hover span{
              transform: translateY(-50%) rotate(360deg);
            }
            span{
              display: inline-block;
              width: 20px;
              height: 28px;
              background: #e0ded1;
              transition: 0.4s;
              border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%) rotate(326deg);
            }
          }
          .item-2{
            position: relative;
            &:hover span{
              transform: translateY(-50%) rotate(360deg);
            }
            span{
              display: inline-block;
              width: 20px;
              height: 28px;
              background: #dfd284;
              transition: 0.4s;
              border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%) rotate(315deg);
            }
          }
          .item-3{
            position: relative;
            &:hover span{
              transform: translateY(-50%) rotate(0deg);
            }
            span{
              display: inline-block;
              width: 20px;
              height: 28px;
              background: #d5a357;
              transition: 0.4s;
              border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%) rotate(40deg);
            }
          }
          .item-4{
            position: relative;
            &:hover span{
              transform: translateY(-50%) rotate(0deg);
            }
            span{
              display: inline-block;
              width: 20px;
              height: 28px;
              background: #d1b0a0;
              transition: 0.4s;
              border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%) rotate(90deg);
            }
          }
          .item-5{
            position: relative;
            &:hover span{
              transform: translateY(-50%) rotate(0deg);
            }
            span{
              display: inline-block;
              width: 20px;
              height: 28px;
              background: #c06673;
              transition: 0.4s;
              border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%) rotate(130deg);
            }
          }
          .item-6{
            position: relative;
            &:hover span{
              transform: translateY(-50%) rotate(0deg);
            }
            span{
              display: inline-block;
              width: 20px;
              height: 28px;
              background: #b03e25;
              transition: 0.4s;
              border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
      }
      .medical-images{
        position: relative;
        width: 60%;
        padding: 20px 4px;
        @include tablet{
          display: none;
        }
        .medical-deco{
          position: absolute;
          top: 0;
          left: -35px;
          transform: rotate(350deg);
          animation-name: decoText;
          animation-duration: 6s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: ease-in-out;
        }
        .medical-img{
          overflow: hidden;
          border-radius: 240px 240px 0 0 ;
        }
      }
    }
  }
}
.section3.active{
  opacity: 1;
  transform: translateY(0);
}

.section4{
  width: 100%;
  .section4-wrap{
    max-width: 1450px;
    margin: 0 auto;
    width: 100%;
    padding: 330px 20px 180px;
    text-align: center;
    @include tablet{
      padding: 180px 20px;
    }
    .section4-title{
    font-size: min(6vw,3rem);
    opacity: 0;
    transition: all 0.5s;  
    }
    .section4-subTitle{
      font-size: min(4vw,$font-size-s);
      color: #999999;
      margin: 20px 0 60px;
      opacity: 0;
      transition: all 0.5s;
      transform: translateY(20px); 
    }
    .section4-text{
      font-size: $font-size-s;
      color: #999999;
      opacity: 0;
      transition: all 0.5s;
      transform: translateY(20px); 
      span {
        display: block;
        @include tablet{
          display: inline;
        }
      }
    }
    .section4-title.active{
      opacity: 1;
    }
    .section4-subTitle.active{
      opacity: 0.5;
      transform: translateY(0);
    }
    .section4-text.active{
      opacity: 1;
      transform: translateY(0);
    }
    .space-swiper{
      margin-top: 100px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      opacity: 0;
      transition: all 0.5s 0.5s;
      .swiper-wrapper{
        .list-item{
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
      .swiper-button-prev,
      .swiper-button-next{
        color: #fff;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #fff;
        i{
          font-size: 20px;
        }
      }
      .swiper-button-prev::after,
      .swiper-button-next::after{
        display: none;
      }
    }
    .space-swiper.active{
      opacity: 1;
    }
  }
}

.footer{
  .footer-wrap{
    width: 100%;
    max-width: 1860px;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include tablet{
      flex-direction: column;
      padding: 0 20px;
    }
    .footer1{
      padding: 25px 5px;
      border-top: 1px solid #bdbdbf;
      width: 33.3%;
      @include tablet{
        width: 100%;
      }
      .footer1-logo{
        max-width: 155px;
      }
      .footer1-text{
        padding-top: 25px ;
        opacity: 0.6;
        font-size: $font-size-s;
      }
    }
    .footer2{
      padding: 25px 5px;
      border-top: 1px solid #bdbdbf;
      width: 33.3%;
      @include tablet{
        width: 100%;
      }
      .footer2-title{
        font-weight: bold;
        font-size: $font-size-s;
      }
      .footer2-time1{
        font-size: $font-size-s;
        padding-top: 25px;
        .time-day{
          font-weight: bold;
          font-size: $font-size-s;
        }
        .time-time{
          color: #ca412f;
          font-weight: bold;
        }
        .time-lunch{
          opacity: 0.6;
          @include mobile{
            display: block;
          }
        }
      }
      .footer2-time2{
        font-size: $font-size-s;
        .time-day{
          font-weight: bold;
          font-size: $font-size-s;
        }
        .time-time{
          color: #ca412f;
          font-weight: bold;
        }
        .time-lunch{
          opacity: 0.6;
          @include mobile{
            display: block;
          }
        }
      }
      .footer2-time3{
        font-size: $font-size-s;
        margin-top: 10px;
      }
    }
    .footer3{
      padding: 25px 5px;
      border-top: 1px solid #bdbdbf;
      width: 33.3%;
      @include tablet{
        width: 100%;
      }
      .footer3-title{
        font-weight: bold;
        font-size: $font-size-s;
      }
      address{
        margin-top: 25px;
        p{
          font-style: normal;
          font-size: $font-size-s;
        }
      }
      a{
        margin-top: 10px;
        display: inline-block;
        font-size: 1rem;
        opacity: 0.6;
        border-bottom: 1px solid #bdbdbf;
      }
      .footer3-button1{
        margin-right: 10px;
      }
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes decoMove-1 {
  0% {
    transform: translate(-28%, -34%);
  }
  50% {
    transform: translate(-30%, -29%);
  }
  100% {
    transform: translate(-25%, -30%);
  }
}

@keyframes decoMove-2 {
  0% {
    transform: translate(-27%, -49%);
  }
  50% {
    transform: translate(-27%, -45%);
  }
  100% {
    transform: translate(-31%, -47%);
  }
}

@keyframes decoMove-3 {
  0% {
    transform: translate(30%, -16%);
  }
  50% {
    transform: translate(28%, -16%);
  }
  100% {
    transform: translate(29%, -18%);
  }
}

@keyframes decoMove-4 {
  0% {
    top: 16%;
    transform: translateX(52%);
  }
  50% {
    top: 14%;
    transform: translateX(50%);
  }
  100% {
    top: 13%;
    transform: translateX(50%);
  }
}

@keyframes decoText {
  0% {
    top: 0px;
    left: -35px;
  }
  50% {
    top: -30px;
    left: 5px;
    transform: rotate(365deg);
  }
  100% {
    top: 0px;
    left: -35px;
  }
}

@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(90deg);
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}