.section1 {
  background-color: #26262c;
  width: 100%;
  overflow: hidden;
}
.section1 .section1-content1__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-deco .deco-1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-28%, -34%);
  animation: decoMove-1 9s ease-in-out alternate-reverse infinite forwards;
}
.content-deco .deco-2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-27%, -49%);
  animation: decoMove-2 6s ease-in-out alternate-reverse infinite forwards;
}
.content-deco .deco-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, -16%);
  animation: decoMove-3 8s ease-in-out alternate-reverse infinite forwards;
}
.content-deco .deco-4 {
  position: absolute;
  top: 16%;
  right: 0;
  transform: translateX(52%);
  animation: decoMove-4 7s ease-in-out alternate-reverse infinite forwards;
}

.content1 {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 400px 20px 0;
}
@media screen and (max-width: 768px) {
  .content1 {
    padding: 150px 20px 0;
  }
}
.content1 .content1-title {
  color: #5f5d61;
  font-size: min(10vw, 4rem);
  text-align: center;
  transition: all 0.5s;
  font-weight: lighter;
  animation: fadeInOut 1s;
}
.content1 .content1-video {
  animation: fadeInOut 1s 0.5s;
  position: relative;
  width: 100%;
  padding-top: 50px;
  transition: all 0.5s;
}
.content1 .content1-video .video-wrap {
  position: relative;
  max-width: 965px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  border-radius: 100px 0 0 0;
  height: auto;
}
.content1 .content1-video .video-wrap .video {
  width: 100%;
  aspect-ratio: 1633/919;
}
.content1 .content1-video .video-wrap .video-more {
  position: absolute;
  left: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 46px;
  font-size: 1.2rem;
  width: 120px;
  height: 46px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  transition: all 0.5s;
  cursor: pointer;
}
.content1 .content1-video .video-wrap .video-more:hover {
  border: 1px solid #26262c;
  background: #26262c;
  color: #fff;
}
.content1 .content1-video .video-text__1 {
  font-weight: 600;
  color: #e0ded1;
  font-size: min(8vw, 10rem);
  position: absolute;
  top: 120px;
  left: -55px;
  transform: rotate(90deg);
  transform-origin: bottom left;
  transition: all 0.8s 0.3s;
  opacity: 0;
}
@media screen and (max-width: 1024px) {
  .content1 .content1-video .video-text__1 {
    left: 0;
    top: 80px;
  }
}
.content1 .content1-video .video-text__1.active {
  opacity: 0.7;
  transform: rotate(0deg);
}
.content1 .content1-video .video-text__2 {
  font-weight: 600;
  color: #e0ded1;
  font-size: min(8vw, 10rem);
  position: absolute;
  bottom: 0;
  right: 25px;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  opacity: 0;
  transition: all 0.8s;
}
@media screen and (max-width: 1024px) {
  .content1 .content1-video .video-text__2 {
    right: 0;
  }
}
.content1 .content1-video .video-text__2.active {
  opacity: 0.7;
  transform: rotate(0deg);
}
.content1 .content1-text {
  padding: 110px 0;
  color: #e0ded1;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .content1 .content1-text {
    padding: 90px 0 40px;
  }
}
@media screen and (max-width: 420px) {
  .content1 .content1-text {
    padding: 60px 0 90px;
  }
}
.content1 .content1-text .text-1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
}
.content1 .content1-text .text-1 .text-1__all {
  display: block;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.8s;
}
.content1 .content1-text .text-1 .text-1__all.active {
  opacity: 0.4;
  transform: translateY(0);
}
.content1 .content1-text .text-2 {
  font-size: min(8vw, 8rem);
  padding: 60px 0;
  display: block;
  transition: all 0.8s;
  transform: perspective(400px) rotateX(-90deg);
  opacity: 0;
}
.content1 .content1-text .text-2.active {
  opacity: 1;
  transform: perspective(400px) rotateX(0deg);
}
.content1 .content1-text .text-3 {
  font-size: 1.5rem;
  opacity: 0;
}
.content1 .content1-text .text-3.active {
  animation: rotateY 0.8s 0.5s forwards;
}

.content2 {
  max-width: 1550px;
  padding: 90px 20px 200px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .content2 {
    padding: 10px 20px 60px;
  }
}
.content2 .content2-wrap {
  position: relative;
  min-height: 692px;
  width: 100%;
}
@media screen and (max-width: 990px) {
  .content2 .content2-wrap {
    min-height: 350px;
  }
}
@media screen and (max-width: 420px) {
  .content2 .content2-wrap {
    min-height: 300px;
  }
}
.content2 .content2-wrap .content2-img__1 {
  position: absolute;
  bottom: 90px;
  z-index: 4;
  left: 0;
}
@media screen and (max-width: 990px) {
  .content2 .content2-wrap .content2-img__1 {
    width: 33%;
  }
}
.content2 .content2-wrap .content2-img__2 {
  position: absolute;
  bottom: 90px;
  z-index: 3;
  left: 20%;
}
@media screen and (max-width: 990px) {
  .content2 .content2-wrap .content2-img__2 {
    left: 10%;
    width: 50%;
  }
}
.content2 .content2-wrap .content2-img__3 {
  position: absolute;
  bottom: 90px;
  z-index: 2;
  right: 20%;
}
@media screen and (max-width: 990px) {
  .content2 .content2-wrap .content2-img__3 {
    width: 30%;
    right: 15%;
  }
}
.content2 .content2-wrap .content2-img__4 {
  position: absolute;
  bottom: 90px;
  z-index: 1;
  right: 0;
}
@media screen and (max-width: 990px) {
  .content2 .content2-wrap .content2-img__4 {
    width: 30%;
  }
}

.section2 {
  width: 100%;
}
.section2 .section2-wrap {
  width: 100%;
  padding: 0 110px 110px;
  max-width: 2125px;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .section2 .section2-wrap {
    padding: 0 30px 40px;
  }
}
@media screen and (max-width: 768px) {
  .section2 .section2-wrap {
    display: block;
  }
}
.section2 .section2-wrap .content-left {
  flex: 1;
  width: 50%;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .section2 .section2-wrap .content-left {
    width: 100%;
    padding: 0;
  }
}
.section2 .section2-wrap .content-left .left-wrap {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 120px;
  gap: 1vw;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .section2 .section2-wrap .content-left .left-wrap {
    display: block;
    height: auto;
    width: 50%;
    border-bottom: 1px solid #eee;
  }
}
.section2 .section2-wrap .content-left .left-wrap .left-caption {
  font-size: min(4vw, 4.8rem);
  margin-left: min(4vw, 110px);
}
@media screen and (max-width: 1024px) {
  .section2 .section2-wrap .content-left .left-wrap .left-caption {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .section2 .section2-wrap .content-left .left-wrap .left-caption {
    font-size: 6vw;
  }
}
.section2 .section2-wrap .content-left .left-wrap .left-img {
  width: 90%;
  height: auto;
  margin: 0 auto;
  transition: all 0.5s;
  transform: translateX(-20px);
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .section2 .section2-wrap .content-left .left-wrap .left-img {
    display: none;
  }
}
.section2 .section2-wrap .content-left .left-wrap .left-img.active {
  opacity: 1;
  transform: translateX(0px);
}
.section2 .section2-wrap .content-left .left-wrap .left-text__all {
  transition: all 0.5s;
  transform: translateX(-20px);
  opacity: 0;
}
.section2 .section2-wrap .content-left .left-wrap .left-text__all .left-title {
  margin-left: min(5vw, 110px);
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .section2 .section2-wrap .content-left .left-wrap .left-text__all .left-title {
    margin-left: 0;
    margin: 20px 0;
  }
}
.section2 .section2-wrap .content-left .left-wrap .left-text__all .left-text {
  margin-left: min(5vw, 110px);
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .section2 .section2-wrap .content-left .left-wrap .left-text__all .left-text {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .section2 .section2-wrap .content-left .left-wrap .left-text__all .left-text {
    display: none;
  }
}
.section2 .section2-wrap .content-left .left-wrap .left-text__all.active {
  transform: translateX(0px);
  opacity: 1;
}
.section2 .section2-wrap .content-right {
  flex: 1;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .section2 .section2-wrap .content-right {
    width: 100%;
  }
}
.section2 .section2-wrap .content-right .right-wrap {
  padding: 600px 30px 0;
}
@media screen and (max-width: 768px) {
  .section2 .section2-wrap .content-right .right-wrap {
    padding: 10vw 0;
  }
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item {
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(20px);
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item .item-img {
  width: 100%;
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item .item-subTitle {
  margin-top: 1vw;
  font-size: 1.5rem;
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item .item-title {
  margin-top: 1vw;
  font-size: 1.5rem;
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item .item-text {
  margin-top: 1vw;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #26262c;
  word-break: keep-all;
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item .item-text span {
  display: block;
}
@media screen and (max-width: 1024px) {
  .section2 .section2-wrap .content-right .right-wrap .product-list .list-item .item-text span {
    display: inline;
  }
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item__flex {
  display: flex;
  gap: 2vw;
}
@media screen and (max-width: 1024px) {
  .section2 .section2-wrap .content-right .right-wrap .product-list .list-item__flex {
    flex-direction: column;
  }
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item__flex .item-left {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .section2 .section2-wrap .content-right .right-wrap .product-list .list-item__flex .item-left {
    width: 100%;
  }
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item__flex .item-right {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .section2 .section2-wrap .content-right .right-wrap .product-list .list-item__flex .item-right {
    width: 100%;
  }
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item__2,
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item__3 {
  margin: 5vw 0;
}
.section2 .section2-wrap .content-right .right-wrap .product-list .list-item.active {
  opacity: 1;
  transform: translateY(0px);
}
.section2 .section2-wrap .button-more {
  margin: 5vw auto;
  display: block;
  padding: 20px;
  background: none;
  color: #26262c;
  border: 1px solid #26262c;
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(20px);
  cursor: pointer;
}
.section2 .section2-wrap .button-more:hover {
  color: #fff;
  background-color: #26262c;
}
.section2 .section2-wrap .button-more.active {
  opacity: 1;
  transform: translateY(0px);
}

.section3 {
  background-image: url(../../image/sec3-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(20px);
}
@media screen and (max-width: 990px) {
  .section3 {
    height: auto;
  }
}
.section3 .section3-wrap {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}
.section3 .section3-wrap .medical-wrap {
  padding: 0 20px;
  max-width: 850px;
  position: absolute;
  right: 0;
  width: 100%;
  display: flex;
  bottom: -10%;
}
@media screen and (max-width: 990px) {
  .section3 .section3-wrap .medical-wrap {
    position: relative;
    padding: 50px 0;
  }
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .medical-wrap {
    position: relative;
    top: auto;
    bottom: auto;
  }
}
.section3 .section3-wrap .medical-wrap .medical-text {
  width: 50%;
  padding: 190px 20px 0;
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .medical-wrap .medical-text {
    width: 100%;
    padding: 40px;
  }
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-title {
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
  text-align: center;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list {
  padding-top: 20px;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .list-item {
  margin: 25px 0;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .list-item a {
  margin-left: 20px;
  width: calc(100% - 20px);
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  padding: 4px 12px;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .list-item a:hover {
  border-bottom: 1px solid #aaa;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-1 {
  position: relative;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-1:hover span {
  transform: translateY(-50%) rotate(360deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-1 span {
  display: inline-block;
  width: 20px;
  height: 28px;
  background: #e0ded1;
  transition: 0.4s;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(326deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-2 {
  position: relative;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-2:hover span {
  transform: translateY(-50%) rotate(360deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-2 span {
  display: inline-block;
  width: 20px;
  height: 28px;
  background: #dfd284;
  transition: 0.4s;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(315deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-3 {
  position: relative;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-3:hover span {
  transform: translateY(-50%) rotate(0deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-3 span {
  display: inline-block;
  width: 20px;
  height: 28px;
  background: #d5a357;
  transition: 0.4s;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(40deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-4 {
  position: relative;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-4:hover span {
  transform: translateY(-50%) rotate(0deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-4 span {
  display: inline-block;
  width: 20px;
  height: 28px;
  background: #d1b0a0;
  transition: 0.4s;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-5 {
  position: relative;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-5:hover span {
  transform: translateY(-50%) rotate(0deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-5 span {
  display: inline-block;
  width: 20px;
  height: 28px;
  background: #c06673;
  transition: 0.4s;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(130deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-6 {
  position: relative;
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-6:hover span {
  transform: translateY(-50%) rotate(0deg);
}
.section3 .section3-wrap .medical-wrap .medical-text .medical-list .item-6 span {
  display: inline-block;
  width: 20px;
  height: 28px;
  background: #b03e25;
  transition: 0.4s;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}
.section3 .section3-wrap .medical-wrap .medical-images {
  position: relative;
  width: 60%;
  padding: 20px 4px;
}
@media screen and (max-width: 768px) {
  .section3 .section3-wrap .medical-wrap .medical-images {
    display: none;
  }
}
.section3 .section3-wrap .medical-wrap .medical-images .medical-deco {
  position: absolute;
  top: 0;
  left: -35px;
  transform: rotate(350deg);
  animation-name: decoText;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.section3 .section3-wrap .medical-wrap .medical-images .medical-img {
  overflow: hidden;
  border-radius: 240px 240px 0 0;
}

.section3.active {
  opacity: 1;
  transform: translateY(0);
}

.section4 {
  width: 100%;
}
.section4 .section4-wrap {
  max-width: 1450px;
  margin: 0 auto;
  width: 100%;
  padding: 330px 20px 180px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section4 .section4-wrap {
    padding: 180px 20px;
  }
}
.section4 .section4-wrap .section4-title {
  font-size: min(6vw, 3rem);
  opacity: 0;
  transition: all 0.5s;
}
.section4 .section4-wrap .section4-subTitle {
  font-size: min(4vw, 1.5rem);
  color: #999999;
  margin: 20px 0 60px;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(20px);
}
.section4 .section4-wrap .section4-text {
  font-size: 1.5rem;
  color: #999999;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(20px);
}
.section4 .section4-wrap .section4-text span {
  display: block;
}
@media screen and (max-width: 768px) {
  .section4 .section4-wrap .section4-text span {
    display: inline;
  }
}
.section4 .section4-wrap .section4-title.active {
  opacity: 1;
}
.section4 .section4-wrap .section4-subTitle.active {
  opacity: 0.5;
  transform: translateY(0);
}
.section4 .section4-wrap .section4-text.active {
  opacity: 1;
  transform: translateY(0);
}
.section4 .section4-wrap .space-swiper {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: all 0.5s 0.5s;
}
.section4 .section4-wrap .space-swiper .swiper-wrapper .list-item {
  width: 100%;
}
.section4 .section4-wrap .space-swiper .swiper-wrapper .list-item img {
  width: 100%;
}
.section4 .section4-wrap .space-swiper .swiper-button-prev,
.section4 .section4-wrap .space-swiper .swiper-button-next {
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.section4 .section4-wrap .space-swiper .swiper-button-prev i,
.section4 .section4-wrap .space-swiper .swiper-button-next i {
  font-size: 20px;
}
.section4 .section4-wrap .space-swiper .swiper-button-prev::after,
.section4 .section4-wrap .space-swiper .swiper-button-next::after {
  display: none;
}
.section4 .section4-wrap .space-swiper.active {
  opacity: 1;
}

.footer .footer-wrap {
  width: 100%;
  max-width: 1860px;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrap {
    flex-direction: column;
    padding: 0 20px;
  }
}
.footer .footer-wrap .footer1 {
  padding: 25px 5px;
  border-top: 1px solid #bdbdbf;
  width: 33.3%;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrap .footer1 {
    width: 100%;
  }
}
.footer .footer-wrap .footer1 .footer1-logo {
  max-width: 155px;
}
.footer .footer-wrap .footer1 .footer1-text {
  padding-top: 25px;
  opacity: 0.6;
  font-size: 1.5rem;
}
.footer .footer-wrap .footer2 {
  padding: 25px 5px;
  border-top: 1px solid #bdbdbf;
  width: 33.3%;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrap .footer2 {
    width: 100%;
  }
}
.footer .footer-wrap .footer2 .footer2-title {
  font-weight: bold;
  font-size: 1.5rem;
}
.footer .footer-wrap .footer2 .footer2-time1 {
  font-size: 1.5rem;
  padding-top: 25px;
}
.footer .footer-wrap .footer2 .footer2-time1 .time-day {
  font-weight: bold;
  font-size: 1.5rem;
}
.footer .footer-wrap .footer2 .footer2-time1 .time-time {
  color: #ca412f;
  font-weight: bold;
}
.footer .footer-wrap .footer2 .footer2-time1 .time-lunch {
  opacity: 0.6;
}
@media screen and (max-width: 420px) {
  .footer .footer-wrap .footer2 .footer2-time1 .time-lunch {
    display: block;
  }
}
.footer .footer-wrap .footer2 .footer2-time2 {
  font-size: 1.5rem;
}
.footer .footer-wrap .footer2 .footer2-time2 .time-day {
  font-weight: bold;
  font-size: 1.5rem;
}
.footer .footer-wrap .footer2 .footer2-time2 .time-time {
  color: #ca412f;
  font-weight: bold;
}
.footer .footer-wrap .footer2 .footer2-time2 .time-lunch {
  opacity: 0.6;
}
@media screen and (max-width: 420px) {
  .footer .footer-wrap .footer2 .footer2-time2 .time-lunch {
    display: block;
  }
}
.footer .footer-wrap .footer2 .footer2-time3 {
  font-size: 1.5rem;
  margin-top: 10px;
}
.footer .footer-wrap .footer3 {
  padding: 25px 5px;
  border-top: 1px solid #bdbdbf;
  width: 33.3%;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrap .footer3 {
    width: 100%;
  }
}
.footer .footer-wrap .footer3 .footer3-title {
  font-weight: bold;
  font-size: 1.5rem;
}
.footer .footer-wrap .footer3 address {
  margin-top: 25px;
}
.footer .footer-wrap .footer3 address p {
  font-style: normal;
  font-size: 1.5rem;
}
.footer .footer-wrap .footer3 a {
  margin-top: 10px;
  display: inline-block;
  font-size: 1rem;
  opacity: 0.6;
  border-bottom: 1px solid #bdbdbf;
}
.footer .footer-wrap .footer3 .footer3-button1 {
  margin-right: 10px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes decoMove-1 {
  0% {
    transform: translate(-28%, -34%);
  }
  50% {
    transform: translate(-30%, -29%);
  }
  100% {
    transform: translate(-25%, -30%);
  }
}
@keyframes decoMove-2 {
  0% {
    transform: translate(-27%, -49%);
  }
  50% {
    transform: translate(-27%, -45%);
  }
  100% {
    transform: translate(-31%, -47%);
  }
}
@keyframes decoMove-3 {
  0% {
    transform: translate(30%, -16%);
  }
  50% {
    transform: translate(28%, -16%);
  }
  100% {
    transform: translate(29%, -18%);
  }
}
@keyframes decoMove-4 {
  0% {
    top: 16%;
    transform: translateX(52%);
  }
  50% {
    top: 14%;
    transform: translateX(50%);
  }
  100% {
    top: 13%;
    transform: translateX(50%);
  }
}
@keyframes decoText {
  0% {
    top: 0px;
    left: -35px;
  }
  50% {
    top: -30px;
    left: 5px;
    transform: rotate(365deg);
  }
  100% {
    top: 0px;
    left: -35px;
  }
}
@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(90deg);
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */