@use "../abstacts/variavles" as *;
@use "../_mixin.scss" as *;

.section1 {
  width: 100%;
  overflow: hidden;
  .section1-wrap {
    position: relative;
    width: 100%;
    height: auto;
  }
}

.content-deco {
  opacity: 0.1;
  .deco-1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-28%, -34%);
    animation: decoMove-1 9s ease-in-out alternate-reverse infinite forwards;
  }
  .deco-2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-27%, -49%);
    animation: decoMove-2 6s ease-in-out alternate-reverse infinite forwards;
  }
  .deco-3 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(30%, -16%);
    animation: decoMove-3 8s ease-in-out alternate-reverse infinite forwards;
  }
  .deco-4 {
    position: absolute;
    top: 16%;
    right: 0;
    transform: translateX(52%);
    animation: decoMove-4 7s ease-in-out alternate-reverse infinite forwards;
  }
}

.content1-wrap {
  padding: 240px 20px;
  @include tablet {
    padding: 180px 20px 120px;
  }
  .content-text {
    .content-title {
      padding-top: 140px;
      text-align: center;
      font-size: min(10vw, 5rem);
      color: #26262c;
      font-weight: lighter;
    }
    .content-subTitle {
      margin: 90px 0 35px;
      text-align: center;
      font-size: $font-size-l;
    }
    .content-text {
      text-align: center;
      font-size: clamp(1rem, 2.5vw, 1.5rem);
      color: #999999;
      word-break: keep-all;
      span {
        display: block;
        @include tablet {
          display: inline;
        }
      }
    }
  }
}

.content2-wrap {
  position: relative;
  width: 100%;
  padding: 30px 40px;
  background: #2f2f2f;
  overflow: hidden;
  display: flex;
  overflow: hidden;
  @include tablet{
    padding: 0;
  }
  .content2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include tablet {
      flex-direction: column-reverse;
    }
    .img-wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      @include tablet{
        position: relative;
      }
      img {
        vertical-align: top;
        width: 90%;
      }
    }
    .text-wrap {
      color: #fff;
      width: 40%;
      padding: 200px 150px 50px 20px;
      position: relative;
      z-index: 1;
      @include laptop {
        width: 50%;
        padding: 90px 40px;
      }
      @include tablet{
        width: 100%;
        padding: 40px 20px 0;
      }
      .text-title {
        font-size: 4rem;
        font-weight: lighter;
        @include tablet{
          text-align: center;
        }
      }
      .subject-list {
        width: 100%;
        .list-item {
          padding-left: 23px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          margin-top: 70px;
          @include tablet{
            margin-top: 50px;
          }
          .item-title {
            font-size: $font-size-l;
          }
          .item-subTitle {
            font-size: clamp(1rem, 2.5vw, 1.5rem);
          }
          .item-text {
            margin-top: 24px;
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            span {
              display: block;
              @include tablet{
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}

.section2{
  width: 100%;
  .section2-wrap{
    max-width: 1046px;
    margin: 0 auto;
    padding: 90px 0;
    position: relative;
    .section2-title{
      text-align: center;
      font-size: 3rem;
    }
    .section2-content{
      .content-list{
        display: flex;
        flex-wrap: wrap;
        .list-item{
          width: 50%;
          @include tablet{
            width: 100%;
          }
          .item-img{
            width: 100%;
            height: 80px;
            text-align: center;
            img{}
          }
          .item-title{}
          .item-text{}
        }
      }
    }
  }
}

@keyframes decoMove-1 {
  0% {
    transform: translate(-28%, -34%);
  }
  50% {
    transform: translate(-30%, -29%);
  }
  100% {
    transform: translate(-25%, -30%);
  }
}

@keyframes decoMove-2 {
  0% {
    transform: translate(-27%, -49%);
  }
  50% {
    transform: translate(-27%, -45%);
  }
  100% {
    transform: translate(-31%, -47%);
  }
}

@keyframes decoMove-3 {
  0% {
    transform: translate(30%, -16%);
  }
  50% {
    transform: translate(28%, -16%);
  }
  100% {
    transform: translate(29%, -18%);
  }
}

@keyframes decoMove-4 {
  0% {
    top: 16%;
    transform: translateX(52%);
  }
  50% {
    top: 14%;
    transform: translateX(50%);
  }
  100% {
    top: 13%;
    transform: translateX(50%);
  }
}
