/* header */
header {
  background-image: url(../asset/images/section-bg.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #111;
}

.header-wrap {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header p {
  font-size: var(--font-size-l);
  color: #fff;
  white-space: nowrap;
}

header h1 {
  font-size: var(--font-size-100);
  color: #fff;
  white-space: nowrap;
}

/* section1 */
.section1 {
  width: 100%;
  height: 100%;
  background-color: #111111;
}

.section1-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.section1-text {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.section1 .text-subTitle {
  color: #eee;
  font-size: var(--font-size-m);
  word-break: keep-all;
}

.section1 .text-content {
  color: #fff;
  font-size: var(--font-size-s);
  word-break: keep-all;
  margin-top: 8px;
}

.section1 .text-b {
  color: #eee;
  font-size: var(--font-size-m);
  word-break: keep-all;
  margin-top: 20px;
  display: block;
  line-height: 2;
}

.section1 .text-b span {
  position: relative;
  z-index: 1;
}

.section1 .text-b span::before {
  content: "";
  width: min(1vw, 5px);
  height: min(1vw, 5px);
  background-color: #eee;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section1 .text-b span::after {
  content: "";
  width: 100%;
  height: 50%;
  background-color: var(--main-color-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.section1 .section1-title {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.section1 .section1-title p {
  font-size: min(4vw, 4rem);
  text-align: center;
  color: #eee;
  flex: 0 0 auto;
}

.section1-content .content-2,
.section1-content .content-3,
.section1-content .content-4,
.section1-content .content-5,
.section1-content .content-6 {
  max-width: 800px;
  margin: 80px auto 0;
}

.section1-content .content-1_img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.section1-content .content-1 p {
  text-align: center;
  color: #eee;
  font-size: var(--font-size-s);
  max-width: 800px;
  margin: 0 auto;
}

.section1-content .content-1 p span {
  font-size: var(--font-size-m);
  display: block;
}

.section1-content .content-1 b {
  display: block;
  color: #fff;
  margin-top: 40px;
  text-align: center;
  font-size: var(--font-size-m);
}

.section1-content .content1-img_etc {
  display: block;
  margin: 80px auto;
}

.section1-content .content-img {
  width: 100%;
}

.section1-content .content-text_wrap {
  padding: 20px 40px;
  background-color: var(--main-color-blue);
  margin-top: 12px;
  position: relative;
}

.section1-content .content-text {
  color: #fff;
  font-size: var(--font-size-s);
  line-height: 1.8;
  word-break: keep-all;
}

.section1-content .content-number {
  position: absolute;
  top: -5%;
  left: -20px;
}

.content-subImg {
  color: #000;
  padding: 20px;
  font-size: var(--font-size-xs);
  background-color: #fff;
  border: 5px solid var(--main-color-blue);
  margin-bottom: 12px;
}

/* section2 */
.section2 {
  background-position: center;
  width: 100%;
}

.section2-content .content-1_wrap {
  text-align: right;
  position: relative;
  background-image: url(../asset/images/section2-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 20px;
}

.section2-content .content-1 {
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
}

.section2-content .content-1 .content-img {
  max-width: 800px;
  width: 100%;
}

.section2-content .content1-text {
  position: absolute;
  top: 60%;
  left: 0%;
  width: 100%;
  max-width: 780px;
}

.section2-content .arrow {
  position: absolute;
  top: -30%;
  right: 10%;
}

.section2-content .content1-text p {
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.5);
  text-align: left;
  font-size: var(--font-size-s);
  padding: 20px;
  width: 100%;
  background-color: #eee;
  border-radius: 20px;
  word-break: keep-all;
}

.section2-content .content-2_wrap {
  position: relative;
  background-image: url(../asset/images/section2-6.png);
  background-repeat: no-repeat;
  background-size: cover;  padding: 80px 20px;
}

.section2-content .content-2 {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; 
}

.section2-content .content-2 .content-img {
  max-width: 544px;
  width: 100%;
}

.section2-content .content2-text {
  position: absolute;
  top: 60%;
  right: 0;
  max-width: 800px;
}

.section2-content .content-2 .arrow {
  position: absolute;
  top: -15%;
  left: 10%;
  transform: rotateY(-180deg);
}

.section2-content .content2-text p {
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.5);
  font-size: var(--font-size-s);
  padding: 20px;
  width: 100%;
  background-color: #eee;
  border-radius: 20px;
  word-break: keep-all;
}

/* section3 */
.section3 {
  width: 100%;
  background-color: #111;
}

.section3-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.section3-title {
  text-align: center;
  position: relative;
}

.section3-title img {
  max-width: 700px;
  width: 100%;
}

.section3-title h6 {
  font-size: var(--font-size-xl);
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section3-title p {
  text-align: center;
  color: #fff;
  font-size: var(--font-size-m);
  margin: 12px 0 80px;
}

.section3-content {
  text-align: center;
}

.section3-content img {
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
}

.section3-content .triangle {
  margin: 10px auto;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-top: 40px solid var(--main-color-yellow);
  border-right: 25px solid transparent;
}

.section3-content .content-2 {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.section3-content .content-2_1,
.section3-content .content-2_2 {
  border: 1px solid var(--main-color-yellow);
  border-radius: 20px;
  position: relative;
  margin-top: 65px;
  max-width: 580px;
  width: 100%;
}

.content-2_1 .title,
.content-2_2 .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -24px;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--main-color-yellow);
  color: #000;
  box-shadow: 0px 0px 5px 6px var(--main-color-yellow);
  font-weight: bold;
}

.content-2_1 p,
.content-2_2 p {
  color: #fff;
  font-size: var(--font-size-m);
  padding: 65px 35px;
  word-break: keep-all;
}

.content-2_1 p span,
.content-2_2 p span {
  color: var(--main-color-yellow);
  font-style: underline;
  text-decoration: underline;
}

.section4 {
  width: 100%;
}

.section4-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 20px;
}

.section4-title {
  text-align: center;
}

.section4-title h3 {
  font-size: var(--font-size-xl);
}

.section4-title h3 .fontSize {
  font-size: clamp(3rem, 5vw, 8rem);
}

.section4-title h3 .color {
  color: var(--main-color-blue);
}

.section4-title p {
  font-size: var(--font-size-m);
  margin: 20px 0 80px 0;
  word-break: keep-all;
}

.section4-title p span {
  font-weight: bold;
}

.section4-content {
  text-align: center;
  border: 1px solid var(--main-color-blue);
  border-radius: 50px;
  position: relative;
  margin-top: 100px;
}

.section4-content h6 {
  font-size: var(--font-size-l);
  color: #fff;
  padding: 10px;
  background-color: var(--main-color-blue);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: -54px;
  transform: translateX(-50%);
}

.section4-content img {
  margin-top: 80px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  display: block;
}

.section5 {
  background-color: #111;
}

.section5-wrap {
  margin: 0 auto;
  padding: 180px 20px;
  width: 100%;
  max-width: 1200px;
}

.section5-content {
  margin: 0 auto;
  max-width: 1200px;
}

.section5-content .content-1 {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  text-align: center;
  position: relative;
  max-width: 850px;
  margin: 0 auto;
}

.section5-content .content-1_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 720px;
  width: 100%;
  padding: 20px;
}

.section5-content .content-1_text img {
  width: 50%;
  max-width: 400px;
}

.section5-content .content-1 p {
  color: #fff;
  font-size: var(--font-size-m);
  margin-top: 12px;
  word-break: keep-all;
}

.home-link {
  font-size: var(--font-size-l);
  color: #fff;
  margin-top: 80px;
  display: block;
  text-decoration: underline;
}

.section5-content .content-2 {
  margin-top: 8vw;
  width: 100%;
}

.section5-content .content-2 .content-video{
  text-align: center;
}

.section5-content .content-2 iframe {
  width: 100%;
  aspect-ratio: 810/455;
  max-width: 850px;
}

.section5-content .content-2 .video-title{
  font-size: var(--font-size-l);
  text-align: center;
  color: #fff;
}

.section5-content .content-2 .video-text{
  font-size: var(--font-size-m);
  text-align: center;
  color: #fff;
}

.section5-content .content-2 img {
  display: block;
  margin: 40px auto 0;
  width: 100%;
  max-width: 430px;
}

.section5-content .content-2_text {
  margin-top: 120px;
  text-align: center;
  width: 100%;
}

.section5-content .content-2_text h6 {
  font-size: var(--font-size-xl);
  color: #fff;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.section5-content .content-2_text h6::after {
  content: "";
  width: 100%;
  height: 50%;
  background-color: var(--main-color-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.section5-content .content-2_text p {
  font-size: var(--font-size-m);
  color: #fff;
  word-break: keep-all;
}

.section6 {
  background-color: #f5f5f5;
}

.section6-wrap {
  max-width: 850px;
  margin: 0 auto;
  width: 100%;
  padding: 80px 20px;
}

.input-1,
.input-2,
.input-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-2,
.input-3 {
  margin-top: 20px;
}

.section6-input label {
  font-size: var(--font-size-m);
  width: 20%;
  text-align: center;
  white-space: nowrap;
}

.section6-input input[type="text"] {
  padding: 10px;
  border: none;
}

.section6-input .input-1 input,
.section6-input .input-2 input,
.section6-input .input-3 input {
  width: 80%;
}

.section6-input .input-tel {
  display: flex;
  gap: 10px;
  flex: 1;
}

.input-tel input {
  width: calc(80% / 3);
}

.input-4 {
  text-align: center;
  margin-top: 40px;
}

.input-4 span {
  font-size: var(--font-size-m);
  cursor: pointer;
}

.section6-button {
  margin-top: 40px;
}

.section6-button button {
  padding: 20px 0;
  width: 100%;
  border: none;
  background-color: #000;
  font-size: var(--font-size-xl);
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.section6-button button span {
  color: var(--main-color-blue);
}

/* footer */
footer {
  background-color: #111;
  color: #fff;
}

.footer-wrap {
  padding: 80px;
}

.footer-logo img {
  max-height: min(5vw, 50px);
  width: auto;
}

footer address {
  font-style: normal;
  margin-top: 40px;
}

footer address span {
  display: block;
  font-size: var(--font-size-xs);
}

footer address span:not(:first-child) {
  margin-top: 20px;
}

@media screen and (max-width: 1450px) {
  .content-1 .content1-text {
    position: relative;
    margin-top: 10px;
  }

  .content-2 .content2-text {
    position: relative;
    margin-left: auto;
    margin-top: 10px;
  }
}

@media screen and (max-width: 425px) {
  .section3-content .content-2 {
    flex-direction: column;
    gap: 10px;
  }
}
