.top-line{
  width: 100%;
  height: 3px;
  background-color: #108ccf;
}

#header{
  position: relative;
  z-index: 998;
  width: 100%;
  height: 100vh;
  color: white;
  padding: 74px 143px;
}

header .logo{
  width: 250px;
  height: 100px;
}

header .logo h1{
  height: 0px;
  overflow: hidden;
}

header .logo img{
  height: auto;
  width: 250px;
  display: block;
}

header .nav{
  position: absolute;
  top: 183px;
}

.nav .nav-list{
  width: 150px;
}

.nav .nav-list::after{
  content: '';
  height: 158px;
  width: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -190px;
}

.nav .nav-item{
  position: relative;
}

.nav .nav-item h6{
  font-size: var(--font-size-m);
  line-height: 47px;
  font-weight: 600;
}

.nav .subNav-list{
  /* height: 0; */
  overflow: hidden;
  position: absolute;
  left: 150px;
  top: 0;
  width: 200px;
}

/* .nav .subNav-list.active{
  height: auto;
} */

.subNav-list .suvNav-item a{
  color: #fff;
  display: block;
  font-size: var(--font-size-s);
}

.subNav-list .suvNav-item:not(:last-child) a{
  margin-bottom: 20px;
}

header .nav-login{
  position: absolute;
  left: 126px;
  top: 700px;
}

.nav-login li{
  font-size: var(--font-size-s);
  padding: 0 10px;
  height: 28px;
  color: white;
  letter-spacing: -0.1em;
  line-height: 2.4em;
}

/* footer */
.footer{
  height: auto;
  width: 100%;
  margin: 0 auto;
  background-color: #4d4a48;
}

.footer-1{
  width: 100%;
  background-color: #414141;
}

.footer-wrap{
  max-width: 1200px;
  margin: 0 auto;
}

.footer1-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list{
  display: flex;
  color: #fff;
}

.footer-list .list-item a{
  font-size: var(--font-size-footer);
  padding: 10px;
  color: #fff;
  display: block;
}

.footer-top a{
  color: #fff;
  font-size: var(--font-size-footer);
  padding: 1.2rem;
  display: block;
}

.footer-2{
  height: 110px;
}

.footer-info address{
  font-style: normal;
}

.footer-info address span{
  line-height: 150%;
  font-size: 1.2rem;
  margin: 0 auto;
  color: #bbb;
}