/* section1 */

.section1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  background-color: #206378;
}

.section1 .vid-wrap{
  width: 100%;
  height: 100%;
}

.section1 iframe{
  width: 250%;
  aspect-ratio: 1/1;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* section2 */

.section2{
  position: relative;
  width: 100%;
  background-color: #fff;
}

.section2-wrap{
  padding: 50px;
  max-width: 1500px;
  margin: 0 auto;
}

.main-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box:not(:last-child){
  background-color: #206378;
  transition: all 0.4s;
}

.box:not(:last-child):hover{
  background-color: #242424;
}

.main-box .box4{
  background-color: #ffc82b;
  transition: all 0.4s;
}

.main-box .box4:hover{
  background-color: #ffe6a0;
}

/* section3 */

.section3{
  width: 100%;
  height: auto;
  position: relative;
}

.section3-wrap{
  padding: 70px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.main-logo{
  width: 250px;
  margin: 0 auto;
}

.main-logo img{
  width: 100%;
  vertical-align: top;
}

.main-content{
  margin-top: 50px;
}

.content-list{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.content-list .list-item{
  text-align: center;
  padding: 5px;
  background-color: #fff;
}

.list-item .item-text{
  width: 100%;
  height: 150px;
}

.list-item h6{
  font-size: var(--font-size-m);
  color: var(--main-color);
  margin: 10px 0;
}

.list-item p{
  width: 272px;
  font-size: var(--font-size-s);
  letter-spacing: -1px;
  line-height: 25px;
}

/* section4 */

.section4{
  position: relative;
  width: 100%; 
  background-color: #fff;
}

.section4-wrap{
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}

.section4-title{
  font-size: var(--font-size-l);
  text-align: center;
  position: relative;
}

.section4-title::after{
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  margin: 0 auto;
  background-color: #000;
}

.section4-container{
  margin-top: 50px;
  height: 270px;
  background-image: url(../images/section4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.container-subTitle{
  color: #fff;
  font-size: var(--font-size-l);
}

.section4-content{
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  height: calc(250px - 20px - var(--font-size-l) );
}

.section4-content .content-1{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.content-1 h6,
.content-2 h6,
.content-1 .tel{
  font-size: var(--font-size-l);
  color: #fff;
}

.content-1 p{
  font-size: var(--font-size-s);
  color: #fff;
  margin: 10px 0;
}

.content-1 .tel{
  font-weight: bold;
}

.content-1 span{
  font-size: var(--font-size-s);
  color: #fdc689;
}

.content-2__title{
  height: 35%;
}

.content-2__title p{
  font-size: var(--font-size-s);
  color: #fff;
  margin: 10px 0;
}

.content-2__text{
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-2__time{
  display: flex;
  font-size: var(--font-size-s);
  align-items: center;
}

.content-2__time p{
  width: 120px;
  text-align: center;
  background-color: #fdc689;
  padding: 10px;
  font-weight: bold;
}

.content-2__time>span{
  margin-left: 10px;
  color: #fff;
}