/* section1 */

.section1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 937px;
  z-index: -1;
  pointer-events: none;
  background-color: #000000;
}

.section1 .vid-wrap{
  height: 300%;
  top: -100%;
  position: relative;
}

.vid-wrap::after{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.section1 iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* section2 */

.section2{
  position: relative;
  width: 100%;
  background-color: #fff;
}

.section2-wrap{
  padding: 4% 0;
  width: 1300px;
  margin: 0 auto;
}

.main-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 254px;
  margin: 12px 0;
}

.box{
  width: 300px;
  margin: 0 0.5%;
}

.box a{
  display: block;
  width: 100%;
  height: 100%;
}

.box img{
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.box:not(:last-child){
  transition: background-color 1s;
}

.box1{
  background-color: #108ccf;
}

.box2{
  background-color: #0d74ac;
}

.box3{
  background-color: #2070b7;
}

.box:not(:last-child):hover{
  background-color: #242424;
}

.main-box .box4{
  background-color: #ffc82b;
  transition: background-color 0.4s;
}

.main-box .box4:hover{
  background-color: #ffe6a0;
}

/* section3 */

.section3{
  width: 100%;
  height: 820px;
  position: relative;
}

.section3-wrap{
  padding: 70px 0 150px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-logo{
  width: 250px;
  margin: 0 auto;
}

.main-logo img{
  width: 100%;
  vertical-align: top;
  margin: 40px 0;
}

.main-content{
  margin-top: 12px;
}

.content-list{
  display: flex;
}

.content-list .list-item{
  text-align: center;
  width: 23%;
  margin: 0 1%;
  padding: 5px;
  background-color: #fff;
}

.list-item .item-text{
  width: 100%;
}

.list-item img{
  width: 100%;
}

.list-item h6{
  font-size: var(--font-size-m);
  color: var(--main-color);
  letter-spacing: -1.5px;
  margin-top: 20px;
  margin-bottom: 7px;
}

.list-item p{
  font-size: var(--font-size-s);
  letter-spacing: -1px;
  color: #555;
  padding-bottom: 20px;
}

/* section4 */

.section4{
  position: relative;
  width: 100%; 
  background-color: #fff;
}

.section4-wrap{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.section4-title{
  font-size: var(--font-size-l);
  text-align: center;
  position: relative;
}

.section4-title::after{
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  margin: 0 auto;
  background-color: #000;
}

.section4-container{
  margin-top: 50px;
  height: 270px;
  background-image: url(../images/section4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 30px;
}

.container-subTitle{
  color: #fff;
  font-size: var(--font-size-l);
}

.section4-content{
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.section4-content .content-1{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 10px 30px 10px;
  height: 194px;
}

.content-1 h6,
.content-2 h6,
.content-1 .tel{
  font-size: var(--font-size-l);
  color: #fff;
}

.content-1 h6,
.content-2 h6{
  height: 37px;
}

.content-1 p{
  font-size: 1.6rem;
  color: #fff;
  height: 24px;
}

.content-1 .tel{
  font-weight: bold;
  font-size: 3rem;
  height: 45px;
}

.content-1 span{
  line-height: 22px;
  font-size: 14px;
  color: #fdc689;
  margin-bottom: 14px;
  display: block;
}

.content-2__title p{
  font-size: var(--font-size-s);
  color: #fff;
  height: 24px;
}

.content-2__text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
  height: 134px;
}

.content-2__time{
  display: flex;
  font-size: var(--font-size-s);
  align-items: center;
}

.content-2__time p{
  font-size: 14px;
  text-align: center;
  background: #fdc689;
  padding: 11px 6px;
  letter-spacing: -1.5px;
  width: 94.75px;
  font-weight: bold;
}

.content-2__time>span{
  margin-left: 2px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.mobile-qs{
  display: none;
}


/* after */

.section5 {
  position: relative;
  width: 100%;
  background-color: #fff;
  border: 5px solid salmon;
}

.section5  .section4-content {
  margin-top: 0px;
}

.section5 .section4-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section5 .section4-content .content-1 {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 10px;
  height: auto;
}

.section5 .section4-content {
  gap: 20px;
}

.section5 .content-2__time>span {
  margin-left: 10px;
}

/* after */




@media screen and (max-width : 768px) {

  .section1 .vid-wrap{
    width: 110%;
    left: -7%;
}

  .section1 iframe{
    height: 100%;
    width: 100%;
  }

  .section2{
    margin-top: 25vh;
  }

  .section2-wrap {
    width: 100%;
    padding: 0;
  }
  
  .main-box{
    display: flex;
    height: auto;
    margin: 0;
    flex-wrap: wrap;
  }

  .box{
    width: 49%;
    margin: 0.5%;
  }

  .box img{
    width: 100%;
  }

  .section3{
    height: 100%;
  }

  .section3-wrap{
    padding: 50px 0 130px;
  }

  .main-content {
    margin-top: 1%;
  }

  .content-list{
    flex-wrap: wrap;
  }

  .content-list .list-item{
    width: 48%;
    margin: 1%;
    padding: 5px;
  }

  .list-item p{
    font-size: 1.4rem;
    text-align: left;
  }

  .section4-wrap{
    padding: 20px 0 0 0;
  }

  .mobile-qs{
    display: block;
    padding: 20px 30px;
  }

  .mobile-qs h6{
    margin-bottom: 15px;
    font-size: 2.3rem;
    font-weight: bold;
    color: #777;
  }

  .mobile-qs p{
    font-size: 1.2rem;
    margin: 0 0 10px;
  }

  .section4-container{
    height: 460px;
    margin: 0;
  }

  .section4-content {
    width: 100%;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
  }

  .section4-content .content-1{
    height: auto;
    width: 55%;
  }

  .container-subTitle{
    font-size: 2.3rem;
  }

  .content-1 h6, .content-2 h6 {
    font-size: 2.5rem;
    height: auto;
  }


}

@media (max-aspect-ratio: 16 / 9){
.section1 .vid-wrap {
    width: 300%;
    left: -100%;
    position: relative;
  }
}