/* header */
.header{
  border-top: 3px solid #108ccf;
}

.header-wrap{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  position: relative;
  height: 100px;
}

header .logo h1{
  height: 0;
  overflow: hidden;
}

header .logo{
  width: 250px;
  height: 100px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
}

.header-login{
  height: 30px;
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin: 2px auto 0;
  align-items: center;
  justify-content: flex-end;
}

.header-login p{
  font-size: 12px;
  padding: 0 10px;
  height: 100%;
  line-height: 2.9rem;
}

.nav{
  left: 50%;
  margin-left: -250px;
  position: absolute;
  z-index: 999;
  top: 30px;
}

.nav-list{
  display: flex;
}

.nav-list .list-item{
  width: 150px;
  text-align: center;
  min-height: 47px;
  font-size: 1.25em;
  line-height: 4.4rem;
}

.nav-list .list-item h6{
  width: 150px;
  font-size: var(--font-size-s);
  height: 47px;

}

.subNav-list{
  position: absolute;
  /* height: 0; */
  overflow: hidden;
  width: 150px;
  padding-top: 10px;
}

.subList-item a{
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  color: #2d2d2d;
  font-size: 1.4rem;
}

.nav-bg{
  width: 100%;
  height: 210px;
  position: absolute;
  z-index: 1;
  background: #ccafaf;
}

/* footer */
.footer{
  height: auto;
  width: 100%;
  margin: 0 auto;
  background-color: #4d4a48;
}

.footer-1{
  width: 100%;
  background-color: #414141;
}

.footer-wrap{
  max-width: 1200px;
  margin: 0 auto;
}

.footer1-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list{
  display: flex;
  color: #fff;
}

.footer-list .list-item a{
  font-size: var(--font-size-footer);
  padding: 10px;
  color: #fff;
  display: block;
}

.footer-top a{
  color: #fff;
  font-size: var(--font-size-footer);
  padding: 1.2rem;
  display: block;
}

.footer-2{
  height: 110px;
}

.footer-info address{
  font-style: normal;
  margin-top: 25px;
}

.footer-info address span{
  line-height: 150%;
  font-size: 1.2rem;
  margin: 0 auto;
  color: #bbb;
}


