.section1{
  position: relative;
  background-image: url(../images/subPagenNav-shadow.png);
  height: 200px;
}

.section1-wrap{
  max-width: 2000px;
  margin: 0 auto;
}

.section1 .banner{
  transition: all 1s;
  position: relative;
}

.section1 .banner2{
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 5s;
}

.section1-text{
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.section1-text h3{
  font-size: 31px;
}

.section1-text p{
  font-size: 20px;
  font-weight: bold;
}

.section2{
  width: 100%;
  margin-top: -10px;
}

.section2-wrap{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}


.subGnd{
  width: 280px;
  margin-right: 30px;
  flex-shrink: 0;
}

.subGnb-title{
  padding: 120px 30px 30px;
  font-size: 25px;
  background: #003f76;
  color: #fff;
  font-weight: bold;
}

.subGnd-list{
  margin-top: 10px;
}

.suvGnbList-item a{
  text-indent: 10px;
  line-height: 50px;
  font-size: 15px;
  border-bottom: 1px solid #EDEDED;
  width: 100%;
  height: 100%;
  display: block;
}

.section2-container{
  width: 890px;
}

.PageNavigation{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #666;
  height: 49px;
  margin-top: 15px;
}

.PageNavigation h6{
  font-size: 18px;
  color: #0b2d47;
  padding-top: 15px;
}

.PageNavigation-text{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 15px;
  font-family: 'Nanum Gothic';
  font-size: 1.2rem;
}

.content{
  width: 890px;
  min-height: 500px;
  margin: 75px 0;
}

.content-title{
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.2rem;
  color: #26282c;
  text-align: center;
  line-height: 1;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.content-title::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 0;
  background-color: #2e7dd2;
  left: 50%;
  transform: translateX(-50%);
}

.content-text{
  font-size: 17px;
    letter-spacing: -0.05em;
    color: #6c6d6f;
    line-height: 1.7;
    position: relative;
    padding: 15px 0;
    margin: 0 auto;
    font-weight: 300;
}