/* common */
.title-box{
  width: 100%;
  padding: 10px;
  font-size: var(--font-size-l);
  color: #fff;
  background-color: var(--main-color);
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
}

/* header */
header{
  background-image: url(../assets/images/header-bg.png);
  width: 100%;
  height: 690px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-wrap{
  color: #fff;
  max-width: 1520px;
  margin: 0 auto;
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2{
  font-size: var(--font-size-m);
}

header h1{
  font-size: 5rem;
  color: var(--main-color);
}

header p{
  font-size: 4rem;
  padding: 0px 25px;
  background-color: rgba(188, 144, 101, 0.5);
  font-weight: bold;
  border-radius: 10px;
}

/* section */
.section{
  width: 100%;
  height: 100%;
}

.sec1-wrap{
  max-width: 1520px;
  margin: 0 auto;
  width: 100%;
  padding: 80px 0;
}