* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid aquamarine;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
