
body{
  background:  url(../assets/images/bg.png), linear-gradient(#D5D4FF,#fff,#fff);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.section1{
  width: 100%;
  height: 100vh;
  position: relative;
}

.top-coin{
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  max-width: 1200px;
}

.deco-2{
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 45%;
  max-width: 590px;
  min-width: 100px;
}

.top-logo{
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  max-width: 190px;
  min-width: 150px;
}

.section1-wrap{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.main-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: max-content;
}

.main-title::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 3px solid #fff;
  width: 65vw;
  height: 65vw;
  max-width: 700px;
  max-height: 700px;
}

.main-title::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;;
  width: 65vw;
  height: 65vw;
  max-width: 700px;
  max-height: 700px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.main-title .sub-title{
  color: #0500E2;
  font-weight: bold;
  font-size: var(--font-size-m);
  margin-bottom: 20px;
}

.main-title h2{
  font-size: var(--font-size-xl);
  font-family: 'hanna11';
  letter-spacing: 1px;
  line-height: 1.4;
}

.main-title .title{
  color: #fff;
  position: relative;
}

.main-title .title-1::after{
  content: '약정 끝난 인터넷';
  z-index: -1;
  position: absolute;
  -webkit-text-stroke: 6px #0500E2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: max-content;
}

.main-title .title-2::after{
  content: '재약정 안하면';
  z-index: -1;
  position: absolute;
  -webkit-text-stroke: 6px #0500E2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: max-content;
}

.main-title .point-title{
  background-image: linear-gradient( #706DFF, #0500E2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
}

.main-title .point-title::after{
  content: '50만원 손해!';
  z-index: -1;
  position: absolute;
  -webkit-text-stroke: 6px #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: max-content;
}

.main-title .point-title::before{
  content: '';
  width: 100%;
  height: 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.bottom-btn{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: var(--font-size-s);
  background-color: #0500E2;
  text-align: center;
  padding: 20px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: 2;
  transition: all 0.2s;
}

.bottom-btn:hover{
  background-color: #1124fe;
}

.section2{
  position: relative;
}

.deco-4{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 500px;
  min-width: 100px;
}

.coin{
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 430px;
}

.section2-wrap{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.p-1{
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.red-title{
  margin-top: min(10vw,80px);
}

.p-2{
  color: #fff;
  padding: min(5vw,20px) min(5vw,80px);
  font-size: var(--font-size-l);
  background-color: #9D1E33;
  border-radius: 50px;
}

.main-text{
  margin-top: min(10vw,160px);
}

.p-3{
  font-size: var(--font-size-s);
  font-weight: bold;
}

.p-4{
  margin-top: 60px;
  font-size: var(--font-size-s);
  font-weight: bold;
}

.line-1,.line-2{
  position: relative;
  display: inline;
}

.line-1::before{
  content: url(../assets/images/star.png);
  position: absolute;
  top: -100%;
  left: -100%;
  z-index: -1;
}

.line-1::after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 25%;
  bottom: 0;
  left: 0;
  background-image: url(../assets/images/line.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.line-2::after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 25%;
  bottom: 0;
  left: 0;
  background-image: url(../assets/images/line.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.color-red{
  color: #9D1E33;
}

.p-5{
  margin-top: 60px;
  font-size: var(--font-size-m);
  font-weight: bold;
}

.blue-line{
  width: 100%;
}

.pink-box{
  width: 100%;
  height: 500px;
  background-color: #F5D8E7;
  border-radius: 100px;
  margin-top: 160px;
  position: relative;
  box-sizing: border-box;
  padding: min(5vw,140px);
}

.pink-box_top{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-55%);
}

.icon-money{
  width: 200px;
  height: 200px;
}

.pink-box h6{
  font-size:  clamp(3rem,3.5vw,5rem);
  font-weight: bold;
  text-align: center;
  margin-top: -30px;
  width: max-content;
}

.input-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.input-box_wrap{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.input-box label{
  font-size: var(--font-size-s);
  font-weight: bold;
  min-width: 100px;

}

.input-box input,
.input-box select{
  width: 100%;
  border: none;
  height: 23px;
  padding-left: 20px;
}

.input-name,
.input-number,
.input-phoneStore{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.input-checkBox{
  margin-top: 24px;
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: center;
}

.input-checkBox input{
  width: 22px;
  cursor: pointer;
}

.input-checkBox label,
.input-checkBox span{
  font-weight: normal;
  font-size: var(--font-size-xs);
  margin-left: 12px;
  width: auto;
}

.input-box button{
  line-height: 2.5;
  font-size: var(--font-size-s);
  border: none;
  background-color: #9D1E33;
  color: #fff;
  padding: 0 50px;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
}

.pink-line-box{
  margin-top: 60px;
  width: 100%;
  height: 500px;
  border: 10px solid #F5D8E7;
  border-radius: 100px;
  padding: 50px min(5vw,140px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
}

.pink-line-box h6{
  font-size:  clamp(3rem,3.5vw,5rem);
  font-weight: bold;
  text-align: center;
}

.now-list_all li:first-child{
  flex-basis: 20%;
}

.now-list_all li:nth-child(2){
  flex-basis: 20%;
}

.now-list_all li:nth-child(3){
  flex-basis: 30%;
}

.now-list_all li:nth-child(4){
  flex-basis: 30%;
}

.now-list_all {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.list-title{
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 100px;
  height: 50px;
}

.list-title li{
  font-size: var(--font-size-s);
  line-height: 50px;
}

.list-list{
  display: flex;
  background-color: #E5E5FF;
  height: 50px;
  border-radius: 100px;
}

.list-list li{
  font-size: var(--font-size-xs);
  line-height: 50px;
}

.list-list li img{
  vertical-align: middle;
  width: 40%;
  max-width: 30px;
}

.deco-5{
  position: absolute;
  top: 40%;
  right: 0;
  width: 30%;
  max-width: 400px;
  z-index: -1;
}

.deco-6{
  position: absolute;
  left: 0;
  bottom: 5%;
  z-index: -1;
  width: 30%;
  max-width: 400px;
}

footer{
  margin-top: 180px;
  background-color: #9D1E33;
  height: 400px;
  text-align: center;
}

@media screen and (max-width:500px) {
  .main-title .title-1::after{
    -webkit-text-stroke: 4px #0500E2;
  }
  
  .main-title .title-2::after{
    -webkit-text-stroke: 4px #0500E2;
  }

  .main-title .point-title::after{
    -webkit-text-stroke: 4px #fff;
  }

  footer{
    margin-top: 120px;
  }
}