
body{
  background: linear-gradient(#D5D4FF, #fff);
}

.section1{
  background-image: url(../assets/images/bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.section1-wrap{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}