@use "../abstacts/_variavles" as *;
@import "../_mixin.scss";

.section{
  width: 100%;
  height: 100vh;
  @include tablet{
    height: auto;
  }
}

.section1{
  background-image: url(../../images/sub/04/background-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  .section1-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section1-subTitle{
      text-align: center;
      p{
        font-size: clamp(1.2rem,1.5vw,3rem);
        letter-spacing: 0.3rem;
        transform: translateX(-20%);
        opacity: 0;
      }
      .section1-subTitle__1{
        transition: all 0.4s;
      }
      .section1-subTitle__2{
        transition: all 0.4s 0.2s;
      }
      .section1-subTitle__3{
        transition: all 0.4s 0.4s;
      }

    }
    .section1-subTitle.active{
      p{
        transform: translateX(0%);
        opacity: 1;
      }
    }
    .section1-title{
      margin-top: clamp(4.5rem,4.5vw,9rem);
      text-align: center;
      h2{
        font-family: "GmarketSans";
        font-size: clamp(2.5rem,5vw,10rem);
        transform: translateY(100%);
        opacity: 0;
      }
      .section1-title__1{
        transition: all 0.4s 0.6s;
      }
      .section1-title__2{
        transition: all 0.4s 0.8s;
      }
    }
    .section1-title.active{
      h2{
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
}

.section2-wrap{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 20px;
  max-width: 1324px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .section2-title{
    h6{
      font-size: clamp(1.5rem,2.5vw,5rem);
      font-family: "GmarketSansLight";
      line-height: 1.4;
      transform: translateX(-20%);
      opacity: 0;
    }
    .section2-title__1{
      transition: all 0.4s;
    }
    .section2-title__2{
      transition: all 0.4s 0.2s;
    }
    .section2-title__3{
      transition: all 0.4s 0.4s;
    }
    .section2-title__4{
      transition: all 0.4s 0.6s;
    }
    b{
      font-family: "GmarketSans";
    }
    p{
      font-size: clamp(1rem,1vw,2rem);
      margin-top: min(2vw,40px);
      transform: translateY(100%);
      opacity: 0;
    }
  }
  .section2-title.active{
    h6{
      opacity: 1;
      transform: translateX(0%);
    }
    p{
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .section2-information{
    margin-top: min(4vw,50px);
    .information-title{
      font-family: "GmarketSans";
      font-size: clamp(1.5rem,2vw,3rem);
      transform: translateY(100%);
      opacity: 0;
      transition: all 0.4s 0.8s;
    }
    .information-list{
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 3vw;
      position: relative;
      .list-item{
        position: relative;
        text-align: center;
        padding: 20px 0 0 0; 
        transform: translateX(-100%);
        opacity: 0;
        transition: all 0.4s 1s;
        b{
          font-size: clamp(1rem,1vw,2rem);
        }
        p{
          font-size: clamp(1rem,1vw,1.5rem);
        }
        &::before{
          content: '';
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translateX(-50%);
          width: 27px;
          height: 27px;
          background-color: #350565;
          border-radius: 50%;
          @include tablet{
            top: -2.5px;
            width: 10px;
            height: 10px;
          }
        }
      }
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 7px;
        background-color: #efeff0;
        transform: translateY(100%);
        opacity: 0;
        transition: all 0.4s 0.8s;
        @include tablet{
          height: 5px;
        }
      }
      .item-1{
        transition: all 0.4s 1s;
      }
      .item-2{
        transition: all 0.4s 1.2s;
      }
      .item-3{
        transition: all 0.4s 1.4s;
      }
      .item-4{
        transition: all 0.4s 1.6s;
      }
      .item-5{
        transition: all 0.4s 1.8s;
      }
    }
  }
  .section2-information.active{
    .information-title{
      transform: translateY(0%);
      opacity: 1;
    }
    .information-list{
      .list-item{
        transform: translateY(0%);
        opacity: 1;
      }
      &::before{
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
}

.section3{
  background-image: url(../../images/sub/04/background-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include tablet{
    background-position: top right;
  }
  .section3-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    .section3-content{
      background-color: #fff;
      max-width: 1324px;
      width: 100%;
      height: 100%;
      margin: 0 10px;
      padding: clamp(3rem,3vw,6.5rem);
      text-align: center;
      @include tablet{
        padding-bottom: 20vw;
      }
      .content-text{
        text-align: left;
        .text-subTitle{
          font-size: clamp(1rem,1vw,2.2rem);
          transform: translateX(-20%);
          opacity: 0;
          transition: all 0.4s;
        }
        .text-title{
          font-size: clamp(1.8rem,4vw,5.5rem);
          padding-top: 10px;
          font-family: "GmarketSans";
          transform: translateY(100%);
          opacity: 0;
          transition: all 0.4s 0.2s;
          .content-text__color{
            color: #350565;
          }
        }
      }
      .content-list{
        margin-top: 2vw;
        .list-item{
          display: flex;
          width: 100%;
          font-size: clamp(1rem,1vw,2rem);
          margin-top: 1vw;
          transform: translateY(100%);
          opacity: 0;
          .item-number{
            font-weight: bold;
            margin-right: 1vw;
          }
          .item-line{
            width: 100%;
            flex: 1 0 0%;
            border-bottom: 2px dotted #a3a3a3;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 40px;
            @include tablet{
              visibility: hidden;
              margin: auto;
            }
          }
          input{
            padding: 10px;
            width: 20px;
            height: 20px;
            border-radius: 10px;
          }
        }
        .item-1{
          transition: all 0.4s 0.4s;
        }
        .item-2{
          transition: all 0.4s 0.6s;
        }
        .item-3{
          transition: all 0.4s 0.8s;
        }
        .item-4{
          transition: all 0.4s 1s;
        }
        .item-5{
          transition: all 0.4s 1.2s;
        }
      }
      .content-button{
        background-color: #350565;
        color: #fff;
        font-size: clamp(1rem,1.2vw,2rem);
        padding: 2rem 4rem;
        margin-top: 2vw;
        border-radius: 10px;
        transition: all 0.4s 1.4s;
        transform: translateY(100%);
        opacity: 0;
      }
    }
    .section3-content.active{
      .content-text{
        .text-subTitle{
          opacity: 1;
          transform: translateY(0);
        }
        .text-title{
          opacity: 1;
          transform: translateY(0);
        }
      }
      .content-list{
        .list-item{
          transform: translateY(0%);
          opacity: 1;
        }
      }
      .content-button{
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
}

.section4{
  .section4-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 20px;
    max-width: 1324px;
    margin: 0 auto;
    .section4-title{
      font-size: clamp(1.5rem,2.5vw,5rem);
      font-family: "GmarketSansLight";
      text-align: center;
      line-height: 1.4;
      transform: translateX(-20%);
      opacity: 0;
      transition: all 0.4s;
      b{
        font-family: "GmarketSans";
      }
    }
    .section4-title.active{
      transform: translateX(0%);
      opacity: 1;
    }
    .section4-content{
      margin-top: min(2vw, 40px);
      display: flex;
      gap: min(2vw, 40px);
      @include tablet{
        flex-direction: column;
      }
      .content-left{
        width: 50%;
        transform: translateY(100%);
        opacity: 0;
        transition: all 0.4s 0.2s;
        @include tablet{
          width: 100%;
        }
        img{
          width: 100%;
        }
      }
      .content-right{
        width: 50%;
        @include tablet{
          width: 100%;
        }
        b{
          font-family: "GmarketSans";
          font-size: clamp(1.5rem,2vw,3rem);
          transform: translateY(100%);
          opacity: 0;
          transition: all 0.4s 0.4s;
        }
        p{
          font-size: clamp(1rem,1vw,1.5rem);
          margin-top: min(1vw,10px);
          transform: translateY(100%);
          opacity: 0;
          transition: all 0.4s 0.6s;
        }
        .content-right__list{
          margin-top: min(2vw, 40px);
          .list-item{
            width: 100%;
            height: 100px;
            text-align: center;
            transform: translateY(100%);
            opacity: 0;
            transition: all 0.4s 0.8s;
            .item-question{
              background-color: #461971;
              color: #fff;
              width: 100%;
              height: 50px;
              border-top-left-radius: 50px;
              border-top-right-radius: 50px;
              margin-top:0;
              line-height: 50px;
            }
            .item-answer{
              height: 50px;
              border-bottom-left-radius: 50px;
              border-bottom-right-radius: 50px;
              margin-top:0;
              line-height: 50px;
              border: 2px #461971 dashed;
              border-top: 0;
            }
          }
          .list-item:last-child{
            margin-top: min(1vw,10px);
            transition: all 0.4s 1s;
          }
        }
      }
    }
    .section4-content.active{
      .content-left{
        transform: translateY(0%);
        opacity: 1;
      }
      .content-right{
        b{
          transform: translateY(0%);
          opacity: 1;
        }
        p{
          transform: translateY(0%);
          opacity: 1;
        }
        .content-right__list{
          .list-item{
            transform: translateY(0%);
            opacity: 1;
          }
          .list-item:last-child{
            transform: translateY(0%);
            opacity: 1;
          }
        }
      }
    }
  }
}

.section5{
  background-image: url(../../images/sub/02/background-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  @include tablet{
    background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),  url(../../images/sub/02/mobile-background-3.gif);
  }
  .section5-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 0;
    max-width: 1324px;
    margin: 0 auto;
    .section5-container{
      padding: 100px 0;
      margin: 0 10px;
      .section5-title{
        font-size: clamp(2.4rem,4vw,5.5rem);
        font-family: "GmarketSansLight";
        position: relative;
        z-index: 1;
        transform: translateX(-50%);
        transition: all 0.4s;
        opacity: 0;
      }
      i{
        font-size: clamp(4rem,6vw,10rem);
        font-family: "GmarketSans";
        color: #461a72;
        display: inline-block;
        transform: translate(20%,100%);
        transition: all 0.4s 0.2s;
        opacity: 0;
      }
      .section5-swiper{
        margin-top: clamp(5rem,5vw,10rem);
        position: relative;
        .swiper-pagination{
          position: relative;
          display: flex;
          justify-content: space-between;
          width: 100%;
          border-bottom: 7px solid rgba(255, 255, 255, 0.7);
          text-align: center;
          transform: translateY(100%);
          transition: all 0.4s 0.4s;
          opacity: 0;
          .swiper-pagination-bullet{
            font-family: "GmarketSans";
            font-size: clamp(1rem,1.5vw,3rem);
            padding-bottom: 1vw;
            width: 20%;  
            position: relative;
            height: auto;
            margin: 0;
            background-color: transparent;
            &::after{
              content: '';
              position: absolute;
              bottom: -7px;
              width: 100%;
              left: 0;
              height: 7px;
              background-color: #461a72;
              opacity: 0;
              transition: all 0.4s;
            }
          }
          .swiper-pagination-bullet-active::after{
            opacity: 1;
          }
        }
        .swiper-list{
          margin-top: 2vw;
          transform: translateY(100%);
          transition: all 0.4s 0.6s !important;
          opacity: 0;
          .list-item{
            .itme-title{
              font-size: clamp(1.5rem,1.2vw,2rem);
            }
            .item-text{
              margin-top: 2vw;
              font-size: clamp(1.2rem,1vw,1.5rem);
              color: #a3a3a3;
            }
          }
        }
      }
    }
    .section5-container.active{
      .section5-title{
        transform: translateX(0%);
        opacity: 1;
      }
      i{
        transform: translate(20%,-30%);
        opacity: 1;
      }
      .section5-swiper{
        .swiper-pagination{
          transform: translateY(0%);
          opacity: 1;
        }
        .swiper-list{
          transform: translateY(0%);
          opacity: 1;
        }
      }
    }
  }
}

.section6{
  .section6-wrap{
    width: 100%;
    height: 100%;
    padding: 100px;
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet{
      padding: 100px 10px;
      background-color: rgb(249, 249, 249);
    }
    .section6-title{
      font-size: clamp(1.8rem,4vw,5.5rem);
      font-family: "GmarketSans";
      transform: translateX(-50%);
      transition: all 0.4s;
      opacity: 0;
    }
    .section6-text{
      font-size: clamp(1rem,1vw,1.5rem);
      color: #a3a3a3;
      transform: translateY(50%);
      transition: all 0.4s 0.2s;
      opacity: 0;
    }
    .section6-pc{
      margin-top: min(4vw, 40px);
      display: block;
      transform: translateY(50%);
      transition: all 0.4s 0.4s;
      opacity: 0;
      @include tablet{
        display: none;
      }
      .section6-list{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 500px;
        gap: 1vw;
        .list-item{
          transition: all 0.4s;
          flex: 1 1 0%;
          &:hover{
            flex-grow: 1.2;
          }
          img{
            width: 100%;
          }
          p{
            margin-top: min(1vw, 20px);
            font-size: clamp(1.2rem,1.2vw,1.5rem);
            min-height: 75px;
          }
        }
      }
    }
    .section6-title.active{
      transform: translateX(0%);
      opacity: 1;
    }
    .section6-text.active{
      transform: translateY(0%);
      opacity: 1;
    }
    .section6-pc.active{
      transform: translateY(0%);
      opacity: 1;
    }
    .section6-mobile{
      margin-top: min(4vw, 40px);
      display: none;
      transform: translateY(50%);
      transition: all 0.4s 0.4s;
      opacity: 0;
      @include tablet{
        display: block;
      }
      .mobile-swiper__1{
        width: 100%;
        .section6-list{
          display: flex;
          position: relative;
          .list-item{
            width: 100%;
            height: 100%;
            .item-step{
              position: absolute;
              top: 2vw;
              left: 2vw;
              font-size: clamp(1.5rem,1.5vw,2rem);
              font-weight: bold;
            }
            img{
              width: 100%;
            }
            .item-caption{
              text-align: left;
              margin-top: min(1vw, 20px);
              font-size: clamp(1.2rem,1.2vw,1.5rem);
            }
          }
        }
      }
      .mobile-swiper__2{
        margin-top: min(4vw, 40px);
        width: 100%;
        .section6-list{
          .list-item{
            position: relative;
            .item-step{
              position: absolute;
              top: 2vw;
              left: 2vw;
              font-size: clamp(1.2rem,1.2vw,1.5rem);
              font-weight: bold;
            }
            img{
              width: 100%;
            }
          }
        }
        .swiper-button{
          position: relative;
          height: 50px;
          width: 100%;
          display: flex;
          gap: 10vw;
          justify-content: center;
          align-items: center;
          .swiper-button-prev,
          .swiper-button-next{
            border: 1px solid #eee;
            width: min(4vw,5rem);
            height: min(4vw,5rem);
            border-radius: 50%;
            color:#000;
            background-color: #fff;
            position: relative;
            top: auto;
            margin: 0;
            &::after{
              font-size: min(2vw,3rem);
            }
          }
        }
      }
    }
    .section6-mobile.active{
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.section7{
  background-image: url(../../images/sub/04/background-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  @include tablet{
    height: 60vh;
    background-image: url(../../images/sub/04/mobile-background-4.jpg);

  }
  .section7-wrap{
    width: 100%;
    height: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    .section7-title{
      font-size: clamp(4rem,6vw,10rem);
      font-family: "GmarketSans";
      color: #3f1b65;
      text-align: center;
      transition: all 0.4s;
      transform: translateY(100%);
      opacity: 0;
    }
    .section7-title.active{
      transform: translateY(0%);
      opacity: 0.5;
    }
  }
}