@use "../abstacts/_variavles" as *;
@import "../_mixin.scss";

.section1{
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #000;
  font-family: "GmarketSans";
  @include tablet{
    height: auto;
  }
  .section1-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 140px 10px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .info-title.active{
      transform: translateX(0%);
      opacity: 1;
    }
    .info-title{
      font-size: clamp($font-size-l,4.5vw,9rem);
      transform: translateX(-10%);
      transition: all 0.5s;
      opacity: 0;
    }
    .info-wrap{
      margin-top: 5vw;
      font-size: clamp($font-size-m,2.5vw,5rem);
      .info-call{
        display: flex;
        gap: 2vw;
        transform: translateY(100%);
        opacity: 0;
        transition: all 1s 0.5s;
        .call-title{
          white-space: nowrap;
        }
      }
      .info-call.active{
        transform: translateY(0%);
        opacity: 1;
      }
      .info-time{
        display: flex;
        gap: 2vw;
        margin: 2vw 0;
        transform: translateY(100%);
        transition: all 1s 1s;
        opacity: 0;
        .time-title{
          white-space: nowrap;
        }
        .time-text{
          .time-text__hidden{
            visibility: hidden;
          }
          p:not(:last-child){
            margin-bottom: 10px;
          }
        }
      }
      .info-time.active{
        opacity: 1;
        transform: translateY(0%);
      }
      .info-come{
        display: flex;
        gap: 2vw;
        transform: translateY(100%);
        transition: all 1s 1.5s;
        opacity: 0;
        .come-title{
          white-space: nowrap;
        }
      }
      .info-come.active{
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }  
}

.section2{
  width: 100%;
  height: 100vh;
  @include tablet{
    height: auto;
  }
  .section2-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 2vw;
    justify-content: space-between;
    @include tablet{
      flex-direction: column;
    }
    .section2-left{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .left-content1{
        h6{
          font-size: clamp(1.3rem,1.8vw,$font-size-l);
          font-family: "GmarketSans";
          transform: translateX(-50%);
          transition: all 0.5s;
          opacity: 0;
        }
        .left-content1__text{
          margin-top: 1vw;
          transform: translateY(50%);
          transition: all 0.5s 0.5s;
          opacity: 0;
          position: relative;
          padding-bottom: 2vw;
          p{
            font-size: clamp(1.3rem,1.5vw,$font-size-m);
            font-weight: bold;
          }
          &::after{
            content:'';
            width: 100%;
            height: 2px;
            background-color: #eee;
            position: absolute;
            bottom: 1vw;
          }
        }
      }
      .left-content1.active{
        h6{
          transform: translateX(0%);
          opacity: 1;
        }
        .left-content1__text{
          transform: translateY(0%);
          opacity: 1;
        }
      }
      .left-content2{
        h6{
          font-size: clamp($font-size-m,1.8vw,$font-size-l);
          font-family: "GmarketSans";
          transform: translateX(-50%);
          transition: all 0.5s;
          opacity: 0;
        }
        .left-content2__text{
          margin-top: 1vw;
          position: relative;
          padding-bottom: 2vw;
          display: flex;
          gap: 1vw;
          transform: translateY(50%);
          transition: all 0.5s 0.5s;
          opacity: 0;
          img{
            width: min(10vw,45px);
            height:min(10vw,45px);
          }
          .text-container{
            p:first-child{
              color: #fd7f2c;
              font-size: clamp(1.3rem,1.5vw,$font-size-m);
              font-weight: bold;
            }
            p:last-child{
              font-size: clamp(1rem,1.2vw,$font-size-s);
              span{
                color: #fd7f2c;
              }
            }
          }
          &::after{
            content:'';
            width: 100%;
            height: 2px;
            background-color: #eee;
            position: absolute;
            bottom: 1vw;
          }
        }
      }
      .left-content2.active{
        h6{
          transform: translateX(0%);
          opacity: 1;
        }
        .left-content2__text{
          transform: translateY(0%);
          opacity: 1;
        }
      }
      .left-content3{
        h6{
          font-size: clamp($font-size-m,1.8vw,$font-size-l);
          font-family: "GmarketSans";
          transform: translateX(-50%);
          transition: all 0.5s;
          opacity: 0;
        }
        .left-content3__text{
          transform: translateY(50%);
          transition: all 0.5s 0.5s;
          opacity: 0;
          margin-top: 1vw;
          position: relative;
          padding-bottom: 2vw;
          .bus-text{
            font-weight: bold;
          }
          p{
            font-size: clamp(1.3rem,1.5vw,$font-size-m);
          }
          &::after{
            content:'';
            width: 100%;
            height: 2px;
            background-color: #eee;
            position: absolute;
            bottom: 1vw;
          }
        }
      }
      .left-content3.active{
        h6{
          transform: translateX(0%);
          opacity: 1;
        }
        .left-content3__text{
          transform: translateY(0%);
          opacity: 1;
        }
      }
      .left-content4{
        h6{
          font-size: clamp($font-size-m,1.8vw,$font-size-l);
          font-family: "GmarketSans";
          transform: translateX(-50%);
          transition: all 0.5s;
          opacity: 0;
        }
        .left-content4__text{
          transform: translateY(50%);
          transition: all 0.5s 0.5s;
          opacity: 0;
          margin-top: 1vw;
          p{
            font-weight: bold;
            font-size: clamp(1.3rem,1.5vw,$font-size-m);
          }
        }
      }
      .left-content4.active{
        h6{
          transform: translateX(0%);
          opacity: 1;
        }
        .left-content4__text{
          transform: translateY(0%);
          opacity: 1;
        }
      }
    }
  }
}

.section2-right{
  width: 50%;
  height: 100%;
  @include tablet{
    width: 100%;
  }
  .map-wrap{
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s;
    @include tablet{
      height: 400px;
      width: 100%;
    }
    .root_daum_roughmap {
      width: 100%;
      height: 100%;
      .wrap_map{
        height: calc(100% - 32px);
      }
    }
  }
  .map-wrap.active{
    opacity: 1;
    transform: translateY(0%);
  }
}