/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.section3 .content2 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.section3 .content2 .content-wrap {
  height: 400vh;
}

.section3 .content2 .box {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100vh;
clip-path: inset(100% 0 0 0);
}

.section3 .content2 .box1 {
  clip-path: inset(0% 0 0 0);
}

.section3 .content2 .box-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.section3 .box1 .box-bg{
background: url(assets/images/main/sec3_bg1.png) no-repeat center/cover;
}

.section3 .box2 .box-bg{
background: url(assets/images/main/sec3_bg2.png) no-repeat center/cover;
}

.section3 .box3 .box-bg{
background: url(assets/images/main/sec3_bg3.png) no-repeat center/cover;
}

.section3 .box4 .box-bg{
background: url(assets/images/main/sec3_bg4.png) no-repeat center/cover;
}

.section3 .box-content {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100vh;
}

.section3 .content2 .box-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.section3 .content2 .box-title {
  font-size: 30px;
  color: #fff;
}

.section3 .content2 .box-textWrap {
  font-size: 30px;
  color: #fff;
}

.section3 .content2 .box-text {
  font-size: 18px;
  color: #fff;
}

.section3 .content2 .box-text + .box-text {
margin-top: 10px;
}

.section3 .content2 .box-link {}

.section3 .content2 .box-link a {}

.section3 .content2 .box-imgArea {
  overflow: hidden;
  width: 40%;
  height: 31.5vw;
  border-radius: 20px;
}

.section3 .content2 .box-img {
  width: 100%;
  height: 100%;
}

.section3 .box1 .box-img{
background: url(assets/images/main/sec3_bg1.png) no-repeat center/cover;
}

.section3 .box2 .box-img{
background: url(assets/images/main/sec3_bg2.png) no-repeat center/cover;
}

.section3 .box3 .box-img{
background: url(assets/images/main/sec3_bg3.png) no-repeat center/cover;
}

.section3 .box4 .box-img{
background: url(assets/images/main/sec3_bg4.png) no-repeat center/cover;
}


/* 하단 네비 */
.section3 .box-nav {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 16px;
  font-size: 14px;
}

.section3 .box-nav .nav-item {
  background: none;
  border: 0;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  position: relative;
  padding-bottom: 6px;
}

.section3 .box-nav .nav-item .num {
  font-size: 12px;
  opacity: 0.7;
}

.section3 .box-nav .nav-item.on {
  color: #fff;
}

.section3 .box-nav .nav-item.on::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}

.section4 {
width: 100%;
height: 100vh;
background-color: #000;

}