.section1 {
  padding: 50px;
}

.tab-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  width: fit-content;
  margin: 0 auto;
}

.tab-list > li.list-item__bg {
  position: absolute;
  top: 0;
  height: 100%;
  background: #2d6cdf;
  border-radius: 2rem;
  pointer-events: none;
  transition: left 0.5s ease, width 0.5s ease;
  z-index:-1;
}

.tab-list .list-item a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  height: 4rem;
  line-height: 4rem;
  padding: 0 2rem;
  display: inline-block;
  transition: all 0.5s ease;
  transition-property: color;
}

.tab-list .list-item:hover a {
  color: #fff;
}

.tab-list .list-item.leave a {
  color: rgba(0, 0, 0, 0.5);
}


.tab-list li.on a {
  color: #fff;
}

.tab-content {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

.tab-cont {
  display: none;
}

.tab-cont.on{
  display: block;
}

@media (max-width: 768px){
  .tab-list {
    background-color: transparent;
    gap: 0.5rem;
  }

  .tab-list > li.list-item__bg {
  display: none;
  }

  .tab-list .list-item a{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
  }

  .tab-list .list-item:hover a {
    background: #2d6cdf;
    border-radius: 2rem;
  }

  .tab-list li.on a {
    color: #fff;
    background: #2d6cdf;
  }
}
