@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face{
  font-family:'GmarketSans';
  src:url('../../font/GmarketSansTTFMedium.ttf');
}

// *{
//   outline: 1px solid turquoise;
// }

.-hidden{
  display: none;
}

$color-purple:#6f42c1;
$color-beige: #fff3cd;
$font-size-s: 1.5rem;
$font-size-m: 2.2rem;
$font-size-l: 4rem;
