// header
@use '../abstacts' as *;

header{
  padding: 30px;

  .header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      h1{
        height: 0;
        overflow: hidden;
      }
      img{
        max-width: 264px;
        width: 40vw;
        vertical-align: middle;
      }
      .logo-mobile{
        display: none;
      }
    }

    .menu{
      display: flex;
      align-items: center;

      .bi-list{
        font-size: $font-size-s;
      }
      span{
        font-family: GmarketSans;
        font-size: $font-size-m;
        font-weight: bold;
      }
    }
  }
}

.aside-bottom{
  width: 100%;
  height: 64px;
  position: fixed;
  bottom: 0;
  color: #fff;
  .aside-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .aside-icons{
      max-width: 700px;
      width: 100%;
      height: 100%;
      background-color: #934098;
      .icons-list{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        .list-item{
          height: 100%;
          padding: 0 30px;
          position: relative;
          a{
            font-size: $font-size-s;
            line-height: 64px;
            display: block;
            color: #fff;

            img{
              margin-right: 10px;
              vertical-align: middle;
              width: 24px;
            }
    
            &:hover{
              color: #ffea00;
            }

            &:hover img{
              filter: sepia() saturate(10000%);
            }
          }
          &::after{
            content: '';
            width: 1px;
            height: 50%;
            display: block;
            position: absolute;
            background-color: #fff;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
    .aside-cell{
      background-color: #232323;
      width: 100%;
      height: 100%;
      p{
        display: inline-block;
        margin: 0 80px;
        line-height: 64px;
        font-size: $font-size-m;
      }
      span{
        font-family: GmarketSans;
        font-weight: bold;
        line-height: 64px;
        font-size: $font-size-l;
        color: #dcc3f6;
      }
    }
  }
}

