// header
@use '../abstacts' as *;

header{
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 999;
  .header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      h1{
        height: 0;
        overflow: hidden;
      }
      img{
        max-width: 264px;
        width: 40vw;
        vertical-align: middle;
      }
      .logo-mobile{
        display: none;
      }
    }
    .menu{
      cursor: pointer;
      display: flex;
      align-items: center;
      .bi-list{
        font-size: $font-size-l;
      }
      span{
        font-family: GmarketSans;
        font-size: min(2vw,$font-size-l);
        font-weight: bold;
      }
    }
  }
}

.aside-bottom{
  width: 100%;
  height: 64px;
  position: fixed;
  bottom: 0;
  color: #fff;
  .aside-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .aside-arrow{
      position: absolute;
      left: 50%;
      bottom: 80px;
      transform: translateX(-50%);
      animation: asideArrow 1s alternate infinite;
    }
    @keyframes asideArrow {
      100%{
        transform: translate(-50%,50%);
      }
    }
    .aside-icons{
      max-width: 700px;
      width: 40%;
      height: 100%;
      background-color: $color-purple;
      flex-grow: 1;
      .icons-list{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        .list-item{
          height: 100%;
          padding: 0 min(2vw,30px);
          position: relative;
          a{
            font-size: clamp(1rem,1vw,$font-size-s);
            line-height: 64px;
            display: block;
            color: #fff;
            img{
              margin-right: 0.5vw;
              vertical-align: middle;
              width: clamp(16px, 1.5vw, 24px);
            }
            &:hover{
              color: #ffea00;
            }
            &:hover img{
              filter: sepia() saturate(10000%);
            }
          }
          &:not(:first-child)::after{
            content: '';
            width: 1px;
            height: 50%;
            display: block;
            position: absolute;
            background-color: #fff;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
    .aside-cell{
      background-color: #232323;
      width: 60%;
      height: 100%;
      flex-grow: 2;
      p{
        display: inline-block;
        margin: 0 min(4vw,80px);
        line-height: 64px;
        font-size: min(1.5vw,$font-size-m);
      }
      span{
        font-family: GmarketSans;
        font-weight: bold;
        line-height: 64px;
        font-size: min(2vw,$font-size-l);
        color: #dcc3f6;
      }
    }
  }
}

.aside-right{
  position: fixed;
  right: 30px;
  bottom: 120px;
  .right-list{
    position: relative;
    height: 110px;
    width: auto;
    .list-item{
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      background-color: $color-purple;
      border-radius: 50px;
      transition: all 0.4s linear;
      a{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        span{
          white-space: nowrap;
          font-size: $font-size-s;
          color: #fff;
          line-height: 50px;
          display: block;
          opacity: 0;
          visibility: hidden;
          margin-left: 40px;
        }
        @keyframes asideRightSpan {
          100%{
            opacity: 1;
          }
        }
        img{
          max-height: 60%;
          width: auto;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
        }
      }
      &:hover span{
        visibility: visible;
        animation: asideRightSpan 0.4s 0.5s forwards;
      }
    }
    .list-item__kakao{
      top: 0;
      &:hover{
        width: 200px;
      }
    }
    .list-item__pencil{
      bottom: 0;
      &:hover{
        width: 200px;
      }
    }
  }
}

.menuAll{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // background-color: #c2a1e2e6;
  background-color: #350565e6;
  z-index: 999;
  .menuAll-wrap{
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    .menuAll-button{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .menuAll-logo{
        a{
          display: block;
          img{
            max-width: 264px;
            width: 40vw;
            vertical-align: middle;
          }
        }
      }
      .menuAll-close{
        i{
          display: block;
          color: #fff;
          width: 50px;
          height: 50px;
          font-size: $font-size-l;
          text-align: center;
        }
      }
    }
    .menuAll-menu{
      max-width: 1324px;
      margin: 30px auto 0;
      position: relative;
      display: flex;
      width: 100%;
      .menu-list{
        position: relative;
        width: 100%;
        .list-item{
          transition: all .5s ease-in-out;
          position: relative;
          display: flex;
          h6{
            flex: 1 0 0%;
            font-size: clamp(12px, 1.5vw, $font-size-l);
            color: #fff;
            margin: 10px 0;
          }
          .subMenu-wrap{
            flex: 1;
            position: relative;
            max-height: 1000px;
            width: 50%;
            // height: 50px;
            overflow: hidden;
            .subMenu-list{
              .list-item{
                a{
                  display: block;
                  font-size: clamp(12px, 1.5vw, $font-size-l);
                  color: #fff;
                }
              }
            }
          }
          &:not(:nth-child(7))::after{
            content: '';
            display: block;
            width: 15%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;
          }
        }
      }
      .text-list{
        .list-item{
          .list-item__text{
            writing-mode: vertical-lr;
            word-spacing: 20px;
            letter-spacing: 1px;
            white-space: nowrap;
            opacity: .4;
            font-size: clamp(12px, 1.5vw, $font-size-l);
          }
        }
      }
    }
    .menuAll-icon{
      position: absolute;
      right: 30px;
      top: 150px;
      .icon-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .list-item{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #fff;
          position: relative;
          transition: all .4s;
          i,
          img{
            transition: all .4s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 25px;
            font-size: 25px;
            color: #350565;
          }
          .item-blog__w{
            opacity: 0;
          }
          &:hover{
            background-color: #350565
          }
          &:hover i{
            color: #fff;
          }
          &:hover .item-blog__w{
            opacity: 1;
          }
          &:hover .item-blog__p{
            opacity: 0;
          }
        }
      }
    }
  }
}

// @media screen and (max-width:758px) {
  
// }

// @media screen and (max-width:420px) {
  
// }