// header
@use '../abstacts' as *;

header{
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 999;
  .header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      h1{
        height: 0;
        overflow: hidden;
      }
      img{
        max-width: 264px;
        width: 40vw;
        vertical-align: middle;
      }
      .logo-mobile{
        display: none;
      }
    }
    .menu{
      display: flex;
      align-items: center;
      .bi-list{
        font-size: $font-size-l;
      }
      span{
        font-family: GmarketSans;
        font-size: min(2vw,$font-size-l);
        font-weight: bold;
      }
    }
  }
}

.aside-bottom{
  width: 100%;
  height: 64px;
  position: fixed;
  bottom: 0;
  color: #fff;
  .aside-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .aside-icons{
      max-width: 700px;
      width: 40%;
      height: 100%;
      background-color: $color-purple;
      flex-grow: 1;
      .icons-list{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        .list-item{
          height: 100%;
          padding: 0 min(2vw,30px);
          position: relative;
          a{
            font-size: clamp(1rem,1vw,$font-size-s);
            line-height: 64px;
            display: block;
            color: #fff;
            img{
              margin-right: 0.5vw;
              vertical-align: middle;
              width: clamp(16px, 1.5vw, 24px);
            }
            &:hover{
              color: #ffea00;
            }
            &:hover img{
              filter: sepia() saturate(10000%);
            }
          }
          &:not(:first-child)::after{
            content: '';
            width: 1px;
            height: 50%;
            display: block;
            position: absolute;
            background-color: #fff;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
    .aside-cell{
      background-color: #232323;
      width: 60%;
      height: 100%;
      flex-grow: 2;
      p{
        display: inline-block;
        margin: 0 min(4vw,80px);
        line-height: 64px;
        font-size: min(1.5vw,$font-size-m);
      }
      span{
        font-family: GmarketSans;
        font-weight: bold;
        line-height: 64px;
        font-size: min(2vw,$font-size-l);
        color: #dcc3f6;
      }
    }
  }
}

.aside-right{
  position: fixed;
  right: 30px;
  bottom: 120px;
  .right-list{
    position: relative;
    height: 110px;
    width: auto;
    .list-item{
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      background-color: $color-purple;
      border-radius: 50px;
      transition: all 0.4s linear;
      a{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        span{
          white-space: nowrap;
          font-size: $font-size-s;
          color: #fff;
          line-height: 50px;
          display: block;
          opacity: 0;
          visibility: hidden;
          margin-left: 40px;
        }
        @keyframes asideRightSpan {
          100%{
            opacity: 1;
          }
        }
        img{
          max-height: 60%;
          width: auto;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
        }
      }
      &:hover span{
        visibility: visible;
        animation: asideRightSpan 0.4s 0.5s forwards;
      }
    }
    .list-item__kakao{
      top: 0;
      &:hover{
        width: 200px;
      }
    }
    .list-item__pencil{
      bottom: 0;
      &:hover{
        width: 200px;
      }
    }
  }
}

.menuAll{
  .menuAll-wrap{
    .menuAll-menu{}
    .menuAll-icon{}
    .menuAll-close{}
  }
}

@media screen and (max-width:758px) {
  
}

@media screen and (max-width:758px) {
  
}