@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: "GmarketSans";
  src: url("../../font/GmarketSansTTFBold.ttf");
}
@font-face {
  font-family: "Noto Serif KR", serif;
}
.-hidden {
  display: none;
}

header {
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrap .logo h1 {
  height: 0;
  overflow: hidden;
}
header .header-wrap .logo img {
  max-width: 264px;
  width: 40vw;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  header .header-wrap .logo .logo-pc {
    display: none;
  }
}
header .header-wrap .logo .logo-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  header .header-wrap .logo .logo-mobile {
    display: block;
  }
}
header .header-wrap .menu {
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .header-wrap .menu .bi-list {
  font-size: 3rem;
}
header .header-wrap .menu span {
  font-family: GmarketSans;
  font-size: min(2vw, 3rem);
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  header .header-wrap .menu span {
    display: none;
  }
}

.aside-bottom {
  width: 100%;
  height: 64px;
  position: fixed;
  bottom: 0;
  color: #fff;
  z-index: 998;
}
.aside-bottom .aside-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside-bottom .aside-wrap .aside-arrow {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  animation: asideArrow 1s alternate infinite;
}
@keyframes asideArrow {
  100% {
    transform: translate(-50%, 50%);
  }
}
.aside-bottom .aside-wrap .aside-icons {
  max-width: 700px;
  width: 40%;
  height: 100%;
  background-color: #934098;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .aside-bottom .aside-wrap .aside-icons {
    width: 60%;
  }
}
.aside-bottom .aside-wrap .aside-icons .icons-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item {
  height: 100%;
  padding: 0 min(2vw, 30px);
  position: relative;
}
@media screen and (max-width: 768px) {
  .aside-bottom .aside-wrap .aside-icons .icons-list .list-item {
    width: 33.33%;
    text-align: center;
    padding: 0;
  }
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item a {
  font-size: clamp(1rem, 1vw, 1.5rem);
  line-height: 64px;
  display: block;
  color: #fff;
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item a img {
  margin-right: 0.5vw;
  vertical-align: middle;
  width: clamp(16px, 1.5vw, 24px);
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item a:hover {
  color: #ffea00;
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item a:hover img {
  filter: sepia() saturate(10000%);
}
@media screen and (max-width: 768px) {
  .aside-bottom .aside-wrap .aside-icons .icons-list .list-item a span {
    display: none;
  }
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item:not(:first-child)::after {
  content: "";
  width: 1px;
  height: 50%;
  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.aside-bottom .aside-wrap .aside-cell {
  background-color: #232323;
  width: 60%;
  height: 100%;
  flex-grow: 2;
}
@media screen and (max-width: 768px) {
  .aside-bottom .aside-wrap .aside-cell {
    width: 40%;
  }
}
.aside-bottom .aside-wrap .aside-cell p {
  display: inline-block;
  margin: 0 min(4vw, 80px);
  line-height: 64px;
  font-size: min(1.5vw, 2.2rem);
  font-family: "Noto Serif KR", serif;
}
@media screen and (max-width: 768px) {
  .aside-bottom .aside-wrap .aside-cell p {
    display: none;
  }
}
.aside-bottom .aside-wrap .aside-cell span {
  font-family: GmarketSans;
  font-weight: bold;
  line-height: 64px;
  font-size: min(2vw, 3rem);
  color: #dcc3f6;
}
@media screen and (max-width: 768px) {
  .aside-bottom .aside-wrap .aside-cell span {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 1.5rem;
  }
}

.aside-right {
  position: fixed;
  right: 30px;
  bottom: 120px;
  z-index: 998;
}
.aside-right .right-list {
  position: relative;
  height: 110px;
}
@media screen and (max-width: 768px) {
  .aside-right .right-list {
    height: 80px;
  }
}
.aside-right .right-list .list-item {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #934098;
  border-radius: 50px;
  transition: all 0.4s linear;
}
@media screen and (max-width: 768px) {
  .aside-right .right-list .list-item {
    width: 35px;
    height: 35px;
  }
}
.aside-right .right-list .list-item a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.aside-right .right-list .list-item a span {
  white-space: nowrap;
  font-size: 1.5rem;
  color: #fff;
  line-height: 50px;
  display: block;
  opacity: 0;
  visibility: hidden;
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .aside-right .right-list .list-item a span {
    line-height: 35px;
  }
}
@keyframes asideRightSpan {
  100% {
    opacity: 1;
  }
}
.aside-right .right-list .list-item a img {
  max-height: 60%;
  width: auto;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .aside-right .right-list .list-item a img {
    right: 7.5px;
  }
}
.aside-right .right-list .list-item:hover span {
  visibility: visible;
  animation: asideRightSpan 0.4s 0.5s forwards;
}
.aside-right .right-list .list-item__kakao {
  top: 0;
}
.aside-right .right-list .list-item__kakao:hover {
  width: 200px;
}
.aside-right .right-list .list-item__pencil {
  bottom: 0;
}
.aside-right .right-list .list-item__pencil:hover {
  width: 200px;
}

.menuAll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(53, 5, 101, 0.9019607843);
  z-index: 998;
  transform: translateY(-50%);
  opacity: 0;
}
.menuAll .menuAll-wrap {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}
.menuAll .menuAll-wrap .menuAll-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menuAll .menuAll-wrap .menuAll-button .menuAll-logo a {
  display: block;
}
.menuAll .menuAll-wrap .menuAll-button .menuAll-logo a img {
  max-width: 264px;
  width: 40vw;
  vertical-align: middle;
}
.menuAll .menuAll-wrap .menuAll-button .menuAll-close i {
  display: block;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  text-align: center;
}
.menuAll .menuAll-wrap .menuAll-menu {
  max-width: 1324px;
  margin: 30px auto;
  position: relative;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 420px) {
  .menuAll .menuAll-wrap .menuAll-menu {
    height: 80%;
    flex-direction: column;
  }
}
.menuAll .menuAll-wrap .menuAll-menu .menu-list {
  position: relative;
  flex: 1;
}
.menuAll .menuAll-wrap .menuAll-menu .menu-list .list-item {
  transition: all 0.5s ease-in-out;
  position: relative;
  display: flex;
}
.menuAll .menuAll-wrap .menuAll-menu .menu-list .list-item h6 {
  flex: 0.5 0%;
  font-size: clamp(12px, 1.5vw, 3rem);
  color: #fff;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  margin-bottom: 10px;
  white-space: nowrap;
}
.menuAll .menuAll-wrap .menuAll-menu .menu-list .list-item .menu-line {
  margin: 1vw;
  flex: 1 0 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  visibility: hidden;
  opacity: 0;
}
.menuAll .menuAll-wrap .menuAll-menu .menu-list .list-item .subMenu-wrap {
  flex: 1 0 0%;
  position: relative;
  max-height: 1000px;
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
}
.menuAll .menuAll-wrap .menuAll-menu .menu-list .list-item .subMenu-wrap .subMenu-list .list-item a {
  display: block;
  font-size: clamp(12px, 1.5vw, 3rem);
  color: #fff;
}
.menuAll .menuAll-wrap .menuAll-menu .text-list {
  flex: 0.2 1 auto;
}
.menuAll .menuAll-wrap .menuAll-menu .text-list .list-item {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.menuAll .menuAll-wrap .menuAll-menu .text-list .list-item .list-item__text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  writing-mode: vertical-lr;
  word-spacing: 5px;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #fff;
  opacity: 0.4;
  font-size: clamp(12px, 1.5vw, 3rem);
  font-family: "Noto Serif KR", serif;
}
@media screen and (max-width: 420px) {
  .menuAll .menuAll-wrap .menuAll-menu .text-list .list-item .list-item__text {
    writing-mode: horizontal-tb;
  }
}
.menuAll .menuAll-wrap .menuAll-icon .icon-list {
  right: 30px;
  top: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .menuAll .menuAll-wrap .menuAll-icon .icon-list {
    flex-direction: row;
    justify-content: space-between;
    top: auto;
    bottom: 30px;
    gap: 0;
    left: 30px;
    right: 30px;
  }
}
.menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  transition: all 0.4s;
}
@media screen and (max-width: 420px) {
  .menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item {
    width: 25px;
    height: 25px;
  }
}
.menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item i {
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  font-size: 25px;
  color: #350565;
}
@media screen and (max-width: 420px) {
  .menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item i {
    width: auto;
    height: auto;
    font-size: 15px;
  }
}
.menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item img {
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  color: #350565;
}
@media screen and (max-width: 420px) {
  .menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item img {
    width: 15px;
    height: 15px;
  }
}
.menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item .item-blog__w {
  opacity: 0;
}
.menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item:hover {
  background-color: #350565;
}
.menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item:hover i {
  color: #fff;
}
.menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item:hover .item-blog__w {
  opacity: 1;
}
.menuAll .menuAll-wrap .menuAll-icon .icon-list .list-item:hover .item-blog__p {
  opacity: 0;
}

.menuAll.active {
  transform: translateY(0%);
  opacity: 1;
  z-index: 999;
}

.menuAll .menuAll-wrap .menuAll-menu .menu-list .list-item.active .menu-line,
.menuAll .menuAll-wrap .menuAll-menu .text-list .list-item.active {
  visibility: visible;
  opacity: 1;
}

.menuAll .menuAll-wrap .menuAll-menu .menu-list .list-item.active .subMenu-wrap {
  height: auto;
}/*# sourceMappingURL=common.css.map */