@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: "GmarketSans";
  src: url("../../font/GmarketSansTTFBold.ttf");
}
* {
  outline: 1px solid turquoise;
}

.-hidden {
  display: none;
}

header {
  padding: 30px;
}
header .header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrap .logo h1 {
  height: 0;
  overflow: hidden;
}
header .header-wrap .logo img {
  max-width: 264px;
  width: 40vw;
  vertical-align: middle;
}
header .header-wrap .logo .logo-mobile {
  display: none;
}
header .header-wrap .menu {
  display: flex;
  align-items: center;
}
header .header-wrap .menu .bi-list {
  font-size: 3rem;
}
header .header-wrap .menu span {
  font-family: GmarketSans;
  font-size: min(2vw, 3rem);
  font-weight: bold;
}

.aside-bottom {
  width: 100%;
  height: 64px;
  position: fixed;
  bottom: 0;
  color: #fff;
}
.aside-bottom .aside-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside-bottom .aside-wrap .aside-icons {
  max-width: 700px;
  width: 40%;
  height: 100%;
  background-color: #934098;
  flex-grow: 1;
}
.aside-bottom .aside-wrap .aside-icons .icons-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item {
  height: 100%;
  padding: 0 min(2vw, 30px);
  position: relative;
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item a {
  font-size: clamp(1rem, 1vw, 1.5rem);
  line-height: 64px;
  display: block;
  color: #fff;
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item a img {
  margin-right: 0.5vw;
  vertical-align: middle;
  width: clamp(16px, 1.5vw, 24px);
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item a:hover {
  color: #ffea00;
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item a:hover img {
  filter: sepia() saturate(10000%);
}
.aside-bottom .aside-wrap .aside-icons .icons-list .list-item:not(:first-child)::after {
  content: "";
  width: 1px;
  height: 50%;
  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.aside-bottom .aside-wrap .aside-cell {
  background-color: #232323;
  width: 60%;
  height: 100%;
  flex-grow: 2;
}
.aside-bottom .aside-wrap .aside-cell p {
  display: inline-block;
  margin: 0 min(4vw, 80px);
  line-height: 64px;
  font-size: min(1.5vw, 2.2rem);
}
.aside-bottom .aside-wrap .aside-cell span {
  font-family: GmarketSans;
  font-weight: bold;
  line-height: 64px;
  font-size: min(2vw, 3rem);
  color: #dcc3f6;
}

.aside-right {
  position: fixed;
  right: 30px;
  bottom: 120px;
}
.aside-right .right-list {
  position: relative;
  height: 110px;
  width: auto;
}
.aside-right .right-list .list-item {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #934098;
  border-radius: 50px;
  transition: all 0.4s linear;
}
.aside-right .right-list .list-item a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.aside-right .right-list .list-item a span {
  white-space: nowrap;
  font-size: 1.5rem;
  color: #fff;
  line-height: 50px;
  display: block;
  opacity: 0;
  visibility: hidden;
  margin-left: 40px;
}
@keyframes asideRightSpan {
  100% {
    opacity: 1;
  }
}
.aside-right .right-list .list-item a img {
  max-height: 60%;
  width: auto;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.aside-right .right-list .list-item:hover span {
  visibility: visible;
  animation: asideRightSpan 0.4s 0.5s forwards;
}
.aside-right .right-list .list-item__kakao {
  top: 0;
}
.aside-right .right-list .list-item__kakao:hover {
  width: 200px;
}
.aside-right .right-list .list-item__pencil {
  bottom: 0;
}
.aside-right .right-list .list-item__pencil:hover {
  width: 200px;
}/*# sourceMappingURL=common.css.map */