@import '../abstacts/_variavles';
@import '../_mixin.scss';

// main
.section1{
  width: 100%;
  height: 100vh;
  .section1-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Noto Serif KR", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section1-title{
      font-size: clamp(18px,3vw,60px)
    }
    .section1-text{
      margin-top: 10px;
      font-size: clamp(9px,.7vw,15px);
      span{
        @include tablet{
          display: block;
        }
      }
    }
  }
}

.section2{
  width: 100%;
  height: 100vh;
  .section2-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .vid-pc{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tablet{
        display: none;
      }
    }
    .vid-mobile{
      display: none;
      @include tablet{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.section3{
  width: 100%;
  height: 100vh;
  .section3-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    .doctor-list{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .list-item{
        height: 100%;
        width: 100%;
        position: relative;
        flex-basis: 25%;
        transition: all 1s;
        cursor: pointer;
        &:hover{
          flex-basis: 50%;
        }
        &:hover img{
          filter: grayscale(0%);
        }
        &:hover .doctor-name{
          font-size: min(5vw,6rem);
          color: #000;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(100%);
          transition: all 1s;
        }
        .doctor-name{
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          margin-bottom: 100px;
          font-size: $font-size-l;
          font-family:'GmarketSans','Noto Sans KR';
          color: #fff;
          transition: all 1s;
        }
      }
      .mobile-doctor{
        display: none;
        @include tablet{
          display: block;
        }
      }
    }
  }
}

.section4{
  width: 100%;
  height: 100vh;
  .section4-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    .section4-content{
      .content-title{
        font-size: 14.7rem;
        font-weight: normal;
        font-family: "Noto Serif KR", serif;
      }
      .content-text{
        font-size: $font-size-s;
      }
      .content-button{
        font-family:'GmarketSans','Noto Sans KR';
        font-size: 1.1rem;
        color: #fff;
        padding: clamp(10px, 3vw, 30px) clamp(20px, 6vw, 50px);
        background-color: #000;
        display: inline-block;
      }
    }
  }
}