@use '../abstacts' as *;
@import '../_mixin.scss';

// main
.section1{
  width: 100%;
  height: 100vh;
  .section1-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Noto Serif KR", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section1-title{
      font-size: clamp(18px,3vw,60px)
    }
    .section1-text{
      margin-top: 10px;
      font-size: clamp(9px,.7vw,15px);
      span{
        @include tablet{
          display: block;
        }
      }
    }
  }
}

.section2{
  width: 100%;
  height: 100vh;
  .section2-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .vid-pc{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tablet{
        display: none;
      }
    }
    .vid-mobile{
      display: none;
      @include tablet{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
