@use '../abstacts/_variavles' as * ;
@import '../_mixin.scss';

// main
.section1{
  width: 100%;
  height: 100vh;
  .section1-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Noto Serif KR", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    .section1-content{
      .section1-title{
        font-size: clamp(18px,3vw,60px);
        display: inline-block;
      }
      .typed-cursor{
        font-size: clamp(18px,3vw,60px);
      }
      .section1-text{
        margin-top: 10px;
        font-size: clamp(9px,.7vw,15px);
        span{
          @include tablet{
            display: block;
          }
        }
      }
    }
  }
}

.section2{
  width: 100%;
  height: 100vh;
  .section2-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .vid-pc{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tablet{
        display: none;
      }
    }
    .vid-mobile{
      display: none;
      @include tablet{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.section3{
  width: 100%;
  height: 100vh;
  .section3-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    .doctor-list{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .list-item{
        height: 100%;
        width: 100%;
        position: relative;
        flex: 1;
        flex-grow: 1;
        transition: all 1s;
        cursor: pointer;
        &:hover{
          flex-grow: 2;
        }
        &:hover img{
          filter: grayscale(0%);
        }
        &:hover .doctor-name{
          font-size: min(5vw,6rem);
          color: #000;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(100%);
          transition: all 1s;
          @include tablet{
            filter: none;
          }
        }
        .doctor-name{
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          margin-bottom: 100px;
          font-size: min(3vw,$font-size-l);
          font-family:'GmarketSans','Noto Sans KR';
          color: #fff;
          transition: all 1s;
          @include tablet{
            font-size: min(5vw,6rem);
            color: #000;
          }
        }
        @include tablet{
          flex: none;
          flex-grow: 1;
          &:hover{
            flex-grow: 1;
          }
        }
      }
      .mobile-doctor{
        display: none;
        @include tablet{
          display: block;
        }
      }
    }
  }
}

.section4{
  width: 100%;
  height: 100vh;
  .section4-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    .section4-content{
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .content-title{
        transition: all 1s;
        transform: translateX(-20%);
        opacity: 0;
        font-size: clamp($font-size-l,10vw,14.7rem);
        font-weight: normal;
        font-family: "Noto Serif KR", serif;
      }
      .content-title.active{
        transform: translateX(0);
        opacity: 1;
      }
      .content-text{
        transition: all 1s;
        transform: translateY(200%);
        font-size: clamp(1.2rem,2vw,$font-size-l );
        opacity: 0;
      }
      .content-text.active{
        opacity: 1;
        transform: translateY(0);
      }
      .content-button{
        font-family:'GmarketSans','Noto Sans KR';
        font-size: 1.1rem;
        color: #fff;
        padding: clamp(10px, 3vw, 30px) clamp(20px, 6vw, 50px);
        background-color: #000;
        display: inline-block;
        margin: 40px auto 0; 
        border-radius: 50px;
        transition: all 1s;
        transform: translateY(100%);
        opacity: 0;
      }
      .content-button.active{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.section5{
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
  text-align: center;
  .section5-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    padding: clamp(50px, 7vw, 100px);
    .section5-content{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .text-wrap{
        margin-bottom: clamp(50px,5vw,100px);
        .text-title{
          font-family: "Noto Serif KR", serif;
          font-size: clamp($font-size-s,5vw,9rem);
          font-weight: normal;
          opacity: 0;
          transform: translateX(-50%);
          transition: all 0.4s 0.8s;
        }
        .text-title.active{
          opacity: 1;
          transform: translateX(0);
        }
        .text-text{
          opacity: 0;
          font-size: clamp($font-size-s,2vw,$font-size-l);
          margin-top: 10px;
          transform: translateX(-50%);
          transition: all 0.4s 1s;
        }
        .text-text.active{
          opacity: 1;
          transform: translateX(0);
        }
      }
      .people-wrap{
        transform: translateY(50%);
        opacity: 0;
        width: 100%;
        height: 100%;
        .people-list{
          width: 100%;
          height: 100%;
          display: flex;
          gap: 1vw;
          align-items: center;
          justify-content: center;
          .list-item{
            height: 100%;
            width: 50%;
            position: relative;
            transition: all 1s;
            overflow: hidden;
            flex-shrink: 1;
            &:hover{
              width: 100%;
              overflow: none;
            }
            &:hover .list-item__text{
              opacity: 1;
            }
            &:hover img{
              filter: grayscale(0%);
            }
            img{
              filter: grayscale(100%);
              height: 100%;
              object-fit: cover;
              transition: all 1s;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
            }
          }
          .list-item__text{
            width: 100%;
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: all 1s;
            span{
              display: block;
              font-size: clamp(9px,1vw,14px);
            }
            a{
              display: inline-block;
              margin-top: 10px;
              color: #fff;
              font-size: clamp(9px,1vw,14px);
              padding: 10px;
              border: 1px solid #fff;
              border-radius: 50px;
            }
          }
        }
      }
      .people-wrap.active{
        opacity: 1;
        transition: all 0.4s;
        transform: translate(0);
      }
    }
  @include laptop{
    padding: clamp(50px, 7vw, 100px) 0;
  }
  }
}

.section6{
  width: 100%;
  height: 100vh;
  .section6-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    .section6-page1{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .page1-mainImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: circle(0%);
        transition: all 1s cubic-bezier( 0.66, 0.01, 0, 1.01 ) 1s;
      }
      .page1-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        opacity: 0;
        transition: opacity 1s 1s;
        p{
          width: 100%;
          white-space: nowrap;
          font-size: clamp($font-size-s, 3vw, 10rem);
          font-family:'GmarketSans','Noto Sans KR';
          color: #fff;
          letter-spacing: 3vw;
          margin-right: -3vw;
          pointer-events: none;
        }
        a{
          margin-top: 2vw;
          display: inline-block;
          font-size: clamp(1.5rem, 2vw, 3rem);
          font-family: "GmarketSans", "Noto Sans KR";
          padding: 2%;
          border: 1px solid #fff;
          color: #fff;
          border-radius: 50px;
          transition: all 0.4s;
          &:hover{
            color: #000;
            background-color: #fff;
          }
        }
      }
    }
    .section6-page1.active .page1-mainImg{
      clip-path: circle(100%);
    }
    .section6-page1.active .page1-text{
      opacity: 1;
    }
    .section6-page2{
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: relative;
      p{
        transition: all 0.5s;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 30%;
        text-align: center;
        transform: translate(-50%,-50%);
        color: #370866;
        font-size: clamp(3rem,6vw,13rem);
        transition: all 1s;
        font-family: "GmarketSans", "Noto Sans KR";
      }
      p.active{
        left: 50%;
        opacity: 1;
      }
    }
  }
}

.section7{
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #f5f5f5;
  background-image: url(../../images/main/yakdo.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 100%;
  @include tablet{
    background-image: none;
  }
  .section7-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: min(10vw,200px);
    .section7-info{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include tablet{
        width: 100%;
      }
      .info-1{
        padding: 1vw;
        border-bottom: 1px solid #aaa;
        .info-title{
          font-size: clamp($font-size-m,1.8vw,$font-size-l);
        }
        .info-1__call{
          display: flex;
          gap: 2vw;
          align-items: center;
          .call-title{
            font-size: clamp($font-size-s,1vw,$font-size-m);
            font-weight: bold;
            white-space: nowrap;
          }
          .call-content{
            display: flex;
            align-items: center;
            span{
              font-size: clamp($font-size-s,2vw,4rem);
              font-weight: bold;
              margin-right: 1vw;
            }
            img{
              width: clamp($font-size-s,2vw,$font-size-l);
              height: clamp($font-size-s,2vw,$font-size-l);
            }
          }
        }
        .info-1__time{
          margin-top: 1vw;
          display: flex;
          gap: 2vw;
          .time-title{
            font-size: clamp($font-size-s,1vw,$font-size-m);
            font-weight: bold;
            white-space: nowrap;
          }
          .time-content{
            font-size: clamp($font-size-s,1vw,$font-size-m);
            .time-content-row{
              display: flex;
              white-space: nowrap;
              flex-wrap: wrap;
              @include tablet{
                gap: 0;
                flex-wrap: wrap;
              }
              .row-1{
                margin-right: 1vw;
                  span{
                  visibility: hidden;
                }
              }
              .row-3{
                margin-right: 1vw;
              }
            }
          }
        }
      }
      .info-2{
        padding: 1vw;
        border-bottom: 1px solid #aaa;
        p{
          font-size: clamp($font-size-s,1vw,$font-size-m);
        }
        .info-2__place{
          margin-bottom: 1vw;
        }
      }
      .info-3{
        padding: 1vw;
        border-bottom: 1px solid #aaa;
        display: none;
        img{
          width: 100%;
        }
        @include tablet{
          display: block;
        }
      }
      .info-4{
        padding: 1vw;
        .info4-button{
          a{
            word-break: keep-all;
            font-size: clamp($font-size-s,1vw,$font-size-m);
            &:not(:last-child)::after{
              content: '|';
              padding: 0 1vw;
            }
          }
        }
        .info-4__address{
          margin-top: 1vw;
          .address-row{
            display: flex;
            flex-wrap: wrap;
            p:first-child{
              width: 220px;
            }
            P{
              font-size: clamp($font-size-s,1vw,$font-size-m);
              font-style: normal;
              white-space: nowrap;
            }
            .address-row__last{
              width: 60%;
            }
          }
        }
      }
    }
  }
}