@use "../abstacts/_variavles" as *;
@import "../_mixin.scss";

.section{
  width: 100%;
  height: 100vh;
}

.section1{
  background-image: url(../../images/sub/01/02/pc-background-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include tablet{
    background-image: url(../../images/sub/01/02/mobile-background-1.jpg);
  }
  .section1-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px;
    color: #fff;
    font-family: "GmarketSans";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include tablet{
      justify-content: flex-start;
      gap: 5vw;
    }
    .section1-subTitle{
      font-size: clamp($font-size-m,3.5vw,7rem);
    }
    .section1-title{
      font-size: clamp(3rem,6.4vw,13rem);
    }
    .section1-text{
      font-size: clamp($font-size-m,3vw,6rem);
      word-break: keep-all;
    }
  }
}

.section2{
  .section2-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
      flex: 0 0 auto;
      width: 45%;
      height: auto;
    }
    .section2-text{
      padding: 0 5vw;
      .text-subTitle{
        color: #350565;
        border-bottom: 4px solid #350565;
        font-size: clamp($font-size-m,2.5vw,4.8rem);
        font-family: "GmarketSans";
        display: inline-block;
        margin-top: 1vw;
      }
      .text-title{
        margin: 2vw 0;
        font-size: clamp($font-size-m,2vw,$font-size-l);
        font-family: "GmarketSans";
      }
      .text-content{
        font-size: clamp($font-size-s,1.5vw,$font-size-m);
      }
    }
  }
}