/** @format */

@charset "utf-8";
.pcbr {
  display: block;
}
.tbbr {
  display: none;
}
.mbbr {
  display: none;
}
.dn {
  display: none;
}

/* common */
html {
  overflow: hidden;
}
.main {
  height: auto;
}

.sec {
  height: 100vh;
  width: 100%;
  position: relative;
}

.sectionNav {
  position: fixed;
  top: 50%;
  left: 2vw;
  transform: translateY(-50%);
  z-index: 100;
}
.sectionNavList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sectionNavItem a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.sectionNavItem a span {
  color: #fff;
  font-size: var(--fz-14);
  font-weight: 500;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
.sectionNavItem a .icon {
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
  position: relative;
}
.sectionNavItem.active a span {
  opacity: 1;
  pointer-events: auto;
}
.sectionNavItem.active a .icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.sectionNavItem.active a .icon {
  background: #fff;
}
.sectionNavItem a:hover .icon {
  border-color: var(--main-colorR);
}
.sectionNavItem.active a:hover .icon {
  background: var(--main-colorR);
}
.sectionNavItem a:hover .icon::before {
  border-color: var(--main-colorR);
}
.sectionNavItem a:hover span {
  color: var(--main-colorR);
  opacity: 1;
}

.linkBox {
}
.linkBox a {
  display: block;
  margin: 0 auto;
  width: fit-content;
  border-radius: 30px;
  padding: 1.1vw 2.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  position: relative;
}
.linkBox a::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 1)
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.5;
  pointer-events: none;
}
.linkBox a span {
  font-family: poppins;
  color: #fff;
  font-size: var(--fz-12);
  font-weight: 500;
  transition: all 0.3s ease;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#track {
  width: 100%;
  height: 100vh;
  will-change: transform;
}

.sec {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* sec1 */
.sec1 {
  background: url(images/main/sec1_bg.png) no-repeat center / cover;
}

.sec2 {
  background-color: #050306;
  height: 100vh;
}
.sec2 .sec2Pin {
  width: 100%;
  height: 100vh;
  position: relative;
}
.sec2 .container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
.sec2 .innerWrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec2 .content1 {
  text-align: center;
  width: 100%;
  position: relative;
}
.sec2 .content1 .title {
  font-size: var(--fz-24);
  font-weight: 600;
  color: #fff;
}
.sec2 .content1 .textBoxAll {
  position: relative;
  margin-top: 24px;
}
.sec2 .content1 .textBox {
  opacity: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.sec2 .content1 .textBox .textKr {
  font-size: var(--fz-55);
  color: #fff;
}
.sec2 .content1 .textBox .textEn {
  margin-top: 20px;
  font-size: var(--fz-24);
  font-weight: 500;
  color: #fff;
}
.sec2 .secBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(images/main/sec2_bg.png) no-repeat center / cover;
}
.sec3 {
  width: 100vw;
  overflow: hidden;
  height: 100%;
  position: relative;
}
.sec3 .container1 {
  height: 100%;
  width: 300vw;
  display: flex;
  align-items: flex-start;
}
.sec3 .container1 .content {
  width: 100vw;
  height: 100%;
}
.sec3 .container1 .content1 {
  background: url(images/main/sec3_bg1.png) center / cover;
}
.sec3 .container1 .content2 {
  background: url(images/main/sec3_bg2.png) center / cover;
}
.sec3 .container1 .content3 {
  background: url(images/main/sec3_bg3.png) center / cover;
}
.sec3 .container1 .content .innerWrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sec3 .container1 .content .contentTitle {
  font-size: var(--fz-80);
  font-weight: 700;
  color: #fff;
}
.sec3 .container1 .content .contentText {
  margin-top: 20px;
  font-size: var(--fz-30);
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}
.sec3 .container1 .content .linkBox {
  margin-top: 20px;
}
.sec3 .sec3ContentNav {
  position: absolute;
  bottom: 36px;
  width: 100vw;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.sec3 .sec3ContentNav .contentNavList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateX(33.3%);
}
.sec3 .sec3ContentNav .contentNavList .contentNavItem {
  width: 33.3%;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  opacity: 0.5;
  transition: all 0.3s;
}
.sec3 .sec3ContentNav .contentNavList .contentNavItem.active {
  opacity: 1;
}
.sec3 .sec3ContentNav .contentNavList .contentNavItem::before {
  content: "";
  position: absolute;
  top: -4.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.sec3
  .container1
  .sec3ContentNav
  .contentNavList
  .contentNavItem.active::before {
  content: "";
  position: absolute;
  top: -5.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 11px;
  height: 11px;
  background-color: #fff;
  border-radius: 50%;
}
.sec3 .sec3ContentNav .contentNavList .contentNavItem::after {
  content: "";
  width: 60%;
  height: 20px;
  background: radial-gradient(
    circle,
    rgb(255 255 255) 0%,
    rgb(255 255 255 / 0%) 100%
  );
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) scaleY(0.5);
  filter: blur(10px);
  opacity: 0;
}
.sec3 .sec3ContentNav .contentNavList .contentNavItem.active::after {
  opacity: 1;
}
.sec3 .sec3ContentNav .contentNavList .contentNavItem a {
  display: inline-block;
  padding-top: 17px;
}
.sec3 .sec3ContentNav .contentNavList .contentNavItem .itemTitle {
  font-size: var(--fz-18);
  color: #fff;
  font-weight: 600;
}

/* sec4 */
.sec4 {
  background: #111 url(images/main/sec4_bg.png) no-repeat right 10% bottom /
    contain;
}
.sec4 .container1 {
  height: calc(100% - 90px);
  margin-top: 90px;
  padding: 3.3vw 0 6.6vw 4%;
}
.sec4 .container .innerWrap {
  height: 100%;
}
.sec4 .containerTitleArea {
}
.sec4 .containerTitleArea .title {
  font-size: var(--fz-24);
  font-weight: 500;
  color: #fff;
}
.sec4 .containerTitleArea .text {
  margin-top: 20px;
  font-size: var(--fz-30);
  font-weight: 500;
  color: #fff;
}
.sec4 .container1 .content {
  margin-top: var(--m50);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.5vw;
}
.sec4 .container1 .content .newsViewList {
  width: 70%;
  position: relative;
}
.sec4 .container1 .content .newsViewList .newsViewItem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.65vw;
  position: absolute;
}
.sec4 .container1 .content .newsViewList .newsViewItem .itemThumb {
  overflow: hidden;
  height: 100%;
  aspect-ratio: 740 / 555;
}
.sec4 .container1 .content .newsViewList .newsViewItem .itemThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec4 .container1 .content .newsViewList .newsViewItem .itemTextArea {
  margin-top: 32px;
}
.sec4 .container1 .content .newsViewList .newsViewItem .itemTitle {
  font-size: var(--fz-34);
  color: #fff;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.sec4 .container1 .content .newsViewList .newsViewItem .itemText {
  margin-top: 20px;
  font-size: var(--fz-18);
  font-weight: 400;
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.sec4 .container1 .content .newsViewList .newsViewItem .itemDate {
  display: inline-block;
  margin-top: 30px;
  font-size: var(--fz-18);
  font-weight: 400;
  color: #fff;
}
.sec4 .container1 .content .newsViewList .newsViewItem .itemBtnBox {
  margin-top: var(--m60);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.sec4 .container1 .content .newsViewList .newsViewItem .itemBtnBox .prevBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec4
  .container1
  .content
  .newsViewList
  .newsViewItem
  .itemBtnBox
  .prevBtn::before,
.sec4
  .container1
  .content
  .newsViewList
  .newsViewItem
  .itemBtnBox
  .nextBtn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 1)
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.5;
  pointer-events: none;
}
.sec4
  .container1
  .content
  .newsViewList
  .newsViewItem
  .itemBtnBox
  .prevBtn
  .icon {
  display: block;
  width: 12px;
  height: 12px;
  background: url(images/common/icon_arr_w.png) center / contain;
}
.sec4 .container1 .content .newsViewList .newsViewItem .itemBtnBox .nextBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-color: var(--main-colorR);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec4
  .container1
  .content
  .newsViewList
  .newsViewItem
  .itemBtnBox
  .nextBtn
  .icon {
  display: block;
  width: 12px;
  height: 12px;
  background: url(images/common/icon_arr_w.png) center / contain;
  transform: scale(-1);
}
.sec4 .container1 .content .newsViewList .newsViewItem .linkBox {
  margin-top: var(--m110);
}
.sec4 .container1 .content .newsList {
  width: 30%;
}
.sec4 .container1 .content .newsList .itemThumb {
  aspect-ratio: 320 / 240;
  width: 320px;
}
.sec4 .container1 .content .newsList .itemThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
