@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
// font-family: "Archivo Black", sans-serif;
// font-family: "Cormorant", serif;

// *{
//   outline: 1px solid turquoise;
// }

.-hidden{
  display: none;
}

.font-Cormorant{
  font-family: "Cormorant", serif;
}

.font-Archivo{
  font-family: "Archivo Black", sans-serif;
}