$font-size-s: 1.5rem;
$font-size-m: 1.8rem;
$font-size-l: 2rem;
$font-size-xl: 4.8rem;
$main-color: #26262c;

$breakpoint-mobile: 420px;
$breakpoint-tablet: 768px;
$breakpoint-laptopSmall: 990px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1920px;
